@import '../../clear';
@import '../../../vars';

.yprice{
    width: 100%;
    display: flex;
    justify-content: space-between;
    .change{
        width: 36%;
        height: 42px;
        padding: 5px 8px;
        border: 1px solid $search-border;
        box-sizing: border-box;
        border-radius: 10px;
        font-family: $noto;
        font-weight: 400;
        font-size: em(16);
        color: $input-shade-color;
        -moz-appearance: textfield;
        &::placeholder{
            color: $input-shade-color;
        }
    }
    .ydropdown{
        width: 25%;
        .name-dropdown{
            font-family: $noto;
            padding: 5px 8px;
            display: flex;
            align-items: center;
            font-weight: 400;
            i{
                right: 8px;
            }
        }
        .items{
            .item{
                padding-left: 8px;
                border-left-width: 2px;
                font-size: em(14);
                font-family: $noto;
            }
        }
    }
}
@media only screen and (max-width: 1600px){
    .yprice{
            .change{
                font-size: em(14);
                &::placeholder{
                    font-size: em(16);
                }
            }
    }
}
@media only screen and (max-width: 1366px){
    .yprice{
        .input_change{
            padding-bottom: 15px;
            .change{
                height: 38px;
            }
        }
    }
}
@media only screen and (max-width: 945px){
    .yprice_container{
        .input_change{
            padding-bottom: 12px;
            .change{
                height: 35px;
            }
        }
    }
}
@media only screen and (max-width: 425px){
    .yprice_container{
        width: 80%;
        margin: 0 auto;
        .input_change{
            justify-content: space-between;
            padding-bottom: 20px;
            .change{
                width: 110px;
                height: 40px;
                font-size: em(16);
            }
        }
    }
}
@media only screen and (max-width: 375px){
    .yprice_container{
        width: 90%;
    }
}







