html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
}

header,
footer,
div,
section,
article,
aside,
main,
input,
button {
  box-sizing: border-box;
  outline: none;
}

h1.yb-main-title {
  font-family: "Fira Sans", sans-serif;
  margin: 0px;
  font-size: 1.625em;
  font-weight: 500;
  color: #2E2E2E;
}

span.yb-gradient {
  background: linear-gradient(180deg, #007880 0%, #5DCCDB 93.75%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yb-tm-box {
  background-color: #fff;
  box-shadow: -6px 6px 15px rgba(224, 224, 224, 0.9), 6px -6px 12px rgba(255, 255, 255, 0.9), -6px -6px 12px rgba(224, 224, 224, 0.2), 6px 6px 12px rgba(224, 224, 224, 0.2), inset 1px -1px 2px rgba(224, 224, 224, 0.5), inset -1px 1px 2px rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 25px 40px;
}

