/node_modules
/public/hot
public/js/site.js
public/css/site.css
resource/js/http.js

/public/storage
/storage/*.key
/vendor
/composer.lock
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

public/mix-manifest.json
.idea/codeStyles/codeStyleConfig.xml
