// Body
$body-bg: #fff;
$search-border: #E2E2E2;
$site-grey: rgba(34, 34, 34, 0.8);
$light-shadow: rgba(0, 0, 0, 0.1);

//Fonts
$fira: 'Fira Sans', sans-serif;
$noto: 'Noto Sans', sans-serif;
$mont: 'Montserrat', sans-serif;
$aleg: 'Alegreya Sans', sans-serif;
$rale: 'Raleway', sans-serif;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$contact-details: rgba(34, 34, 34, 0.97);
$indigo: #6574cd;
$titleblue: #111E6C;
$titlebluefaq: #012152;
$faqtitleblue: #0745A3;
$lianswerfaq: #000000;
$faq-answer_gray:  rgba(34, 34, 34, 0.82);
$faq-answer_blue: #011A3F;
$bgfaq: #F4F7FC;
$use_content: #373737;
$light_blue: #0549CE;
$pink: #f66d9b;
$orange: #f6993f;
$yellow: #ffed4a;
$dark_yellow: #FDC80C;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$active-crumbs: #072F6A;
$presentBlue: #002F76;
$darkblue: #0B3F8D;
$lightgray: #737373;
$crumbsgray: #AFAFAF;
$darkgray-filter: #222222;
$filtergray:rgba(46, 46, 46, 0.76);
$filercheckbox: #696969;

$green: #95E2B6;
$dgreen: #2ECC71;
$red: #FF3434;
$blue: #2603FF;
$yboard: #0C828B;
$grey: #2E2E2E;
$ashen: #C4C4C4;
$dashen: rgba(46, 46, 46, 0.7);
$light-white: #f8f8f8;

$admin-grey: #616161;
$admin-ashen: #C4C4C4;
$admin-line: rgba(212, 215, 217, 0.9);
$admin-purple: #524FFF;
$admin-blue: #2603FF;
$present-gray:#636467;
$faq-gray: 383B3E;





//em function for resizing fonts from em to px
$y-context: 16;
@function em($pixels, $context: $y-context) {
    @return #{$pixels/$context}em;
}
