html, body, #app{
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#app{
    justify-content: center;
    align-items: center;
    padding: 10%;
    box-sizing: border-box;

    .app_excell{
        display: flex;
        height: 100%;
        flex: auto;
        flex-direction: column;

        .excel_row_head{
            display: flex;
            height: 30px;
            padding-left: 30px;
            box-sizing: border-box;
            background-color: rgba(255, 193, 7, 0.5);
        }
        .excel_double_col{
            height: calc(100% - 30px);
            display: flex;
            .excel_col_head{
                flex-direction: column;
                width: 30px;
                height: 100%;
                background-color: rgba(255, 193, 7, 0.5);
            }
            .excel_content{
                display: flex;
                width: calc(100% - 30px);
                background-color: rgba(96, 125, 139, 0.8);
                .excel_row,
                .excel_col{
                    width: 60px;
                    height: 30px;
                    .excel_item{
                        width: 100%;
                        height: 100%;
                        box-sizing: border-box;
                    }
                }
            }
        }
    }

    .letter_item,
    .num_item{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #eff2f3;
    }

    .letter_item{
        width: 60px;
        height: 30px;
    }

    .num_item{
        width: 30px;
        height: 30px;
    }
}
