@import '../clear';
@import '../../vars';

.yb_about-content{
    .y-about_prev{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 40px 0 50px 0;
        background: linear-gradient(180deg, #0B3F8D 0%, #052960 100%);
        img{
            width: 200px;
        }
        h1{
            width: 55%;
            margin: 40px 0 0 0;
            font-family: $rale;
            font-weight: 800;
            font-size: em(24);
            line-height: 28px;
            text-align: center;
            color: #FFFFFF;
        }
    }
    .y-about_desc{
        background: $bgfaq;
        padding: 0 17%;
        .y-about_crumbs{
            display: flex;
            align-items: center;
            padding: 15px 0 22px 0;
            span{
                display: flex;
                align-items: center;
                justify-content: space-between;
                a{
                    font-family: $aleg;
                    font-weight: normal;
                    font-size: em(18);
                    line-height: 22px;
                    color: rgba(34, 34, 34, 0.62);
                    &.active_crumbs{
                        color: $active-crumbs;
                    }
                }
                i{
                    color: rgba(34, 34, 34, 0.55);
                    margin: 0 7px;
                }
            }
        }
        h2{
            font-family: $rale;
            font-weight: 500;
            font-size: em(48);
            line-height: 56px;
            color: $darkblue;
            margin: 0 0 16px 0;
        }
        .yb_about-title{
            margin-bottom: 11px;
            span{
                font-family: $rale;
                font-weight: bold;
                font-size: em(24);
                line-height: 34px;
                color: $darkblue;
                margin-right: 5px;
                height: fit-content;
                display: inline;
            }
            p{
                display: inline;
                margin: 0;
                font-family: $aleg;
                font-weight: normal;
                font-size: em(24);
                line-height: 34px;
                color: rgba(34, 34, 34, 0.82);
            }
        }
        .yb-contacts_data{
            display: flex;
            align-items: center;
            width: 80%;
            margin: 0 auto;
            .yb-contacts_details{
                margin-right: 30px;
                .yb_feedback{
                    font-family: $rale ;
                    font-weight: bold;
                    font-size: em(36);
                    line-height: 42px;
                    color: $darkblue;
                    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
                    margin: 0 0 30px 0;
                }
                .details{
                    display: flex;
                    align-items: center;
                    margin: 0 0 13px 0;
                    a{
                        color: $contact-details;
                        font-family: $noto;
                        font-weight: 500;
                        font-size: em(24);
                        line-height: 140.2%;
                    }
                    .detail_icon{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: $darkblue;
                        width: 54px;
                        height: 54px;
                        border-radius: 50%;
                        margin-right: 24px;
                    }
                    &:last-child{
                        margin: 0;
                    }
                }
            }
        }
        .yb-social_links{
            display: flex;
            align-items: center;
            justify-content: center;
            padding-bottom: 60px;
            a{
                margin-right: 30px;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
}
@media only screen and (max-width: 1600px){
    .yb_about-content{
        .y-about_prev{
            img{
                width: 180px;
            }
            h1{
                font-size: em(22);
            }
        }
        .y-about_desc{
            .y-about_crumbs{
                padding: 10px 0 20px 0;
            }
            h2{
                font-size: em(46);
            }
            .yb_about-title{
                span{
                    font-size: em(22);
                }
                p{
                  font-size: em(22);
                }
            }
            .yb-contacts_data{
                .yb-contacts_details{
                    .yb_feedback{
                        font-size: em(30);
                        margin: 0 0 20px 0;
                    }
                    .details{
                        a{
                            font-size: em(20);
                        }
                        .detail_icon{
                            width: 45px;
                            height: 45px;
                            .locations{
                                width: 30px;
                                height: 30px;
                            }
                            .mail{
                                height: 15px;
                                width: 30px;
                            }
                            .phone{
                                width: 30px;
                                height: 25px;
                            }
                        }
                    }
                }
                svg{
                    width: 490px;
                    height: 350px;
                }
            }
        }
    }
}
@media only screen and (max-width: 1500px){
    .yb_about-content{
        .y-about_desc{
            padding: 0 10%;
        }
    }
}
@media only screen and (max-width: 1440px){
    .yb_about-content{
        .y-about_prev{
            img{
                width: 170px;
            }
            h1{
                font-size: em(20);
            }
        }
        .y-about_desc{

            h2{
                font-size: em(42);
            }
            .yb_about-title{
                width: 85%;
                span{
                    font-size: em(20);
                }
                p{
                    font-size: em(20);
                }
            }
            .yb-social_links{
                a{
                    svg{
                        width: 45px;
                        height: 45px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1366px){
    .yb_about-content{
        .y-about_desc{
            padding: 0 8%;
        }
    }
}
@media only screen and (max-width: 1330px){
    .yb_about-content{
        .y-about_prev{
            img{
                width: 160px;
            }
            h1{
                font-size: em(18);
                margin: 30px 0 0 0;
            }
        }
        .y-about_desc{
            padding: 0 6%;
            .y-about_crumbs{
                padding: 8px 0 15px 0;
                .span{
                    a{
                        font-size: em(16);
                    }
                }
            }
            h2{
                font-size: em(38);
                line-height: 49px;
            }
            .yb_about-title{
                width: 80%;
                span{
                    font-size: em(26);
                }
                p{
                    font-size: em(18);
                }
            }
        }
    }
}
@media only screen and (max-width: 1024px){
    .yb_about-content{
        .y-about_prev{
            h1{
                width: 70%;
            }
        }
        .y-about_desc{
            padding: 0 3%;
            .yb_about-title{
                width: 90%;
            }
            .yb-contacts_data{
                .yb-contacts_details{
                    .yb_feedback{
                        font-size: em(24);
                    }
                    .details{
                        a{
                            font-size: em(16);
                        }

                        .detail_icon{
                            width: 40px;
                            height: 40px;
                            margin-right: 15px;
                        }
                    }

                }
                svg{
                    width: 520px;
                }
            }
            .yb-social_links{
                padding-bottom: 30px;
                a{
                    svg{
                        width: 40px;
                        height: 40px;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 945px){
    .yb_about-content{
        .y-about_desc{
            padding: 0 2%;
            .yb_about-title{
                width: 90%;
                span{
                    font-size: em(24);
                }
                p{
                    line-height: 29px;
                }
            }
            .yb-contacts_data{
                svg{
                    width: 450px;
                    height: 250px;
                }
            }
            .yb-social_links{
                a{
                    margin-right: 25px;
                    &:last-child{
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 768px){
    .yb_about-content{
        .y-about_prev{
            img{
                width: 150px;
            }
            h1{
                width: 85%;
            }
        }
        .y-about_desc{
            .y-about_crumbs{
                span{
                    a{
                        font-size: em(15);
                    }
                    i{
                        font-size: 13px;
                    }
                }
            }
            h2{
                text-align: center;
            }
            .yb-contacts_data{
                .yb-contacts_details{
                    .yb_feedback{
                        font-size: em(22);
                    }
                    .details{
                        .detail_icon{
                            height: 35px;
                            width: 35px;
                            i{
                                font-size: 16px;
                            }
                        }
                    }
                }
                svg{
                    width: 340px;
                }
            }
        }
    }
}
@media only screen and (max-width: 600px){
    .yb_about-content{
        .y-about_prev{
            img{
                width: 215px;
            }
            h1{
                width: 90%;
                font-size: em(24);
                line-height: 28px;
            }
        }
        .y-about_desc{
            .y-about_crumbs{
                display: none;
            }
            h2{
                font-size: em(48);
                line-height: 56px;
                padding-top: 10px;
            }
            .yb_about-title{
                width: 100%;
                display: inline;
                p{
                    font-size: em(24);
                    line-height: 34px;
                    display: inline;
                }
            }
            .yb-contacts_data{
                flex-direction: column;
                .yb-contacts_details{
                    margin-right: 0;
                    .yb_feedback{
                        font-size: em(36);
                        line-height: 42px;
                    }
                    .details{
                        a{
                            font-size: em(24);
                            line-height: 140.2%;
                        }

                        .detail_icon{
                            width: 54px;
                            height: 54px;
                            .phone{
                                width: 35px;
                                height: 30px;
                            }
                            .mail{
                                height: 20px;
                                width: 25px;
                            }
                            .locations{
                                width: 35px;
                                height: 35px;

                            }
                        }
                    }
                }
                svg{
                    width: 420px;
                }
            }
        }
    }
}
@media only screen and (max-width: 425px){
    .yb_about-content{
        .y-about_prev{
            img{
                width: 200px;
            }
            h1{
                font-size: em(18);
                width: 95%;
            }
        }
        .y-about_desc{
            padding: 0 4%;
            .yb_about-title{
                p{
                    font-size: em(17);
                    line-height: 31px;
                }
            }
            .yb-contacts_data{
                .yb-contacts_details{
                    .yb_feedback{
                        font-size: em(32);
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 375px){
    .yb_about-content{
        .y-about_prev{
            img{
                width: 180px;
            }
            h1{
                font-size: em(16);
            }
        }
        .y-about_desc{
            .yb_about-title{
                span{
                    font-size: em(20);
                }
                p{
                    line-height: 24px;
                    font-size: em(15);
                }
            }
            .yb-contacts_data{
                width: 95%;
                .yb-contacts_details{
                    .yb_feedback{
                        font-size: em(32);
                    }
                    .details{


                    }
                }
                svg{
                    width: 350px;
                }

            }
        }
    }
}
@media only screen and (max-width: 320px){
    .yb_about-content{
        .y-about_prev{
            padding: 30px 0 35px 0;
            img{
                width: 150px;
            }
            h1{
                font-size: em(13);
                margin: 20px 0 0 0;
            }
        }
        .y-about_desc{
            h2{
                font-size: em(42);
                line-height: 39px;
            }
            .yb_about-title{
                span{
                    font-size: em(19);
                }
            }
            .yb-contacts_data{
                width: 100%;
                .yb-contacts_details{
                    width: 100%;
                    .yb_feedback{
                        font-size: em(28);
                    }
                    .details{
                        a{
                            font-size: em(22);
                        }
                    }
                }
                svg{
                    width: 300px;
                }

            }
        }
    }
}
