@import '../clear';
@import '../../vars';


.yb-convention_content{
    .yb-convention_prev{
        background: linear-gradient(91.14deg, #0B3F8D 49.02%, #072F6A 67.4%);
        box-shadow: 9px 4px 5px #021531;
        padding: 0 17%;
        .yb-convention_crumbs{
            display: flex;
            align-items: center;
            width: 100%;
            padding: 20px 0;
            span{
                display: flex;
                align-items: center;
                a{
                    font-family: $aleg;
                    font-weight: normal;
                    font-size: em(18);
                    line-height: 22px;
                    color: #FFFFFF;
                }
                i{
                    margin: 0 12px;
                    color: #FFFFFF;
                }
            }
        }
        h1{
            font-family: $rale;
            font-weight: 500;
            font-size: em(48);
            line-height: 56px;
            color: #FFFFFF;
            margin: 0;
            padding: 0 0 20px 0;
        }
    }
    .yb-convention_desc{
        background: $bgfaq;
        padding: 0 17%;
        h2{
            font-family: $rale;
            font-weight: 500;
            font-size: em(36);
            line-height: 42px;
            color: $active-crumbs;
            margin: 0;
            padding: 20px 0 15px 0;
        }
        .yb-use_content{
            font-family: $aleg;
            font-weight: 500;
            font-size: em(18);
            line-height: 28px;
            color: $use_content;
            margin: 0;
            padding-bottom: 12px;
        }
        .yb-content_terms{
            display: flex;
            justify-content: space-between;
            .yb-definition_terms{
                width: 68%;
                background: #FBFCFC;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.33);
                border-radius: 8px;
                padding: 16px 23px 46px 23px;
                ol{
                    /* Идентифицируем счетчик и даем ему имя li. Значение счетчика не указано - по умолчанию оно равно 0 */
                    counter-reset: li;
                }
                .yb-terms_title{
                    .yb-title_btn{
                        font-family: $rale;
                        font-weight: bold;
                        font-size: em(24);
                        line-height: 28px;
                        color: $active-crumbs;
                        margin: 0;
                        display: inline;
                        padding: 0;
                        i{
                            display: none;
                        }
                        &:before{
                            font-family: $noto;
                            font-weight: 600;
                            line-height: 33px;
                            text-transform: lowercase;
                            color: $active-crumbs;
                            counter-increment: li;
                            content: counters(li,".") ". ";
                        }
                    }

                    .yb-subtitle_list{
                        padding: 0 0 20px 4px;
                        font-size: em(16);
                        .yb-subtitle_item{
                            margin: 15px 0;
                            font-family: $aleg;
                            font-weight: normal;
                            font-size: em(16);
                            line-height: 26px;
                            color: rgba(1, 12, 28, 0.79);
                            span{
                                color: #010C1C;
                                font-weight: 500;
                            }
                            &:before{
                                counter-increment: li;
                                content: counters(li,".") ". ";
                            }
                        }
                    }
                }
            }
            .yb-scroll_terms{
                width: 30%;
                height: fit-content;
                background: #07306B;
                box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
                border-radius: 8px;
                .yb-scroll_items{
                    counter-reset: LiCounter;
                    margin: 0;
                    padding: 20px;
                    .yb-scroll_item{
                        font-family: $rale;
                        font-style: normal;
                        font-weight: 600;
                        font-size: em(16);
                        line-height: 22px;
                        color: #FFFFFF;
                        margin-bottom: 16px;
                        cursor: pointer;
                        &:hover{
                            border-bottom: 1px solid rgba(255, 255, 255, 0.71);
                        }
                        &:last-child{
                            margin-bottom: 0;
                        }
                        &:before{
                            font-family: $noto;
                            counter-increment: LiCounter;
                            content: counter(LiCounter) '.';
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1500px){
    .yb-convention_content{
        .yb-convention_prev{
            padding: 0 10%;
        }
        .yb-convention_desc{
            padding: 0 10%;
        }
    }
}
@media only screen and (max-width: 1366px){
    .yb-convention_content{
        .yb-convention_prev{
            padding: 0 8%;
        }
        .yb-convention_desc{
            padding: 0 8%;
        }
    }
}
@media only screen and (max-width: 1300px){
    .yb-convention_content{
        .yb-convention_prev{
            padding: 0 6%;
        }
        .yb-convention_desc{
            padding: 0 6%;
        }
    }
}

@media only screen and (max-width: 1024px){
    .yb-convention_content{
        .yb-convention_prev{
            padding: 0 3%;
            .yb-convention_crumbs{
                padding: 10px 0;
                span{
                    a{
                        font-size: em(15);
                    }
                }
            }
            h1{
                font-size: em(46);
            }
        }
        .yb-convention_desc{
            padding: 0 3%;
        }
    }
}
@media only screen and (max-width: 945px){
    .yb-convention_content{
        .yb-convention_prev{
            padding: 0 2%;
        }
        .yb-convention_desc{
            padding: 0 2%;
            .yb-content_terms{
                .yb-scroll_terms{
                    .yb-scroll_items{
                        .yb-scroll_item{
                           font-size: em(15);
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 768px){
    .yb-convention_content{
        .yb-convention_prev{
            .yb-convention_crumbs{
                display: none;
            }
            h1{
                text-align: center;
                font-size: em(48);
                line-height: 56px;
                padding: 42px 0 54px 0;
            }
        }
        .yb-convention_desc{
            .yb-content_terms{
                .yb-scroll_terms{
                   display: none;
                }
                .yb-definition_terms{
                    width: 100% ;
                    background: none;
                    box-shadow: none;
                    padding: 0;
                    border-radius: 0;
                    .yb-terms_list{
                        .yb-terms_title{
                            width: 100%;
                            .yb-title_btn{
                                position: relative;
                                background: linear-gradient(143.75deg, #FEFFFF -24.96%, #E6E8E8 99.29%);
                                box-shadow: -1px -1px 0px rgba(115, 115, 115, 0.09), 23px 20px 35px rgba(220, 222, 222, 0.02), 28px 28px 113px rgba(220, 222, 222, 0.17), inset -1px -1px 2px #DCDEDE;
                                border-radius: 8px;
                                width: 100%;
                                display: flex;
                                padding: 15px 20px 15px 15px;
                                align-items: center;
                                margin-bottom: 10px;
                                font-size: em(22);
                                &.br_margin{
                                    margin-bottom: 0;
                                    border-radius: 8px 8px 0 0;
                                }
                                i{
                                    display: flex;
                                    position: absolute;
                                    right: 20px;
                                }
                            }
                            .yb-subtitle_list{
                                display: none;
                                padding: 15px 20px 20px 15px;
                                background: #FBFCFC;
                                box-shadow: 0 4px 1px rgba(0, 0, 0, 0.33);
                                border-radius: 0 8px;
                                margin-bottom: 20px;
                                .yb-subtitle_item{
                                    margin: 0 0 15px 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 600px){
    .yb-convention_content{
        .yb-convention_desc{
            .yb-content_terms{
                .yb-definition_terms{
                    .yb-terms_list{
                        .yb-terms_title{
                            .yb-title_btn{
                                font-size: em(18);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 425px){
    .yb-convention_content{
        .yb-convention_prev{
            padding: 0 4%;
            h1{
                font-size: em(42);
                line-height: 49px;
                padding: 32px 0 44px 0;
            }
        }
        .yb-convention_desc{
            padding: 0 4%;
            .yb-use_content{
                font-size: em(16);
                line-height: 25px;
            }
            .yb-content_terms{
                .yb-definition_terms{
                    .yb-terms_list{
                        .yb-terms_title{
                            .yb-title_btn{
                                font-size: em(16);
                                line-height: 22px;
                                text-align: start;
                                display: inline;
                                i{
                                    top: 45%;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}
@media only screen and (max-width: 375px){
    .yb-convention_content{
        .yb-convention_prev{
            h1{
                font-size: em(36);
                line-height: 42px;
            }
        }
        .yb-convention_desc{
            h2{
                font-size: em(24);
                line-height: 28px;
            }
            .yb-use_content{

            }
            .yb-content_terms{
                .yb-definition_terms{
                    .yb-terms_list{
                        .yb-terms_title{
                            .yb-title_btn{
                                padding: 10px 30px 10px 15px;
                                i{
                                    top: 40%;
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}
@media only screen and (max-width: 320px){
    .yb-convention_content{
        .yb-convention_prev{
            h1{
                font-size: em(32);
                line-height: 38px;
                padding: 38px 0;
            }
        }
        .yb-convention_desc{
            h2{
                font-size: em(24);
                line-height: 28px;
                text-align: center;
            }
            .yb-content_terms{
                .yb-definition_terms{
                    .yb-terms_list{
                        .yb-terms_title{
                            .yb-title_btn{
                                font-size: em(15);
                                i{
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}

