@import '../../vars';

.yb-content{
    position: relative;
    .yb_bread-links{
        width: 100%;
        margin: 30px 0;
       .yb_links-items{
           width: 100%;
           padding: 0;
           margin: 0;
           display: flex;
           .yb_links-item{
               a{
                   font-family: $aleg;
                   font-weight: normal;
                   font-size: em(18);
                   line-height: 22px;
                   color: #AFAFAF;
                   &.active_link{
                       color: $darkblue;
                   }
               }
               i{
                   color: #AFAFAF;
                   margin: 0 7px;
               }
           }
       }
    }
    .yb_content-title{
        margin: 0;
        font-family: $rale;
        font-weight: 500;
        font-size: em(48);
        line-height: 56px;
        display: flex;
        align-items: center;
        color: $darkblue;
    }
    .yb-row_end{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 30px;
        .remove_items{
            display: flex;
            font-family: $aleg;
            font-weight: normal;
            font-size: em(18);
            line-height: 22px;
            color: $darkblue;
            margin-right: 20px;
            svg{
                margin-right: 7px;
            }
        }
        .ydropdown{
            position: relative;
            background: #F9F9FA;
            box-shadow: 1px 3px 8px 1px rgba(52, 110, 197, 0.28);
            border-radius: 8px;
            height: 35px;
            padding: 0 14px;
            display: flex;
            align-items: center;
            max-width: 220px;
            width: 220px;
            justify-content: space-between;
            .value{
                font-family: $aleg;
                font-weight: 500;
                font-size: em(18);
                line-height: 22px;
                color: $darkblue;
            }
            i{
                margin-left: 22px;
                color: $darkblue;
            }
            .items{
                position: absolute;
                width: 100%;
                overflow: scroll;
                overflow-x: hidden;
                background: #FFFFFF;
                box-shadow: 0px 0px 5px 1px rgba(52, 110, 197, 0.28);
                border-radius: 8px;
                max-height: 140px;
                top: 42px;
                left: 0;
                z-index: 2;
                .item{
                    display: flex;
                    align-items: center;
                    padding-left: 14px;
                    height: 35px;
                    font-family: $aleg;
                    font-weight: normal;
                    font-size: em(18);
                    line-height: 22px;
                    color: rgba(0, 0, 0, 0.83);
                    i{
                        display: none;
                    }
                    &.checked{
                        background: rgba(221, 241, 255, 0.64);
                    }
                }
            }
        }
    }
    .yb-row_items{
        display: flex;
        flex-flow: wrap;
        align-items: center;
        justify-content: space-between;
        .yb_favorite-item{
            width: 23%;
            border-radius: 15px;
            overflow: hidden;
            margin-bottom: 15px;
            box-shadow: 0px 16px 77px rgba(0, 0, 0, 0.06), 0px 9px 23px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
            .yb-fv_image{
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                .yb-icon_check{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: $mont;
                    font-weight: bold;
                    font-size: em(12);
                    line-height: 15px;
                    color: #FFFFFF;
                    width: 42.42px;
                    height: 42.97px;
                    position: absolute;
                    background: $dark_yellow;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
                    border-radius: 53px;
                    top: 15px;
                    left: 15px;
                }
                img{
                    width: 100%;
                }
            }
            .yb-item_desc{
                padding: 15px 10px;
                border-radius: 0px 0px 15px 15px;
                background: linear-gradient(135deg, #FFFFFF 0%, #FFFFFF 100%);
                h2{
                    font-family: $mont;
                    font-weight: 500;
                    margin: 0;
                    margin-bottom: 15px;
                    font-size: em(18);
                    line-height: 142.5%;
                    color: $darkgray-filter;
                }
                .yb_item-price{
                    font-family: $mont;
                    font-style: normal;
                    font-weight: 500;
                    font-size: em(24);
                    line-height: 29px;
                    color: $dgreen;
                }
                .yb_row-double{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 20px;
                    .yb_loc{
                        font-family: $mont;
                        font-weight: 500;
                        font-size: em(18);
                        line-height: 22px;
                        color: rgba(34, 34, 34, 0.33);
                    }
                    .yb_remove{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        button{
                            display: none;
                            align-items: center;
                            font-family: $aleg;
                            font-weight: normal;
                            font-size: em(15);
                            line-height: 18px;
                            color: #C7C7C7;
                            margin-right: 10px;
                            svg{
                                margin-right: 5px;
                                height: 15px;
                                width: 12px;
                            }
                        }
                    }
                }
            }
            &:hover .is_hover{
                display: flex!important;
            }
        }
    }
}
@media only screen and (max-width: 1600px){
    .yb-content{
        .yb_content-title{
            font-size: em(40);
            line-height: 38px;
        }
        .yb-row_end{
            margin-bottom: 25px;
        }
        .yb-row_items{
            .yb_favorite-item{
                .yb-item_desc{
                    h2{
                        font-size: em(15);
                    }
                    .yb_item-price{
                        font-size: em(20);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1500px){
    .yb-content{
        .yb_bread-links{
            margin: 25px 0;
        }
    }
}
@media only screen and (max-width: 1024px){
    .yb-content{
        .yb-row_items{
            .yb_favorite-item{
                .yb-fv_image{
                    .yb-icon_check{
                        width: 30px;
                        height: 30px;
                        font-size: em(10);
                        border-radius: 50%;
                    }
                }
                .yb-item_desc{
                    h2{
                        font-size: em(14);
                        margin-bottom: 10px;
                    }
                    .yb_item-price{
                        font-size: em(18);
                    }
                    .yb_row-double{
                        margin-top: 10px;
                        .yb_loc{
                            font-size: em(16);
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 945px){
    .yb-content{

        .yb-row_items{
            .yb_favorite-item{
                width: 24%;
            }
        }
    }
}
@media only screen and (max-width: 768px){
    .yb-content{
        .yb-row_items{
            .yb_favorite-item{
                width: 32%;
            }
        }
    }
}
@media only screen and (max-width: 600px){
    .yb-content{
        .yb_bread-links{
            display: none;
            .yb_links-items{
                .yb_links-item{
                    a{
                        font-size: em(14);
                    }
                    i{
                        font-size: 12px;
                        margin: 0 5px;
                    }
                }
            }
        }
        .yb_content-title{
            font-size: em(32);
            margin: 20px 0px 10px 0px;
        }
        .yb-row_end{
            margin-bottom: 15px;
            .remove_items{
                font-size: em(16);
                svg{
                    width: 12px;
                    height: 13px;
                }
            }
            .ydropdown{
                height: 30px;
                width: 190px;
                .value{
                    font-size: em(15);
                }
                i{
                    font-size: em(12);
                }
                .items{
                    .item{
                        font-size: em(16);
                    }
                }
            }
        }
        .yb-row_items{
            .yb_favorite-item{
                width: 48%;
                .yb-fv_image{
                    .yb-icon_check{
                        width: 40px;
                        height: 40px;
                        font-size: em(14);
                    }
                }
                .yb-item_desc{
                    h2{
                        font-size: em(18);
                    }
                    .yb_item-price{
                        font-size: em(20);
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 425px){
    .yb-content{
        .yb_content-title{
            font-size: em(28);
            margin-bottom: 15px;
        }
        .yb-row_end{
            flex-direction: column-reverse;
            align-items: inherit;
            .remove_items{
                align-items: center;
            }
            .ydropdown{
                margin-bottom: 20px;
            }
        }
        .yb-row_items{
            .yb_favorite-item{
                .yb-fv_image{
                    .yb-icon_check{
                        width: 35px;
                        height: 35px;
                        font-size: em(10);
                    }
                }
                .yb-item_desc{
                    padding: 10px 8px;
                    h2{
                        font-size: em(11);
                        margin-bottom: 5px;
                    }
                    .yb_item-price{
                        font-size: em(16);
                    }
                    .yb_row-double{
                        margin-top: 5px;
                        .yb_loc{
                            font-size: em(14);
                        }
                        .yb_remove{
                            button{
                                display: flex;
                            }
                            svg{
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 375px){
    .yb-content{
        .yb_content-title{
            font-size: em(26);
        }
        .yb-row_items{
            .yb_favorite-item{
                width: 100%;
                .yb-item_desc{
                    padding: 15px 10px;
                    h2{
                        font-size: em(18);
                    }
                    .yb_item-price{
                        font-size: em(18);
                    }
                    .yb_row-double{
                        .yb_loc{
                            font-size: em(16);
                        }
                        .yb_remove{
                            button{
                                font-size: em(16);
                                margin-right: 15px;
                                svg{
                                    height: 18px;
                                    width: 14px;
                                }
                            }
                            svg{
                                width: 20px;
                                height: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}
