@import '../../vars';

header.yb-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 9;
    position: fixed;
    align-items: center;
    padding: 0 17%;
    background-color: $body-bg;
    box-shadow: 0 4px 4px $light-shadow;

    .yb-header-left{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        position: relative;
        .yb-logo{
            height: 30px;
            margin-right: 35px;
            img{
                height: 100%;
            }
        }
    }

    .yb-header-right{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: 35px;
        //.ylocation-box{
        //    width: 180px;
        //    align-items: center;
        //    display: flex;
        //    position: relative;
        //    .loc_icon{
        //        color: #0B3F8D;
        //        font-size: em(18);
        //        position: absolute;
        //        padding-right: 10px;
        //        z-index: 4;
        //        left: 6px;
        //
        //    }
        //    .list-toggle{
        //        position: absolute;
        //        right: 20px;
        //        z-index: 4;
        //        color: rgba(91, 91, 91, 0.54);
        //        &.arrow_hide{
        //            display: none;
        //        }
        //    }
        //    .ylocation{
        //        input{
        //            padding-left: 30px;
        //            font-size: em(18);
        //            font-weight: 500;
        //            &::placeholder{
        //                color: $site-grey;
        //            }
        //        }
        //    }
        //    &.search_hide{
        //        display: none;
        //    }
        //    &.loc_long{
        //        width: 260px;
        //    }
        //}
        .yb-vis_right{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 15%;
            .yb-favorite{
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                i{
                    color: $darkblue;
                    font-size: em(26);
                }
                .yb_count_items{
                    position: absolute;
                    top: -5px;
                    right: -5px;
                    width: 13px;
                    height: 13px;
                    background: #F00C0C;
                    font-family: $noto;
                    font-weight: 600;
                    font-size: em(8);
                    line-height: 11px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #FFFFFF;
                    border-radius: 50%;
                }
                .yb_favorite-null{
                    width: 300px;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    background: linear-gradient(137.38deg, #FFFFFF 4.15%, #FFFFFF 100%);
                    box-shadow: -1px 1px 2px rgba(140, 140, 140, 0.2), 1px -1px 2px rgba(140, 140, 140, 0.2), -1px -1px 2px rgba(255, 255, 255, 0.9), 1px 1px 3px rgba(140, 140, 140, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(140, 140, 140, 0.5);
                    border-radius: 15px;
                    top: 40px;
                    right: -5px;
                    padding: 15px;
                    .yb-image_null{
                        width: 40%;
                        margin: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        img{
                            width: 100%;
                        }
                    }
                    .yb_desc-null{
                        h1{
                            font-family: $rale;
                            font-weight: 500;
                            font-size: em(18);
                            line-height: 26px;
                            color: $darkblue;
                            margin: 0;
                            margin-bottom: 8px;
                        }
                        p{
                            font-family: $aleg;
                            font-weight: normal;
                            font-size: em(14);
                            line-height: 18px;
                            color: #222222;
                            margin: 0;
                        }
                    }
                    &:after{
                        content: "";
                        position: absolute;
                        right: 9px;
                        top: -10px;
                        width: 20px;
                        height: 20px;
                        background: inherit;
                        transform: rotate(-134deg);
                        box-shadow: inset -5px -8px 0px -4px rgba(140, 140, 140, 0.2);
                    }
                }
            }
            .yb-lang-switcher{
                display: flex;
                align-items: center;
                margin-right: 20px;
                .ylang{
                    font-family: $aleg;
                    font-style: normal;
                    font-weight: 500;
                    font-size: em(18);
                    line-height: 22px;
                    padding: 0;
                    color: #C4C4C4;
                    &:focus{
                        color: rgba(34, 34, 34, 0.82);
                    }
                    &:nth-child(1){
                        position: relative;
                        margin-right: 18px;
                        &:after{
                            content: '';
                            top: -1px;
                            right: -10px;
                            width: 2px;
                            height: 100%;
                            background-color: #C4C4C4;
                            position: absolute;
                        }
                    }
                    &.active{
                        color: $site-grey;
                    }
                }
                &.leng_hide{
                    display: none;
                }
            }
        }

    }
}

@media only screen and (max-width: 1600px){
    header.yb-header{
        .yb-header-right{

        }
    }
}
@media only screen and (max-width: 1500px){
    header.yb-header{
        padding: 0 10%;
    }

}
@media only screen and (max-width: 1440px){
    header.yb-header{

    }
}
@media only screen and (max-width: 1366px){
    header.yb-header {
        padding: 0 8%;
    }

}
@media only screen and (max-width: 1330px){
    header.yb-header{
        padding: 0 6%;
    }
}

@media only screen and (max-width: 1024px){
    header.yb-header{
        padding: 0 3%;
        .yb-header-left{
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .yb-logo{
                height: 25px;
                margin-right: 40px;

            }
            .ymenu{
                .ymenu-visual{
                    height: 30px;
                    width: 180px;
                    .vis-l{
                        font-size: em(16);
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 945px){
    header.yb-header {
        padding: 0 2%;
        .yb-header-right{
            margin-left: 20px;
        }
    }
}
@media only screen and (max-width: 768px){
    header.yb-header{
        .yb-header-left{
            flex-direction: row-reverse;
            width: 55%;
            justify-content: space-between;
            .yb-logo{
                margin-right: 0;
            }
            .ymenu{
                .ymenu-visual{
                    width: 50px;
                    .vis-l{
                        .vis-burger{
                            margin: 0;
                        }
                        .ymenu-title{
                            display: none;
                        }
                    }
                    .vis-r{
                        display: none;
                    }
                }


            }
        }
        .yb-header-right{
            position: absolute;
            width: 86%;
            right: 15px;
            justify-content: flex-end;
            margin-left: 0;
            .yb-vis_right{
                width: 5%;
                .yb-lang-switcher{
                    display: none;
                }
            }
        }
    }
}
@media only screen and (max-width: 600px){
    header.yb-header{
        .yb-header-left{
            position: initial;
            .yb-logo{
                margin-right: 0;
            }
        }
    }
}
@media only screen and (max-width: 425px){
    header.yb-header{
        height: 50px;
        padding: 0 4%;
        .yb-header-left{
            .yb-logo{
                height: 18px;
            }
        }
        .yb-header-right{
            width: 80%;
            &.yb-fullright_zero{
                right: 0;
                width: 100%;
            }
            .yb-vis_right{
                width: 10%;
            }
        }
    }
}
@media only screen and (max-width: 375px){
    header.yb-header{
        .yb-header-left{
            position: initial;
        }
        .yb-header-right{
            width: 78%;
        }
    }
}
@media only screen and (max-width: 320px){
    header.yb-header{
        .yb-header-right{
            width: 75%;
        }
    }
}

