@import '../../vars';

.yb-content{
    .yb-first_screen{
        .yb-form{
            position: relative;
            width: 100%;
            display: flex;
            justify-content: space-between;
            border-radius: 0px 0px 12px 12px;
            background: linear-gradient(179.92deg, rgba(27, 27, 27, 0.63) -60.3%, rgba(27, 27, 27, 0.08) 103.54%), #0B3F8D;
            .yb-form_left{
                width: 31%;
                padding: 35px 0 0 35px;
                position: relative;
                background: #F7F7F7;
                .yb-main-links{
                    padding: 0;
                    margin: 0;
                    .yb-main-link{
                        margin-bottom: 15px;
                        font-family: $mont;
                        font-size: em(16);
                        a{
                            font-weight: 500;
                            color: #0B3F8D;
                        }
                    }
                }
            }

            .yform{
                position: absolute;
                left: 22.5%;
                top: 35px;
                width: 55%;
                background-color: #fff;
                z-index: 8;
            }

            .yb-form_right{
                padding: 35px 35px 0 0;
                width: 21%;
                margin-bottom: 65px;

                .yexpended{
                    margin-bottom: 40px;
                }
            }
        }
        padding: 0px 17%;

    }

    .yb-stickers{
        padding: 0px 17%;
        width: 100%;
        margin: 30px 0 45px;
        display: flex;
        justify-content: space-between;
        .yb-sticker{
            display: flex;
            text-align: center;
            justify-content: center;
            box-shadow: 3px 3px 8px rgba(27, 27, 27, 0.61);
            border-radius: 10px;
            width: 48.3%;
            max-height: 215px;
            position: relative;
            overflow: hidden;
            margin-right: 29px;
            .yb-sticker_logo{
                display: flex;
                align-items: center;
                position: absolute;
                margin-top: 15px;
                margin-left: 15px;
                z-index: 2;
                left: 0;
                .brand_title{
                    color: #fff;
                    font-size: em(18);
                    font-family: $aleg;
                    font-weight: 500;
                    margin-right: 10px;
                }
                img{
                    width: 35px;
                }
            }

            .background_style{
                position: absolute;
                width: 100%;
                height: 100%;
            }

            .img-context{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                padding: 0;
                img{
                    width: 100%;
                    margin: 0;
                }
            }

            .yb-sticker_title{
                position: absolute;
                font-family: $rale;
                font-style: normal;
                font-weight: 500;
                bottom: 0;
                font-size: em(24);
                margin: 0;
                padding: 30px;
            }

            &:last-child{
                margin-right: 0px;
            }
        }
    }

    .yb-best_offers{
        box-shadow: 0px -2px 4px rgba(78, 78, 78, 0.15);
        padding-bottom: 40px;
        //border-top: 1px solid #C7C7C7;
        padding: 0px 17%;
        width: 100%;
        background: linear-gradient(179.87deg, rgba(255, 255, 255, 0.97) -67.8%, rgba(255, 255, 255, 0.94) 103.31%), #697C8C;
    }

    .yb-catalog{
        padding: 0px 17%;
        position: relative;
        width: 100%;
    }

    .yb-analytics{
        padding: 0px 17%;
        position: relative;
        width: 100%;
    }

    .yb-news{
        padding: 0px 17%;
        width: 100%
    }
}

@media only screen and (max-width: 1600px){
    .yb-content{
        .yb-first_screen{
            .yb-form{
                .yb-form_left{
                    width: 26%;
                }
                .yform{
                    width: 53%;
                    top: 24px;
                }
                .yb-form_right{
                    width: 23%;
                    margin-bottom: 40px;
                }
            }
        }
        .yb-stickers{
            .yb-sticker{
                .img-context{
                    img{
                        width: 120%;

                    }
                }
                .yb-sticker_title{
                    font-size: em(20);
                    font-weight: bold;
                }
            }
        }
    }
}
@media only screen and (max-width: 1500px){
    .yb-content{
        .yb-first_screen, .yb-stickers, .yb-best_offers, .yb-catalog, .yb-analytics, .yb-news{
            padding: 0px 10%;
        }
    }

}
@media only screen and (max-width: 1366px){
    .yb-content{
        .yb-first_screen, .yb-stickers, .yb-best_offers, .yb-catalog, .yb-analytics, .yb-news{
            padding: 0px 8%;
        }
    }

}
@media only screen and (max-width: 1330px){
    .yb-content{
        .yb-first_screen, .yb-stickers, .yb-best_offers, .yb-catalog, .yb-analytics, .yb-news{
            padding: 0px 6%;
        }
    }

}
@media only screen and (max-width: 1440px){
    .yb-content{
        .yb-first_screen{
            .yb-form{
                .yb-form_left{
                    padding: 30px 0 0 25px;
                }
                .yform{
                    padding: 20px 25px;
                    width: 55%;
                    top: 22px;
                    left: 22%;
                    .left_options{

                    }
                    .another_options{
                        .yoption_btn{
                            .change_type{
                                font-size: em(16);
                            }
                        }
                        .yresource_options{
                            padding: 10px;
                        }
                    }
                }
                .yb-form_right{
                    padding: 30px 25px 0 0;
                    margin-bottom: 15px;
                    width: 20%;
                }
            }
        }
        .yb-stickers{
            .yb-sticker{
                max-height: 170px;
                .img-context{
                    img{


                    }
                }
                .yb-sticker_title{
                    font-size: em(18);
                }
            }
        }
    }
}
@media only screen and (max-width: 1366px){
    .yb-content{
        .yb-first_screen{
            .yb-form{
                .yb-form_left{
                    .yb-main-links{
                        .yb-main-link{
                            font-size: em(15);
                        }
                    }
                }
                .yform{
                    top: 16px;
                    .another_options{
                        .yoption_btn{
                            margin-bottom: 10px;
                            .change_type{
                                font-size: em(16);
                                height: 38px;
                            }
                        }
                        .yprice_options{
                            padding: 5px 10px 15px;
                            margin-bottom: 10px;
                            .ytitle_option{
                                font-size: 16px;
                                margin: 0 0 10px;
                            }
                        }
                        .yresource_options{
                            padding: 10px;
                        }
                    }
                }
                .yb-form_right{
                    padding: 30px 25px 0 0;
                    margin-bottom: 0px;
                    width: 25%;
                }
            }
        }
    }
}
@media only screen and (max-width: 1280px){
    .yb-content{
        .yb-first_screen{
            .yb-form{
                .yb-form_left{
                    width: 30%;
                    padding: 30px 0 0 20px;
                    .yb-main-links{
                        .yb-main-link{

                        }
                    }
                }
                .yform{
                    .another_options{
                        .yoption_btn{

                            .change_type{

                            }
                        }
                        .yprice_options{

                            .ytitle_option{

                            }
                        }
                        .yresource_options{

                        }
                    }
                }
                .yb-form_right{
                    padding: 30px 20px 0 0px;
                    margin-bottom: 25px;

                }
            }
        }
    }
}

@media only screen and (max-width: 1024px){
    .yb-content{
        .yb-first_screen, .yb-stickers, .yb-best_offers, .yb-catalog, .yb-analytics, .yb-news{
            padding: 0px 3%;
            .yb-form{
                .yform{
                    top: 13px;
                }
            }
        }
    }
}

@media only screen and (max-width: 945px){
    .yb-content{
        .yb-first_screen{
            padding: 0px 0%;
            .yb-form{
                .yform{
                    top: 23px;
                    width: 53%;
                    left: 23%;
                        .left_options{
                            .selector-rows{
                                .autocomplete{
                                    height: 35px;
                                    .input-dropdown{
                                        height: 100%;
                                    }
                                }
                                .yform-submit{
                                    button{
                                        height: 35px;
                                    }
                                }
                            }
                        }
                    .another_options{
                        .yoption_btn{
                            .change_type{
                                height: 35px;
                            }
                        }
                        .yprice_options{
                            .ytitle_option{
                                font-size: em(15);
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 945px){
    .yb-content{
        .yb-stickers{
            padding: 0px 15px;
            margin: 15px 0 30px;
                .yb-sticker{
                    margin-right: 12px;
                    max-height: 140px;
                }
        }
    }
}
@media only screen and (max-width: 945px){
    .yb-content{
        .yb-best_offers{
            padding: 0px 15px;
        }
    }
}


