@import '../clear';
@import '../../vars';

.ycats{
    .yb-drop_down{
        .cat_drop-down{
            display: flex;
            background: linear-gradient(0deg, #0B3F8D, #0B3F8D), #FFFFFF;
            box-shadow: 0px 4px 10px rgba(0, 120, 128, 0.16);
            border-radius: 12px;
            font-family: $aleg;
            font-style: normal;
            font-weight: 500;
            font-size: em(22);
            line-height: 26px;
            text-align: center;
            width: 236px;
            height: 54px;
            justify-content: space-evenly;
            text-align: center;
            align-items: center;
            color: #FFFFFF;
        }
    }
}
