@import '../clear';
@import '../../vars';

.ycheck{
    display: flex;
    align-items: center;
    cursor: pointer;

    i{
        &.fa-square{
            color: $i-color;
        }
        &.fa-check-square{
            color: $dgreen;
        }
    }

    .ycheck-label{
        font-family: $aleg;
        font-weight: normal;
        font-size: em(16);
        line-height: 19px;
        color: $filercheckbox;
        margin-left: 10px;
    }
    &:last-child{
        margin-right: 0;
    }
}


