@import '../../vars';

.yexpended{
    .ex_search{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $aleg;
        font-weight: bold;
        font-size: em(18);
        line-height: 22px;
        text-align: center;
        padding: 0;

        .arrow{
            position: absolute;
            right: 10px;
            width: 50px;
            z-index: 1;
        }

        .eclipse{
            position: relative;
            font-size: em(32);
            padding-left: 40px;
            display: flex;
            align-items: center;
            &:after{
                content: '';
                position: absolute;
                left: 12px;
                width: 30px;
                height: 2px;
                z-index: 3;
            }

        }

        &.white{
            color: #fff;
            width: 100%;

            .arr_path{
                fill: $darkblue;
            }

            .eclipse{
                color: #fff;
                &:after{
                    background-color: #fff;
                }

            }
        }

        &.blue{
            color: $darkblue;
            width: 100%;

            .arr_path{
                fill: #fff;
            }

            .eclipse{
                color: $darkblue;
                &:after{
                    background-color: $darkblue;
                }

            }
        }

    }
}

@media only screen and (max-width: 1600px){
    .yexpended{
        .ex_search {
            justify-content: flex-end;
            font-size: 16px;
            .arrow{
                width: 34px;
            }
            .eclipse{
                &:after{
                    width: 20px;
                    left: 21px;
                    height: 2px;

                }

            }
        }
    }
}

@media only screen and (max-width: 1440px){
    .yexpended{
        .ex_search {
            justify-content: flex-end;
            .arrow{

            }
            .eclipse{
            }
        }
    }
}
@media only screen and (max-width: 1366px){
    .yexpended{
        .ex_search {
            font-size: em(15);
        }
    }
}
@media only screen and (max-width: 1280px){
    .yexpended{
        .ex_search {
            font-size: em(14);
        }
    }
}

@media only screen and (max-width: 945px){
    .yexpended{
        .ex_search {
            .arrow{
                width: 30px;
            }
        }
    }
}

