@import '../../vars';

.yexpended{
    .ex_search{
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: $aleg;
        font-style: normal;
        font-weight: bold;
        font-size: em(18);
        line-height: 22px;
        text-align: center;
        padding: 0;

        .arrow{
            position: absolute;
            right: 10px;
            width: 50px;
            z-index: 1;
        }

        .eclipse{
            position: relative;
            font-size: em(32);
            padding-left: 40px;
            display: flex;
            align-items: center;
            &:after{
                content: '';
                position: absolute;
                left: 12px;
                width: 30px;
                height: 2px;
                z-index: 3;
            }

        }

        &.white{
            color: #fff;
            width: 100%;

            .arr_path{
                fill: $darkblue;
            }

            .eclipse{
                color: #fff;
                &:after{
                    background-color: #fff;
                }

            }
        }

        &.blue{
            color: $darkblue;
            width: 100%;

            .arr_path{
                fill: #fff;
            }

            .eclipse{
                color: $darkblue;
                &:after{
                    background-color: $darkblue;
                }

            }
        }

    }


}
