@import '../clear';
@import '../../vars';

.ylocation{
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 100%;
    &.header{
        .dropdown-input{
            width: 100%;
            font-family: $aleg;
            font-style: normal;
            height: 35px;
            font-weight: normal;
            line-height: 18px;
            color: rgba(98, 109, 117, 0.65);
            font-size: em(15);
            background: #FFFFFF;
            border-radius: 8px;
            z-index: 4;
            border: none;
            outline: none;
            text-overflow: ellipsis;
            &:focus{
                background: #F9F9FA;
                box-shadow: 1px 3px 8px 1px rgba(52, 110, 197, 0.28);
        }
    }
        .autocomplete-results{
            font-family: $aleg;
            background: #FFFFFF;
            box-shadow: 0px -3px 3px rgba(0, 0, 0, 0.06), 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 8px;
            position: absolute;
            max-height: 330px;
            overflow: scroll;
            width: 110%;
            top: 50px;
            padding-top: 10px;
            left: -14px;
            z-index: 1;
            scrollbar-width: none;
            .autocomplete-result {
                font-family: $aleg;
                font-weight: normal;
                height: 30px;
                display: flex;
                padding-left: 15px;
                align-items: center;
                cursor: pointer;
                font-size: em(16);
                line-height: 19px;
                color: #5B5B5B;
            }
            .autocomplete-result.is-active,
            .autocomplete-result:hover {
                background: rgba(221, 241, 255, 0.64);
            }
            &::-webkit-scrollbar { width: 0; }
        }
    }
}
.autocomplete {
position: relative;
width: 130px;
}


