@import '../clear';
@import '../../vars';

.ylocations {
    display: flex;
    align-items: center;
    position: relative;
    i{
        color: #0B3F8D;
        font-size: em(30);
        position: relative;
        padding-right: 10px;
    }


    .dropdown-input{
        width: 100%;
        font-family: $aleg;
        font-style: normal;
        font-weight: normal;
        font-size: em(20);
        line-height: 24px;
        border: none;
        outline: none;
        color: rgba(34, 34, 34, 0.79);
    }
}


.autocomplete {
    position: relative;
    width: 130px;
}

.autocomplete-results {
    font-family: $aleg;
    background: linear-gradient(180deg, rgba(249, 249, 249, 0.5) 0%, rgba(255, 255, 255, 0.5) 105.93%), #F7F7F7;
    position: absolute;
    padding: 0;
    margin: 0;
    height: 180px;
    overflow: auto;
    width: 100%;
    left: 20px;
    top: 45px;
    z-index: 2;

    .autocomplete-result {
        padding: 10px;
        text-align: left;
        cursor: pointer;
        color: rgba(34, 34, 34, 0.79);
    }
}



.autocomplete-result.is-active,
.autocomplete-result:hover {
    background: linear-gradient(0deg, #0B3F8D, #0B3F8D), #FFFFFF;
    color: #FFFFFF;
}
