@import '../../vars';

.pagination{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 20px;
}

.pagination-item,
.pagination-navigation,
.pagination-more {
    height: 2.2rem;
    width: 2.2rem;
    margin: 0.3rem;
    font-size: 15px;
    color: $site-grey;
    font-weight: 700;
}

.pagination-item,
.pagination-navigation {
    background-color: white;
    border-radius: 8px;
    -webkit-transition-property: opacity, color, background-color;
    transition-property: opacity, color, background-color;
    -webkit-transition-duration: 160ms;
    transition-duration: 160ms;
    -webkit-transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
}

.pagination-item {
    padding: 0 5px;
}
.pagination-item:hover, .pagination-item:focus {
    background-color: #f6f6f6;
    color: $darkblue;

}
.pagination-item.active {
    color: $darkblue;
    border: 2px solid $darkblue;
    background-color: #fff;
}

.pagination-navigation {
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
    color: #fff;
    background-color: #0b3f8d;
}
.pagination-navigation.disabled {
    opacity: 0.4;
    cursor: default;
}
.pagination-navigation:hover:not(.disabled), .pagination-navigation:focus:not(.disabled) {
    opacity: 0.9;
}

.pagination-more {
    display: inline-flex;
    -webkit-box-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    justify-content: center;
}


.pagination > li {
    -webkit-box-align: center;
    align-items: center;
    display: -webkit-box;
    display: flex;
}
.pagination button {
    border: 0;
    outline: none;
    cursor: pointer;
}
.pagination.disabled {
    pointer-events: none;
    opacity: 0.6;
}

.container {
    margin: 0 auto;
    padding: 0 1rem;
    padding-bottom: 50px;
}

.controls {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin: 40px 0;
}
.controls input {
    width: 60px;
    margin-left: 0.3rem;
    margin-right: 1.5rem;
}

.stage-container {
    padding: 10px 0;
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
