@import '../../vars';


.ybestoffer{
    position: relative;
    width: 100%;
    margin-bottom: 80px;
    .ybest-items{
        display: flex;
        overflow: hidden;
        width: 90%;
        margin: 0 auto;
        .slick-slider{
            width: 100%;
             .slick-arrow{
                 z-index: 2;
                 top: 55%;
                 display: inline-block;
                 position: absolute;
                 width: 20px;
                 height: 20px;
                 background: transparent;
                 text-indent: -9999px;
                 border-top: 3px solid  #111E6C;
                 border-left: 3px solid  #111E6C;
                 transition: all .3s ease-in-out;
                 text-decoration: none;
                 color: transparent;
             }
             .slick-prev{
                 left: -3px;
                 transform: rotate(-45deg);
                 &:before{
                     content: '';
                     color: #111E6C;
                     font-size: 40px;
                     opacity: 1;
                     position: absolute;
                     top: 0;
                     right: 0;

                 }
             }
             .slick-next{
                 right: 18px;
                 transform: rotate(140deg);
                 &:before{
                     content: '';
                     color: #111E6C;
                     font-size: 40px;
                     opacity: 1;
                     position: absolute;
                     top: 0;
                     right: 0;
                 }
             }
             .slick-list{
                 width: 100%;
                 .slick-track{
                     display: flex;
                 }
             }
        .custom-dot-class{
            bottom: -45px;
            width: 90%;
            margin: 0 auto;
            li{
                display: inline-block;
                margin: 0 10px;
                button{
                    width: 15px;
                    height: 15px;
                    background: #FCFCFC;
                    border: 2px solid $titleblue;
                    border-radius: 50%;
                    &:before{
                        font-size: 0px;
                        line-height: 22px;
                    }
                }
            }
            .slick-active button:before{
                color: $titleblue;
                opacity: 1 ;
                font-size: 15px;
                line-height: 0;
                top: 9px;
                left: -3px;
            }
        }
        }
        .filter-card{
            max-width: 95%;
            display: flex;
            flex-direction: column;
            border-radius: 6px;
            overflow: hidden;
            background-color: #fff;
            box-shadow: 0 1px 10px 1px #bcbaba;
            margin-bottom: 15px;
            @keyframes slidein {
                50% {
                    background: $box-bg;
                    box-shadow: 0 -200px 100px -100px #eaeaea inset;
                }
            }
            .img-box{
                height: 220px;
                overflow: hidden;
                position: relative;
                background-color: $box-bg;
                box-shadow: 0 -200px 100px -120px #bcbaba inset;
                animation: slidein 2s infinite alternate;
                picture{
                    img{
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        min-height: 100%;
                        width: auto;
                        min-width: 100%;
                    }
                }
            }
            .content-box{
                padding: 10px 15px;
                h3.card-title{
                    height: 42px;
                    margin: 0;
                    margin-bottom: 8px;
                    font-family: $aleg;
                    color: $link;
                    font-weight: 400;
                    font-size: em(20);
                    line-height: em(18);
                    overflow: hidden;
                }
                .price-row{
                    display: flex;
                    align-items: flex-end;
                    font-family: $noto;
                    margin-bottom: 15px;
                    line-height: em(16);
                    .usd{
                        font-size: em(24);
                        color: $price-color;
                        margin-right: 15px;
                        line-height: 18px;
                    }
                    .eur{
                        color: $filtergray;
                        margin-right: 10px;
                    }
                    .uah{
                        color: $filtergray;
                    }
                    .symb{
                        margin-left: 2px;
                    }
                }
                .option-list{
                    display: flex;
                    flex-wrap: wrap;
                    margin-bottom: 10px;
                    .option-item{
                        display: flex;
                        align-items: center;
                        width: 49.5%;
                        margin-right: 1%;
                        margin-bottom: 5px;
                        .yicon{
                            font-size: em(20);
                            color: $darkblue;
                            opacity: 0.8;
                            margin-right: 5px;
                        }
                        .option-title{
                            font-size: em(16);
                            font-weight: 400;
                            font-family: $aleg;
                            color: $darkgray-filter;
                            display: -webkit-box;
                            -webkit-line-clamp: 1;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            .sp-num{
                                font-size: em(15);
                                font-family: $noto;
                            }
                        }
                        &:nth-child(2n){
                            margin-right: 0;
                        }
                    }
                }
                .other-row{
                    display: flex;
                    time.date{
                        color: $lightgray;
                        font-size: em(14);
                        font-family: $aleg;
                    }
                }
                .sp-num{
                    font-size: em(15);
                    font-family: $noto;
                }
            }
            &:nth-child(3n){
                margin-right: 0;
            }
            &.prerender{
                box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.18);
                .img-box{
                    box-shadow: none;
                    animation: unset;
                }
                .content-box{
                    h3.card-title,
                    .price-row,
                    .option-item,
                    .description-row,
                    .other-row .date{
                        background-color: rgba(168, 177, 180, 0.15);
                    }
                    .price-row{
                        height: 18px;
                        width: 80%;
                    }
                    .option-item{
                        margin-right: 8%;
                        height: 22px;
                        width: 46%;
                        &:nth-child(2n){
                            margin-right: 0;
                        }
                    }
                    .other-row .date{
                        width: 60px;
                        height: 15px;
                    }
                }
            }
        }
    }
}

.slick-slide{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1600px){
    .ybestoffer{
        .ybest-items{
            .slick-slider{
                .ybest-item{
                    max-width: 280px;
                    .yb-icon_check{
                            .item_check{
                                width: 45px;
                                height: 45px;
                                img{
                                    width: 30px;
                                }
                            }
                            .new_item{
                                width: 45px;
                                height: 45px;
                                font-size: em(15);
                            }
                        }
                    .item_image{
                        img{
                            width: 120%;
                        }
                    }
                    .item_desc{
                        .item_name{
                            font-size: em(16.5);
                        }
                        .price_more{
                            .item_price{
                                font-size: em(17.5);
                            }
                            .show_more{
                                font-size: em(15);
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1440px){
    .ybestoffer{
        .ybest-items{
            .slick-slider{
                .ybest-item{
                    max-width: 280px;
                    .yb-icon_check{
                        flex-direction: column;
                        .item_check{
                                width: 40px;
                                height: 40px;
                                margin-right: 0px;
                                margin-bottom: 10px;
                            img{
                                width: 22px;
                            }
                        }
                        .new_item{
                            width: 40px;
                            height: 40px;
                            font-size: em(12);
                        }
                    }
                    .item_image{
                        height: 180px;
                        img{
                            min-width: 320px;
                        }
                    }
                    .item_desc{

                        .item_name{
                            font-size: em(16);
                        }
                        .sity-name_item{
                            font-size: em(16);
                        }
                        .price_more{
                            .item_price{
                                font-size: em(16);
                            }
                            .show_more{
                                font-size: em(14);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1330px){
    .ybestoffer{
        .ybest-items{
            .slick-slider{
                .ybest-item{
                    max-width: 300px;
                    .item_image{
                        img{
                            min-width: 320px;
                        }
                    }
                    .item_desc{

                        .item_name{

                        }
                        .sity-name_item{

                        }
                        .price_more{
                            .item_price{

                            }
                            .show_more{

                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1024px){
    .ybestoffer{
        .ybest-items{
            .slick-slider{
                .ybest-item{
                    max-width: 280px;
                    .item_desc{
                        .item_name{
                            font-size: em(15);
                        }
                        .sity-name_item{
                            font-size: em(15);
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 945px){
    .ybestoffer{
        padding: 0 15px;
        margin-bottom: 45px;
        .slick-dots{
            display: none!important;
        }
        .ybest-items{
            width: 85%;
            margin: 0 auto;
            .slick-slider{
                .slick-arrow{
                    top: 25px;
                }
                .slick-prev{
                    right: 70px;
                    left: unset;
                    &:before{
                        content: "";
                        color: #111E6C;
                        font-size: 40px;
                        opacity: 1;
                        position: absolute;
                        top: -15px;
                        right: -8px;
                        background: rgba(219, 219, 219, 0.15);
                        border-radius: 5px;
                        width: 40px;
                        height: 40px;

                    }
                }
                .slick-next{
                    &:before{
                        content: "";
                        color: #111E6C;
                        font-size: 40px;
                        opacity: 1;
                        position: absolute;
                        top: -15px;
                        right: -8px;
                        background: rgba(219, 219, 219, 0.15);
                        border-radius: 5px;
                        width: 40px;
                        height: 40px;
                        transform: rotate(-4deg);
                    }
                }
                .slick-list{
                    .slick-track{

                    }
                }
                .custom-dot-class{
                    bottom: -20px;
                    width: 85%;
                }
                .ybest-item{
                    max-width: 360px;
                    .yb-icon_check{

                        .item_check{
                            width: 45px;
                            height: 45px;
                            img{
                                width: 24px;
                            }
                        }
                        .new_item{
                            width: 45px;
                            height: 45px;
                            font-size: em(14);
                        }
                    }
                    .item_image{
                        height: 180px;
                        img{
                            min-height: 250px;
                        }
                    }
                    .item_desc{
                        .item_name{
                            font-size: em(18);
                        }
                        .sity-name_item{
                            font-size: em(18);


                        }
                        .price_more{
                            .item_price{
                                font-size: em(20);
                            }
                            .show_more{
                                display: none;
                                .arrow_right{

                                }
                            }
                        }
                    }
                    &:last-child{
                        margin-right: 0px;

                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 768px){
    .ybestoffer{
        .ybest-items{
            .slick-slider{
                .ybest-item{
                    max-width: 300px;
                    .item_desc{
                        .item_name{

                        }
                        .sity-name_item{

                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 667px){
    .ybestoffer{
        .ybest-items{
            .slick-slider{
                .ybest-item{
                    max-width: 250px;
                    .yb-icon_check{
                        .item_check{
                            width: 35px;
                            height: 35px;
                            margin-bottom: 5px;
                        }
                        .new_item{
                            width: 35px;
                            height: 35px;
                            font-size: em(10);
                        }
                    }
                    .item_desc{
                        .item_name{
                            font-size: em(14);
                        }
                        .sity-name_item{
                            font-size: em(16);
                        }
                        .price_more{
                            .item_price{
                                font-size: em(16);
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 600px){
    .ybestoffer{
        .ybest-items{
            width: 100%;
            .slick-slider{
                .ybest-item{
                    max-width: 260px;
                        .yb-icon_check{
                            top: 10px;
                            left: 10px;
                        }
                }
                .custom-dot-class{
                    width: 100%;
                    li{
                        button{
                            width: 9px;
                            height: 9px;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 475px){
    .ybestoffer{
        .ybest-items{
            .slick-slider{
                .slick-list{
                    .slick-track{
                        .slick-slide{
                            .ybest-item{
                                max-width: 360px;
                                .yb-icon_check{
                                    .item_check{
                                        width: 45px;
                                        height: 45px;
                                        img{
                                            width: 30px;
                                        }
                                    }
                                    .new_item{
                                        width: 45px;
                                        height: 45px;
                                        font-size: em(14);
                                    }
                                }
                                .item_desc{
                                    .item_name{
                                        font-size: em(18);
                                    }
                                    .sity-name_item{
                                        font-size: em(18);
                                    }
                                    .item_price{
                                        font-size: em(24);
                                        font-weight: 500;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 425px){
    .ybestoffer{
        .ybest-items{
            .slick-slider{
                .slick-list{
                    .slick-track{
                        .slick-slide{
                            .ybest-item{
                                max-width: 325px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 393px){
    .ybestoffer{
        .ybest-items{
            .slick-slider{
                .slick-list{
                    .slick-track{
                        .slick-slide{
                            .ybest-item{
                                max-width: 300px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 375px){
    .ybestoffer{
        .ybest-items{
            width: 100%;
            .slick-slider{
                .slick-list{
                    .slick-track{
                        .slick-slide{
                            .ybest-item{
                                max-width: 330px;
                                .yb-icon_check{
                                    .item_check{
                                        width: 40px;
                                        height: 40px;
                                        img{
                                            width: 25px;
                                        }
                                    }
                                    .new_item{
                                        width: 40px;
                                        height: 40px;
                                        font-size: em(12);
                                    }
                                }
                            }
                        }
                    }
                }
                .custom-dot-class{
                    width: 100%;
                }
            }
        }
    }
}
@media only screen and (max-width: 320px){
    .ybestoffer{
        .ybest-items{
            .slick-slider{
                .slick-list{
                    .slick-track{
                        .slick-slide{
                            .ybest-item{
                                max-width: 280px;
                            }
                        }
                    }
                }
            }
        }
    }
}
