@import '../../vars';

.ycatalog_block{
    width: 100%;
    display: flex;
    flex-direction: column;
    .change_visible{
        display: none;
    }
    .y-cat-bottom{
        display: flex;
        width: 100%;
        border-radius: 35px;
        margin-bottom: 50px;
        box-shadow: 28px 28px 113px rgba(220, 222, 222, 0.17), -28px -28px 56px rgba(255, 255, 255, 0.9), 23px 20px 35px rgba(220, 222, 222, 0.11), inset -1px -1px 2px #DCDEDE, inset 1px 1px 2px rgba(255, 255, 255, 0.3);
        .cat_categories{
            width: 28%;
            background: linear-gradient(151.07deg, #FEFFFF -17.9%, #E6E8E8 100%);
                .title{
                    padding: 10% 0% 5% 18%;
                    font-family: $rale;
                    font-weight: normal;
                    font-size: em(32);
                    line-height: 56px;
                    text-transform: capitalize;
                    color: rgba(80, 83, 83, 0.92);
                    margin: 0;
                }
            .cat_list-items{
                .list_items{
                    text-align: start;
                    padding: 0;
                    margin: 0;
                    .cat_item{
                        padding: 5% 0% 5% 18%;
                        cursor: pointer;
                        font-family: $mont;
                        font-style: normal;
                        font-weight: 500;
                        font-size: em(16);
                        line-height: 24px;
                        color: rgba(80, 83, 83, 0.92);
                        &:focus {
                            color: #FFFFFF;
                            background: linear-gradient(179.92deg, rgba(27, 27, 27, 0.63) -60.3%, rgba(27, 27, 27, 0.08) 103.54%), #0B3F8D;
                            border-radius: 1px;
                        }

                    }
                }
            }
        }
        .ydrop_down{
            display: none;
        }
        .type_body-marks{
            width: 100%;
            border-radius: 0px 35px 0px 0px;
            overflow: hidden;
            .car_body-type{
                padding: 3.5%;
                min-height: 475px;
                background: linear-gradient(179.92deg, rgba(27, 27, 27, 0.63) -60.3%, rgba(27, 27, 27, 0.08) 103.54%), #0B3F8D;
                .body-type_top{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 4.6%;
                    .type-top_title{
                        margin: 0;
                        font-family: $rale;
                        font-style: normal;
                        font-weight: 500;
                        font-size: em(32);
                        line-height: 42px;
                        color: #FFFFFF;
                    }
                }
                .yb-slide_type{
                    display: flex;
                    justify-content: space-around;
                    width: 100%;
                    #slick3{
                        width: 100%;
                        .slick-list{
                            width: 100%;
                            .slick-track{
                                display: flex;
                                justify-content: space-between;
                                .slick-slide{
                                    width: 200px !important;
                                    .yb_slide-body{
                                        text-align: center;
                                        .slide{
                                            overflow: hidden;
                                            margin: 0;
                                            width: 100%;
                                            max-width: 500px;
                                        }
                                        .large{
                                            min-width: 568px;
                                            img{
                                                width: 100%;
                                            }
                                        }
                                        .small{
                                            min-width: 140px;
                                            img{
                                                max-height: 110px;
                                            }
                                        }
                                        .body_name{
                                            font-family: $mont;
                                            font-weight: 600;
                                            line-height: 29px;
                                            color: #FFFFFF;
                                            font-size: em(24);
                                        }
                                        .bold{
                                            font-size: em(36);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .yshow_more-body{
                display: none;
            }
            .yb-car_marks{
                padding: 3.5%;
                .car_marks-title{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding-bottom: 3%;
                        .marks_title{
                            font-family: $rale;
                            font-style: normal;
                            font-weight: normal;
                            font-size: em(32);
                            line-height: 42px;
                            text-transform: capitalize;
                            color: rgba(80, 83, 83, 0.92);
                            margin: 0;
                        }
                }
                    .yb_marks_list{
                        .marks-list_body{
                            display: flex;
                            justify-content: space-between;
                            flex-flow: wrap;
                            margin: 0;
                            padding: 0;
                            .mark_list{
                                width: 18%;
                                height: 100px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                background: conic-gradient(from 89.31deg at -60.22% 59.22%, #FFFFFF 0deg, #FFFFFF 266.25deg, #EEEEEE 346.88deg, #FFFFFF 360deg);
                                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
                                border-radius: 14px;

                                .marks{
                                    overflow: hidden;
                                    margin: 0;
                                    max-width: 80px;
                                    img{
                                        width: 100%;
                                    }
                                }
                                &:first-child{
                                    margin-bottom: 20px;
                                }
                            }
                        }
                        .yshow_more-marks{
                            display: none;
                        }
                    }

            }
        }
    }
}
@media only screen and (max-width: 1600px){
    .ycatalog_block{
        .y-cat-bottom{
            .cat_categories{
                    .title{
                        font-size: em(28);
                        padding: 10% 0% 5% 18%;
                    }
            }
            .type_body-marks{
                .car_body-type{
                    min-height: 420px;
                    .body-type_top{
                        .type-top_title{
                            font-size: em(28);
                        }
                    }
                    .yb-slide_type{
                        #slick3{
                            .slick-list{
                                .slick-track{
                                    .slick-slide{
                                        .yb_slide-body{
                                            .large{
                                                min-width: 450px;
                                            }
                                            .small{

                                            }
                                            .body_name{
                                                font-size: em(20);
                                            }
                                            .bold{
                                                font-size: em(28);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .yb-car_marks{
                    .car_marks-title{
                        .marks_title{
                           font-size: em(28);
                        }
                    }

                    .yb_marks_list{
                        .marks-list_body{

                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1440px){
    .ycatalog_block{
        .y-cat-bottom{
            .cat_categories{
                .title{
                    font-size: em(26);
                    padding: 10% 0% 5% 18%;
                }
                .cat_list-items{
                    .list_items{
                        .cat_item{
                            font-size: em(15);
                            padding: 3.5% 0% 3.5% 18%;
                        }
                    }
                }
            }
            .type_body-marks{
                .car_body-type{
                    min-height: 385px;
                    .body-type_top{
                        .type-top_title{
                            font-size: em(26);
                        }
                    }
                    .yb-slide_type{
                        #slick3{
                            .slick-list{
                                .slick-track{
                                    .slick-slide{
                                        .yb_slide-body{
                                            .large{
                                                min-width: 430px;
                                            }
                                            .small{

                                            }
                                            .body_name{
                                                font-size: em(20);
                                            }
                                            .bold{
                                                font-size: em(28);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .yb-car_marks{
                    .car_marks-title{
                        .marks_title{
                            font-size: em(26);
                        }
                    }
                    .yb_marks_list{
                        .marks-list_body{

                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1330px){
    .ycatalog_block{
        .y-cat-bottom{
            .cat_categories{
                .title{
                    font-size: em(24);
                    padding: 5% 0% 5% 18%;
                }
                .cat_list-items{
                    .list_items{
                        .cat_item{
                            font-size: em(15);
                            padding: 2.8% 0% 2.8% 18%;
                        }
                    }
                }
            }
            .type_body-marks{
                .car_body-type{
                    min-height: 350px;
                    padding: 2%;
                    .body-type_top{
                        .type-top_title{
                            font-size: em(24);
                        }
                    }
                    .yb-slide_type{
                        #slick3{
                            .slick-list{
                                .slick-track{
                                    .slick-slide{
                                        .yb_slide-body{
                                            .large{
                                                min-width: 400px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .yb-car_marks{
                    padding: 2.5%;
                    .car_marks-title{
                        padding-bottom: 2%;
                        .marks_title{
                            font-size: em(24);
                        }
                    }

                    .yb_marks_list{
                        .marks-list_body{
                            .mark_list{
                                height: 80px;
                                width: 17%;
                                .marks{
                                    max-width: 60px;
                                }
                                &:first-child{
                                    margin-bottom: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1280px){
    .ycatalog_block{
        .y-cat-bottom{
            .type_body-marks{
                .car_body-type{
                    min-height: 345px;
                }
            }
        }
    }
}
@media only screen and (max-width: 1024px){
    .ycatalog_block{
        .y-cat-bottom{
            .type_body-marks{
                .car_body-type{
                    min-height: 328px;
                }
            }
        }
    }
}
@media only screen and (max-width: 945px) {
    .ycatalog_block {
        .y-cat-bottom {
            margin-bottom: 20px;
                .cat_categories{
                    .cat_list-items{
                        .list_items{
                            .cat_item{
                                font-size: em(15);
                            }
                        }
                    }
            }
            .type_body-marks{
                .car_body-type{
                    min-height: 320px;
                    .yb-slide_type{
                        #slick3{
                            .slick-list{
                                .slick-track{
                                    .slick-slide{
                                        .yb_slide-body{
                                            .large{
                                                min-width: 345px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .yb-car_marks{
                    padding: 2.5% 2.5% 3% 2.5%;

                }
            }
        }
    }
}
@media only screen and (max-width: 768px){
    .ycatalog_block {
        .y-cat-bottom {
            .cat_categories{
                .title{
                    font-size: em(20);
                    padding: 2% 0% 5% 18%;
                }
                .cat_list-items{
                    .list_items{
                        .cat_item{
                            font-size: em(14);
                            &:last-child{
                                padding: 2.8% 0% 1.6% 18%;
                            }
                        }
                    }
                }
            }
            .type_body-marks{
                .car_body-type{
                    min-height: 295px;
                    .body-type_top{
                        .type-top_title{
                            font-size: em(20);
                        }
                    }
                    .yb-slide_type{
                        #slick3{
                            .slick-list{
                                .slick-track{
                                    .slick-slide{
                                        width: 140px !important;
                                        .yb_slide-body{
                                            .large{
                                                min-width: 330px;
                                            }
                                            .bold{
                                                font-size: em(22);
                                            }
                                            .body_name{
                                                font-size: em(18);
                                            }
                                            .small{
                                                height: 70px;
                                                img{
                                                    max-height: 90px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .yb-car_marks{
                    .car_marks-title{
                        .marks_title{
                            font-size: em(20);
                        }
                    }
                    .yb_marks_list{
                        .marks-list_body{
                            .mark_list{
                                height: 70px;
                                .marks{
                                    max-width: 50px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 600px){
    .ycatalog_block{
        .y-cat-bottom{
            display: block;
            border-radius: 35px 35px 0 0;
            .cat_categories{
                display: none;
            }
            .ydrop_down{
                width: 100%;
                display: flex;
                 .ydropdown{
                    width: 100%;
                    position: relative;
                     .value {
                         height: 70px;
                         background: linear-gradient(173.92deg, #FEFFFF -24.96%, #E6E8E8 99.29%);
                         box-shadow: -1px -1px 0px rgba(115, 115, 115, 0.09), 23px 20px 35px rgba(220, 222, 222, 0.02), -28px -28px 56px rgba(255, 255, 255, 0.9), 28px 28px 113px rgba(220, 222, 222, 0.17), inset -1px -1px 2px #DCDEDE;
                         border-radius: 15px 15px 0px 0px;
                         width: 100%;
                         padding: 20px;
                         font-family: $mont;
                         font-weight: 500;
                         font-size: em(24);
                         line-height: 29px;
                         color: $darkblue;
                         border: none;
                         scrollbar-width: none;
                     }
                     i{
                         position: absolute;
                         right: 15px;
                         top: 30px;
                         cursor: pointer;
                         color: $darkblue;
                     }
                     .items{
                         font-family: $aleg;
                         background: linear-gradient(152.6deg, #FFFFFF 0%, #FFFFFF 100%);
                         box-shadow: -2px 2px 4px rgba(164, 164, 164, 0.2), 2px -2px 4px rgba(164, 164, 164, 0.2), -2px -2px 4px rgba(255, 255, 255, 0.9), 2px 2px 5px rgba(164, 164, 164, 0.9), inset 1px 1px 2px rgba(255, 255, 255, 0.3), inset -1px -1px 2px rgba(164, 164, 164, 0.5);
                         border-radius: 6px 6px 6px 6px;
                         position: absolute;
                         padding: 0;
                         margin: 0;
                         width: 100%;
                         max-height: 175px;
                         overflow: auto;
                         top: 65px;
                         z-index: 2;

                         .item {
                             position: relative;
                             height: 35px;
                             display: flex;
                             align-items: center;
                             padding: 0px 0px 0px 20px;
                             cursor: pointer;
                             color: rgba(34, 34, 34, 0.79);
                             cursor: pointer;
                             width: 100%;
                             i{
                                 position: absolute;
                                 top: auto;
                                 color: $dgreen;
                             }
                             &:after{
                                 content: '';
                                 position: absolute;
                                 height: 1px;
                                 bottom: 0;
                                 left: 0;
                                 width: 100%;
                                 background: rgba(199, 199, 199, 0.33) ;
                             }
                         }
                         .checked{
                             border-left: 4px solid $darkblue;
                             &:after{
                                 height: 2px;
                                 background: rgba(91, 91, 91, 0.13);
                             }
                         }
                         &::-webkit-scrollbar {
                             width: 5px;
                             background: transparent;
                         }
                         &::-webkit-scrollbar-thumb {
                             background: rgba(91, 91, 91, 0.79);
                             border-radius: 68px;
                             height: 20px;

                         }
                     }
                }
            }
            .type_body-marks{
                border-radius: 0;
                .car_body-type{
                    padding: 25px 40px 25px 15px;
                    .body-type_top{
                        .type-top_title{
                            font-size: em(22);
                        }
                    }
                    .yb-slide_type{
                        position: relative;
                        #slick3{
                            width: 100%;
                            .slick-arrow{
                                z-index: 3;
                                top: 25%;
                                display: inline-block;
                                position: absolute;
                                width: 30px;
                                height: 30px;
                                background: transparent;
                                text-indent: -9999px;
                                border-top: 3px solid  #FFFFFF;
                                border-left: 3px solid  #FFFFFF;
                                transition: all .3s ease-in-out;
                                text-decoration: none;
                                color: transparent;

                            }
                            .slick-prev{
                                left: 30px;
                                transform: rotate(-45deg);
                                &:before{
                                    content: '';
                                    color: #111E6C;
                                    font-size: 40px;
                                    opacity: 1;
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    box-shadow: 0px 4px 11px #FFFFFF;
                                }
                            }
                            .slick-next{
                                right: 30px;
                                transform: rotate(140deg);
                                &:before{
                                    content: '';
                                    color: #111E6C;
                                    font-size: 40px;
                                    opacity: 1;
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    box-shadow: 0px 4px 11px #FFFFFF;
                                }
                            }
                            .slick-list{
                                width: 100%;
                                .slick-track{
                                    display: flex;
                                    .slick-slide{
                                        width: 515px !important;
                                        .yb_slide-body{
                                            .slide{
                                                max-width: 330px;
                                                img{
                                                    width: 100%;
                                                    max-height: 100%;
                                                }
                                            }
                                            .small{
                                                height: 180px;
                                            }
                                            .body_name{
                                                font-size: em(24);
                                            }
                                            .bold{
                                                font-size: em(24);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .yshow_more-body{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    margin-top: 25px;
                    .ymore_body{
                        padding: 0% 5%;
                        width: 180px;
                        height: 35px;
                        font-family: $aleg;
                        font-weight: 500;
                        font-size: em(16);
                        line-height: 22px;
                        text-align: center;
                        color: $darkblue;
                        background: #FFFFFF;
                        border: 2px solid $darkblue;
                        box-shadow: 0px 4px 4px rgba(7, 25, 48, 0.11);
                        border-radius: 8px
                    }
                }
                .yb-car_marks{
                    padding: 25px 2% 2% 1%;
                    .car_marks-title{
                        padding-bottom: 25px;
                        .marks_title{
                            font-size: em(22);
                        }
                    }
                    .yb_marks_list{
                        .marks-list_body{
                            .mark_list{
                                height: 100px;
                                width: 32%;
                                margin-bottom: 10px;
                                .marks{
                                    max-width: 60px;
                                }
                                &:nth-child(n+7){
                                    display: none;
                                }
                            }
                        }
                        .yshow_more-marks{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            margin: 25px 0 30px 0;
                            .ymore_marks{
                                padding: 0% 5%;
                                width: 180px;
                                height: 35px;
                                background: linear-gradient(0deg, #03347D, #03347D), #FFFFFF;
                                box-shadow: 0px 4px 4px rgba(7, 25, 48, 0.54);
                                border-radius: 8px;
                                font-family: $aleg;
                                font-weight: 500;
                                font-size: em(16);
                                line-height: 22px;
                                text-align: center;
                                color: #FFFFFF;

                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 425px){
    .ycatalog_block{
        .y-cat-bottom{
            .ydrop_down{
                .ydropdown{
                    .value{
                        font-size: em(20);
                    }
                }
            }
            .type_body-marks{
                .car_body-type{
                    padding: 25px 15px 25px 15px;
                    border-radius: 0px 0px 15px 15px;
                    .body-type_top{
                        .type-top_title{
                            font-size: em(20);
                        }
                    }
                    .yb-slide_type{
                        #slick3{
                            .slick-arrow{
                                top: 88%;
                                width: 20px;
                                height: 20px;
                            }
                            .slick-next{
                                right: 50px;
                            }
                            .slick-prev{
                                left: 50px;
                            }
                            .slick-list{
                                .slick-track{
                                    .slick-slide{
                                        .yb_slide-body{
                                            .body_name{
                                                font-size: em(20);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .yb-car_marks{
                    .car_marks-title{
                        .marks_title{
                            font-size: em(20);
                            font-weight: 500;
                        }
                    }
                    .yb_marks_list{
                        .marks-list_body{
                            .mark_list{
                                height: 80px;
                                width: 30.8%;
                                &:nth-child(n+7){
                                    display: flex;
                                }
                                &:last-child{
                                    display: none;
                                }
                                &:first-child{
                                    margin-bottom: 7px;
                                }
                            }
                        }
                        .yshow_more-marks{
                            margin: 15px 0 30px 0;
                        }
                    }
                }
            }
        }
    }
}
