@import '../clear';
@import '../../vars';


.favorite{
    position: absolute;
    z-index: 2;
    width: 68px;
    height: 68px;
    background: #FFFFFF;
    border-radius: 50%;
    bottom: 130px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    right: 60px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    .heart_svg{
        width: 40px;
    }
}
@media only screen and (max-width: 1600px){
    .favorite{
        width: 50px;
        height: 50px;
        right: 30px;
        bottom: 135px;
        .heart_svg{
            width: 25px;
        }
    }
}
