@import '../clear';
@import '../../vars';


.yb_form{
    display: flex;
    justify-content: space-around;
    padding: 52px 82px 51px 85px;
    width: 100%;
    height: 100%;
    .left_options{
        .yinput_list{
            display: flex;
            align-items: center;
            background: #F8F8F8;
            border-radius: 15px;
            position: relative;
            margin-bottom: 10px;
            .yselect{
                display: flex;
                align-items: center;
                background: #F8F8F8;
                border-radius: 15px;
                max-width: 300px;
            }
            .ynav_drop{
                font-family: $aleg;
                background: linear-gradient(180deg, rgba(249, 249, 249, 0.5) 0%, rgba(255, 255, 255, 0.5) 105.93%), #F7F7F7;
                position: absolute;
                padding: 0;
                margin: 0;
                width: 100%;
                max-height: 180px;
                overflow: auto;
                top: 50px;
                z-index: 2;
                scrollbar-width: none;
                .y_nav_list{
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    color: rgba(34, 34, 34, 0.79);
                }
                .y_nav_list.is-active,
                .y_nav_list:hover {
                    background: linear-gradient(0deg, #0B3F8D, #0B3F8D), #FFFFFF;
                    color: #FFFFFF;
                }
                &::-webkit-scrollbar{
                    width: 0px;
                }
            }

            .select_form{
                padding: 12px 80px 12px 20px;
                background: #F8F8F8;
                border-radius: 15px;
                border: none;
                font-family: $aleg;
                font-style: normal;
                font-weight: 500;
                font-size: em(16);
                line-height: 19px;
                color: #C7C7C7;
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
        .ynav-list-toggle{
            color: #C7C7C7;
            margin-right: 15px;
        }

    }
    .ysuccess_btn{
        margin-top: 45px;
        display: flex;
        .success{
            background: linear-gradient(0deg, #03347D, #03347D), #FFFFFF;
            box-shadow: 0px 4px 4px rgba(7, 25, 48, 0.54);
            border-radius: 14px;
            font-family: $aleg;
            font-style: normal;
            font-weight: bold;
            font-size: em(22);
            line-height: 26px;
            text-align: center;
            color: #FFFFFF;
            padding: 12px 122px 12px 122px;
        }
    }
    .another_options{
        .yoption_btn{
            display: flex;
            background: #F8F8F8;
            border-radius: 12px 12px 0px 0px;
            margin-bottom: 12px;
            .change_type{
                padding: 12px 20px 12px 20px;
                font-family: $aleg;
                font-style: normal;
                font-weight: 500;
                font-size: em(16);
                line-height: 19px;
                color: rgba(54, 54, 54, 0.76);
                &:focus{
                    background: linear-gradient(0deg, #0B3F8D, #0B3F8D), #FFFFFF;
                    color: #FFFEFE;
                    border-radius: 12px 12px 0px 0px;
                }
            }
        }
        .yprice_options{
            background: #F8F8F8;
            border-radius: 12px;
            margin-bottom: 12px;
            .ytitle_option{
                font-family: $aleg;
                font-style: normal;
                text-align: start;
                font-weight: 500;
                padding: 15px 0px 12px 30px;
                margin: 0;
                font-size: em(22);
                line-height: 26px;
                color: rgba(91, 91, 91, 0.9);
            }
            .change_price{
                padding: 12px 30px 30px 30px;
            }
        }
        .yresource_options{
            background: #F8F8F8;
            border-radius: 12px;
            padding: 30px 25px 12px 25px;

        }
    }
}
