@import '../../vars';

.yform{
    width: 52%;
    position: absolute;
    left: 28%;
    top: 35px;
    z-index: 7;
    display: flex;
    justify-content: space-between;
    padding: 25px 35px;
    background: #fff;
    border-radius: 14px;
    box-shadow: -1px 2px 4px rgba(78, 78, 78, 0.25);
    .left_options{
        width: 48%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .selector-rows {
            width: 100%;
            .yselectsearch,
            .yselectmultysearch{
                height: 42px;
                margin-bottom: 8px;
            }
        }
        .yform-submit{
            width: 100%;
            a{
                cursor: pointer;
                width: 100%;
                height: 42px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: $darkblue;
                box-shadow: -1px 2px 4px rgba(78, 78, 78, 0.25);
                border-radius: 10px;
                font-family: $aleg;
                font-weight: 600;
                font-size: em(18);
                color: #fff;
            }
        }
    }
    .another_options{
        width: 48%;
        //display: flex;
        //flex-direction: column;
        //justify-content: space-between;
        .ysearch_type_btn{
            width: 100%;
            display: flex;
            background-color: $box-bg;
            margin-bottom: 10px;
            overflow: hidden;
            border-radius: 8px;
            .change_type{
                width: 100%;
                height: 38px;
                font-family: $aleg;
                font-weight: 500;
                font-size: em(15);
                line-height: 18px;
                color: $darkgray-filter;
                &.active{
                    background: #0B3F8D;
                    color: #FFFEFE;
                }
            }
        }
        .ygroup-box{
            .yfilter-aside-title{
                font-family: $aleg;
                font-weight: 500;
                font-size: em(18);
                line-height: 22px;
                color: $filtergray;
                margin: 0 0 5px;
            }
            .option-row{
                display: flex;
                justify-content: space-between;
                margin-bottom: 8px;
                .yselectsearch{
                    width: 49%;
                }
            }
            .yprice_filter-box{
                width: 100%;
                background-color: $box-bg;
                border-radius: 8px;
                padding: 10px;
                .yprice{
                    margin-bottom: 10px;
                    input.change{
                        height: 38px;
                    }
                    .name-dropdown{
                        height: 38px;
                    }
                }
                .ycheckbox{
                    .title_change{
                        font-size: em(16);
                    }
                }
            }
            .ycolors_options{
                padding: 15px 6px;
            }
        }

    }
}

@media only screen and (max-width: 425px){
    .selector-rows{
        .yselectsearch,
        .yselectmultysearch{
            margin-bottom: 10px;
        }
    }
    .left_options{
        margin-top: 15px;
        width: 100%;
        .yform-submit{
            width: 100%!important;
        }
    }
}
