@import '../clear';
@import '../../vars';


.yb_auto_news{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    .y-news_items{
        width: 100%;

        //justify-content: space-around;
        .ynews-top{
            display: flex;
            width: 100%;
            height: 330px;
            margin-bottom: 15px;
            .news{
                position: relative;
                border-radius: 17px;
                position: relative;
                width: 45%;
                overflow: hidden;
                margin-right: 15px;
                .news-image{
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    overflow: hidden;
                    margin: 0;
                    width: 100%;
                    img{
                        width: 130%;
                    }
                }
                .news_desc{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    padding: 10px;
                    h2{
                        font-family: $mont;

                        font-weight: bold;
                        font-size: em(16);
                        line-height: 23px;
                        color: #FFFFFF;
                        margin: 0;
                        margin-bottom: 10px;
                    }
                    p{
                        display: none;
                    }
                    .read_more{
                        display: flex;
                        align-items: center;
                        font-family: $mont;

                        font-weight: bold;
                        font-size: em(12);
                        line-height: 20px;
                        color: #FFFFFF;
                        padding: 0;
                        img{
                            margin-left: 15px;
                        }
                    }

                }
                &:hover .hovering{
                    display: block;
                    animation: fade-in 1.2s;
                    font-family: $aleg;

                    font-weight: 500;
                    font-size: em(14);
                    line-height: 22px;
                    color: #FFFFFF;
                    margin: 0;
                    padding: 0;
                    margin-bottom: 5px;
                }
            }

            .right_items{
                width: 55%;
                .news{
                    position: relative;
                    border-radius: 17px;
                    width: 100%;
                    overflow: hidden;
                    height: 48%;
                    .news-image{
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        overflow: hidden;
                        margin: 0;
                        width: 100%;
                    }
                    .news_desc{
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        padding: 10px;
                        h2{
                            font-family: $mont;

                            font-weight: bold;
                            font-size: em(16);
                            line-height: 23px;
                            color: #FFFFFF;
                        }
                        p{
                            display: none;
                        }
                    }
                    &:first-child{
                        margin-bottom: 15px;
                    }
                    &:hover .hovering{
                        display: block;
                        animation: fade-in 1.2s;
                        font-family: $aleg;

                        font-weight: 500;
                        font-size: em(14);
                        line-height: 22px;
                        color: #FFFFFF;
                        margin: 0;
                        padding: 0;
                        margin-bottom: 5px;
                    }
                }
                .flex_bottom{
                    display: flex;
                    height: 48%;
                    .news{
                        height: 100%;
                        .news_desc{
                            h2{
                                font-size: em(14);
                                margin-bottom: 5px;
                            }
                            p{
                                font-size: em(12);
                            }
                        }
                        &:first-child{
                            margin-bottom: 0;
                        }
                        &:last-child{
                            margin-right: 0px;
                        }
                    }
                }
            }
        }
        .ynews-bottom{
            display: flex;
            width: 100%;
            height: 240px;
            .news{
                position: relative;
                border-radius: 17px;
                position: relative;
                width: 50%;
                overflow: hidden;
                margin-right: 15px;
                .news-image{
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    overflow: hidden;
                    margin: 0;
                    width: 100%;
                    img{
                        width: 130%;
                    }
                }
                .news_desc{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    padding: 10px;
                    h2{
                        font-family: $mont;
                        font-weight: bold;
                        font-size: em(16);
                        line-height: 23px;
                        color: #FFFFFF;
                        margin: 0;
                        margin-bottom: 10px;
                    }
                    p{
                        display: none;
                    }
                    .read_more{
                        display: flex;
                        align-items: center;
                        font-family: $mont;
                        font-weight: bold;
                        font-size: em(12);
                        line-height: 20px;
                        color: #FFFFFF;
                        padding: 0;
                        img{
                            margin-left: 15px;
                        }
                    }

                }
                &:hover .hovering{
                    display: block;
                    animation: fade-in 1.2s;
                    font-family: $aleg;

                    font-weight: 500;
                    font-size: em(14);
                    line-height: 22px;
                    color: #FFFFFF;
                    margin: 0;
                    padding: 0;
                    margin-bottom: 5px;
                }
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    p:hover .hovering{
        display: block;
        animation: fade-in 1.2s;
        font-family: $aleg;

        font-weight: 500;
        font-size: em(18);
        line-height: 22px;
        color: #FFFFFF;
        margin: 0;
        padding: 0;

    }

    }
    .ychange-news_item{
        width: 100%;
        .y-news_items{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            height: auto;
            .items_flex{
                width: 48%;
                .news{
                    display: flex;
                    width: 100%;
                    box-shadow: 0px 16px 70px rgba(0, 0, 0, 0.04), 0px 9px 23px rgba(0, 0, 0, 0.02), 0px 0px 1px rgba(0, 0, 0, 0.62);
                    border-radius: 15px;
                    margin-bottom: 20px;
                    overflow: hidden;
                    .news-image{
                        width: 45%;
                        border-radius: 17px;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        overflow: hidden;
                        margin: 0;
                        img{
                            width: 112%;
                        }
                    }
                    .news_desc{
                        width: 55%;
                        padding: 10px;
                        position: relative;
                        background: linear-gradient(135deg, #FFFFFF 0%, #FFFFFF 100%);
                        h2{
                            color: $darkblue;
                            font-family: $mont;
                            font-weight: bold;
                            font-size: em(16);
                            line-height: 23px;
                        }
                        p{
                            color: rgba(0, 0, 0, 0.71);
                            display: block;
                            font-family: $aleg;
                            font-weight: 500;
                            font-size: em(18);
                            line-height: 22px;
                        }
                        .read_more{
                            color: $darkblue;
                            font-family: $mont;
                            font-weight: bold;
                            font-size: em(15);
                            line-height: 20px;
                            svg{
                                margin-left: 10px;
                                width: 30px;
                            }
                        }
                    }
                }
            }
        }
    }
    .ybtn_show_more{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        .show_more{
            background: linear-gradient(0deg, #072F6A, #072F6A), #FFFFFF;
            box-shadow: 0px 4px 4px rgba(7, 25, 48, 0.54);
            border-radius: 8px;
            font-family: $aleg;
            font-weight: bold;
            font-size: em(16);
            line-height: 23px;
            text-align: center;
            color: #FFFFFF;
            padding: 0px 15px;
            height: 40px;
            width: 180px;
        }
    }
}
@media only screen and (max-width: 1600px){
    .yb_auto_news{
        .ychange-news_item{
            .y-news_items{
                .items_flex{
                    width: 49%;
                    .news{
                        .news-image{
                            width: 40%;
                            img{
                                width: 130%;
                            }
                        }
                        .news_desc{
                            width: 60%;
                            h2{
                                margin: 0 0 10px 0;
                            }
                            p{
                                font-size: em(15);
                                margin: 5px 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1440px){
    .yb_auto_news{
        .ychange-news_item{
            .y-news_items{
                .items_flex{
                    .news{
                        .news-image{
                            width: 40%;
                            img{
                                width: 100%;
                            }
                        }
                        .news_desc{
                            width: 60%;
                            h2{
                                margin: 0 0 10px 0;
                            }
                            p{
                                font-size: em(15);
                                margin: 5px 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1024px){
    .yb_auto_news{
        .ychange-news_item{
            .y-news_items{
                .items_flex{
                    .news{
                        margin-bottom: 10px;
                        .news-image{
                            width: 35%;
                            img{
                                width: 140%;
                            }
                        }
                        .news_desc{
                            width: 65%;
                            h2{
                                font-size: em(15);
                            }
                            p{
                                font-size: em(15);
                            }
                            .read_more{
                                font-size: em(10);
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 945px){
    .yb_auto_news{
        .y-news_items {
            .ynews-bottom{
                display: none;
            }
        }
    }
}
@media only screen and (max-width: 768px){
    .yb_auto_news{
        .y-news_items{
            height: auto;
            .none{
                display: none;
            }
            .ynews-top{
                height: auto;
                .right_items{
                    width: 100%;
                    .news{
                        height: 215px;
                        .news-image{
                            img{
                                width: 100%;
                            }
                        }
                        .news_desc{
                            padding: 15px;
                            h2{
                                font-size: em(18);
                            }
                            .hovering{
                                font-size: em(15);
                                margin-bottom: 15px;
                            }
                        }
                    }
                    .flex_bottom{
                        display: block;
                        .news{
                            height: 215px;
                            .news_desc{
                                h2{
                                    font-size: em(18);
                                }
                                .hovering{
                                    font-size: em(15);
                                    margin-bottom: 15px;
                                }
                            }
                            &:first-child{
                                margin-bottom: 15px;
                            }
                        }
                    }
                }
            }
        }
        .ybtn_show_more{
            margin-top: 25px;
        }
    }
}
@media only screen and (max-width: 320px){
    .yb_auto_news{
        .y-news_items{
            .ynews-top{
                .right_items{
                    .news{
                        .news-image{
                            img{
                                width: 120%;
                            }
                        }
                    }
                    .flex_bottom{
                        display: block;
                        .news{
                            height: 215px;
                        }
                    }
                }
            }
        }
    }
}
