@import '../clear';
@import '../../vars';


.yb_auto_news{
    .ynews_item{
        .y_item-top{
            display: flex;
            align-items: center;
            text-align: center;
            justify-content: center;
            padding-bottom: 20px;
            .ynews_left{
                position: relative;
                border-radius: 17px;
                overflow: hidden;
                margin-right: 30px;
                .left_img{
                    position: relative;
                    overflow: hidden;
                    margin: 0;
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }

            }
            .ynews_right{
                position: relative;
                border-radius: 17px;
                overflow: hidden;
                .right_img{
                    position: relative;
                    overflow: hidden;
                    margin: 0;
                    width: 100%;
                    img{
                        width: 100%;
                    }
                }
            }
            .news_decs{
                position: absolute;
                z-index: 2;
                bottom: 0;
                padding: 0px 30px 30px 40px;
                text-align: start;
                .title{
                    font-family: $mont;
                    font-style: normal;
                    font-weight: bold;
                    font-size: em(24);
                    line-height: 29px;
                    color: #FFFFFF;
                }
                .desc{
                    font-family: $aleg;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 22px;
                    color: #FFFFFF;
                    margin: 0;
                    padding: 0;
                }
                .read_more{
                    display: flex;
                    align-items: center;
                    margin-block-start: 0.83em;
                    font-family: $mont;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 20px;
                    color: #FFFFFF;
                    padding: 0;
                    img{
                        margin-left: 15px;
                    }
                }
            }
        }
        .y_item-bottom{
            display: flex;
            text-align: center;
            justify-content: space-between;
            .bottom_item-news{
                border-radius: 17px;
                position: relative;
                border-radius: 17px;
                overflow: hidden;
                margin-right: 15px;
                max-height: 470px;
                    .news_decs{
                        position: absolute;
                        z-index: 2;
                        bottom: 0;
                        padding: 0px 30px 20px 40px;
                        text-align: start;
                        .title{
                            font-family: $mont;
                            font-style: normal;
                            font-weight: bold;
                            font-size: em(24);
                            line-height: 29px;
                            color: #FFFFFF;
                        }
                        .desc{
                            font-family: $aleg;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 22px;
                            color: #FFFFFF;
                            margin: 0;
                            padding: 0;
                        }
                        .read_more{
                            display: flex;
                            align-items: center;
                            margin-block-start: 0.83em;
                            font-family: $mont;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 16px;
                            line-height: 20px;
                            color: #FFFFFF;
                            padding: 0;
                            img{
                                margin-left: 15px;
                            }
                        }
                    }
                .ynews_image{
                    position: relative;
                    overflow: hidden;
                    margin: 0;
                    width: 100%;
                    height: 100%;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                &:last-child{
                    margin-right: 0px;
                }
            }
        }
        .ybtn_show_more{
            margin-top: 70px;
            display: flex;
            justify-content: center;
            align-items: center;
            .show_more{
                background: linear-gradient(0deg, #072F6A, #072F6A), #FFFFFF;
                box-shadow: 0px 4px 4px rgba(7, 25, 48, 0.54);
                border-radius: 14px;
                font-family: $aleg;
                font-style: normal;
                font-weight: bold;
                font-size: em(22);
                line-height: 26px;
                text-align: center;
                color: #FFFFFF;
                padding: 18px 71px 18px 71px;
            }
        }
    }
}
