@import '../clear';
@import '../../vars';


.yb_auto_news{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    .y-news_items{
        width: 100%;
        height: 330px;
        display: flex;
        //justify-content: space-around;
        .news{
            position: relative;
            border-radius: 17px;
            position: relative;
            width: 45%;
            overflow: hidden;
            margin-right: 15px;
            .news-image{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                overflow: hidden;
                margin: 0;
                width: 100%;
                img{
                    width: 130%;
                }
            }
            .news_desc{
                position: absolute;
                left: 0;
                bottom: 0;
                padding: 10px;
                h2{
                    font-family: $mont;
                    font-style: normal;
                    font-weight: bold;
                    font-size: em(16);
                    line-height: 23px;
                    color: #FFFFFF;
                    margin: 0;
                    margin-bottom: 10px;
                }
                p{
                    display: none;
                }
                .read_more{
                    display: flex;
                    align-items: center;
                    font-family: $mont;
                    font-style: normal;
                    font-weight: bold;
                    font-size: em(12);
                    line-height: 20px;
                    color: #FFFFFF;
                    padding: 0;
                    img{
                        margin-left: 15px;
                    }
                }

            }
            &:hover .hovering{
                    display: block;
                    animation: fade-in 1.2s;
                    font-family: $aleg;
                    font-style: normal;
                    font-weight: 500;
                    font-size: em(14);
                    line-height: 22px;
                    color: #FFFFFF;
                    margin: 0;
                    padding: 0;
                    margin-bottom: 5px;
            }
        }

        .right_items{
            width: 55%;
            .news{
                position: relative;
                border-radius: 17px;
                width: 100%;
                overflow: hidden;
                height: 48%;
                .news-image{
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    overflow: hidden;
                    margin: 0;
                    width: 100%;
                }
                .news_desc{
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    padding: 10px;
                    h2{
                        font-family: $mont;
                        font-style: normal;
                        font-weight: bold;
                        font-size: em(16);
                        line-height: 23px;
                        color: #FFFFFF;
                    }
                    p{
                        display: none;
                    }
                }
                &:first-child{
                    margin-bottom: 15px;
                }
                &:hover .hovering{
                    display: block;
                    animation: fade-in 1.2s;
                    font-family: $aleg;
                    font-style: normal;
                    font-weight: 500;
                    font-size: em(14);
                    line-height: 22px;
                    color: #FFFFFF;
                    margin: 0;
                    padding: 0;
                    margin-bottom: 5px;
                }
            }
           .flex_bottom{
               display: flex;
               height: 48%;
               .news{
                   height: 100%;
                   .news_desc{
                       h2{
                           font-size: em(14);
                           margin-bottom: 5px;
                       }
                       p{
                           font-size: em(12);
                       }
                   }
                   &:first-child{
                       margin-bottom: 0;
                   }
                   &:last-child{
                       margin-right: 0px;
                   }
               }
           }
        }
        //.y_item-left{
        //    display: flex;
        //    align-items: center;
        //    text-align: center;
        //    justify-content: center;
        //    width: 35%;
        //    .ynews_left{
        //        height: 100%;
        //        position: relative;
        //        border-radius: 17px;
        //        overflow: hidden;
        //        width: 100%;
        //        .news_decs{
        //            position: absolute;
        //            z-index: 3;
        //            bottom: 0;
        //            padding: 0% 5% 5.2% 6%;
        //            text-align: start;
        //            .title{
        //                font-family: $mont;
        //                font-style: normal;
        //                font-weight: bold;
        //                font-size: em(24);
        //                line-height: 29px;
        //                color: #FFFFFF;
        //            }
        //            .desc{
        //                display: none;
        //                animation: fade_aut 1.2s;
        //            }
        //            &:hover  .hovering{
        //                display: block;
        //                animation: fade-in 1.2s;
        //                font-family: $aleg;
        //                font-style: normal;
        //                font-weight: 500;
        //                font-size: em(18);
        //                line-height: 22px;
        //                color: #FFFFFF;
        //                margin: 0;
        //                padding: 0;
        //            }
        //        }
        //    }
        //}
        //.y_item_right{
        //    display: flex;
        //    width: 64%;
        //    justify-content: space-around;
        //    .ynews_right{
        //        border-radius: 17px;
        //        position: relative;
        //        width: 55%;
        //        overflow: hidden;
        //        .news_decs{
        //            position: absolute;
        //            z-index: 3;
        //            bottom: 0;
        //            padding: 0% 5% 5.2% 6%;
        //            text-align: start;
        //            .title{
        //                font-family: $mont;
        //                font-style: normal;
        //                font-weight: bold;
        //                font-size: em(20);
        //                line-height: 27px;
        //                color: #FFFFFF;
        //            }
        //            .desc{
        //                position: absolute;
        //                visibility:hidden;
        //                opacity:0;
        //                transition:visibility 0s linear 0.5s,opacity 0.5s linear;
        //            }
        //        }
        //        &:hover .hovering{
        //            display: block;
        //            animation: fade-in 1.2s;
        //            font-family: $aleg;
        //            font-style: normal;
        //            font-weight: 500;
        //            font-size: em(18);
        //            line-height: 22px;
        //            color: #FFFFFF;
        //            margin: 0;
        //            padding: 0;
        //        }
        //    }
        //    .ynews_right-block{
        //        width: 42%;
        //        .item_news{
        //            width: 100%;
        //            height: 48%;
        //            border-radius: 17px;
        //            margin-bottom: 15px;
        //            position: relative;
        //            overflow: hidden;
        //            .news_decs{
        //                position: absolute;
        //                z-index: 3;
        //                bottom: 0;
        //                padding: 0% 3% 4.2% 4%;
        //                text-align: start;
        //                .title{
        //                    font-family: $mont;
        //                    font-style: normal;
        //                    font-weight: bold;
        //                    font-size: em(19);
        //                    line-height: 22px;
        //                    color: #FFFFFF;
        //                }
        //                .desc{
        //                    position: absolute;
        //                    visibility:hidden;
        //                    opacity:0;
        //                    transition:visibility 0s linear 0.5s,opacity 0.5s linear;
        //                }
        //            }
        //            &:last-child{
        //                margin-bottom: 0px;
        //            }
        //            &:hover .hovering{
        //                display: block;
        //                animation: fade-in 1.2s;
        //                font-family: $aleg;
        //                font-style: normal;
        //                font-weight: 500;
        //                font-size: em(18);
        //                line-height: 22px;
        //                color: #FFFFFF;
        //                margin: 0;
        //                padding: 0;
        //            }
        //        }
        //    }
        //}
        //a{
        //    .news_image{
        //        height: 100%;
        //        display: flex;
        //        align-items: center;
        //        justify-content: center;
        //        position: relative;
        //        overflow: hidden;
        //        margin: 0;
        //        width: 100%;
        //        .background_style{
        //            width: 100%;
        //            height: 100%;
        //            position: absolute;
        //            z-index: 2;
        //        }
        //        img{
        //            width: 160%;
        //            position: relative;
        //        }
        //
        //    }
        //    .read_more{
        //        display: flex;
        //        align-items: center;
        //        margin-block-start: 0.83em;
        //        font-family: $mont;
        //        font-style: normal;
        //        font-weight: bold;
        //        font-size: 16px;
        //        line-height: 20px;
        //        color: #FFFFFF;
        //        padding: 0;
        //        img{
        //            margin-left: 15px;
        //        }
        //    }
        //}
    p:hover .hovering{
        display: block;
        animation: fade-in 1.2s;
        font-family: $aleg;
        font-style: normal;
        font-weight: 500;
        font-size: em(18);
        line-height: 22px;
        color: #FFFFFF;
        margin: 0;
        padding: 0;

    }

    }
    .ybtn_show_more{
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        .show_more{
            background: linear-gradient(0deg, #072F6A, #072F6A), #FFFFFF;
            box-shadow: 0px 4px 4px rgba(7, 25, 48, 0.54);
            border-radius: 8px;
            font-family: $aleg;
            font-weight: bold;
            font-size: em(16);
            line-height: 23px;
            text-align: center;
            color: #FFFFFF;
            padding: 0px 15px;
            height: 40px;
            width: 180px;
        }
    }
}
@media only screen and (max-width: 1600px){
    .yb_auto_news{
        .ynews_item{
            .y_item-left{
                width: 48%;
            }
            .y_item_right{
                height: 100%;
                display: block;
                width: 50%;
                .ynews_right{
                    height: 50%;
                    width: 100%;
                    margin-bottom: 10px;
                    .news_decs{
                        padding: 0% 3% 3.2% 3%;
                        .title{
                            font-size: em(18);
                            margin: 10px 0px 10px 0px;
                        }
                        .desc{
                            font-size: em(16);
                        }
                    }
                }
                .ynews_right-block{
                    display: flex;
                    width: 100%;
                    height: 49%;
                    justify-content: space-between;
                    .item_news{
                        height: 100%;
                        width: 49%;
                        margin-bottom: 0px;
                        .news_decs{
                            padding: 0% 2% 4.2% 6%;
                            .title{
                                font-size: em(14);
                                margin: 5px 0px 5px 0px;
                            }
                            .desc{
                                font-size: em(14);
                            }
                        }
                    }
                }
            }
        }
        .ybtn_show_more{
            .show_more{
                padding: 1.5% 6%;
                font-size: em(18);
            }
        }
    }
}
@media only screen and (max-width: 1440px){
    .yb_auto_news{
        .ynews_item{
            height: 360px;
            .y_item-left{
                .ynews_left{
                    .news_decs{
                        .title{
                            font-size: em(18);
                        }
                    }
                }
            }
            .y_item_right{
                .ynews_right{
                    height: 48%;
                    .news_decs{
                        .title{
                            font-size: em(16);
                        }
                    }
                }

            }
            .hovering{
                font-size: em(14);
            }

        }
        .ybtn_show_more{
            margin-top: 60px;
            .show_more{
                height: 40px;
                padding: 0% 15px;
            }
        }

    }
}

@media only screen and (max-width: 945px){
    .yb_auto_news{
        .ynews_item{
            .y_item-left{
                .ynews_left{
                    .news_decs{
                        .title{
                            font-size: em(16);
                        }
                    }
                }
            }
            .y_item_right{
                .ynews_right{
                    height: 48%;
                    .news_decs{
                        .title{
                            font-size: em(16);
                        }
                    }
                }
                .ynews_right-block{
                    .item_news{
                        .news_decs{
                            .title{
                                font-size: em(12);
                            }
                            .hovering{
                                font-size: em(10);
                            }
                        }
                    }
                }

            }
            .hovering{
                font-size: em(13);
            }
            .title{
                  font-size: em(16);
              }
        }
        .ybtn_show_more{
            margin-top: 30px;
            .show_more{
                font-size: em(15);
                padding: 0% 15px;
                width: 180px;
                height: 35px;
            }
        }

    }
}

