@import '../../vars';

.yprice_container{
    width: 100%;
    .input_change{
        display: flex;
        align-items: center;
        text-align: center;
        padding-bottom: 25px;
        justify-content: space-around;
        .change{
            width: 49%;
            height: 42px;
            padding: 10px;
            border: 1px solid $search-border;
            box-sizing: border-box;
            border-radius: 10px;
            font-family: $aleg;
            font-weight: 500;
            font-size: em(18);
            color: $site-grey;
            -moz-appearance: textfield;
            &::placeholder{
                color: $site-grey;
            }
        }
    }
    .noUi-target{
        width: 100%;
        height: 7px;
        background: #E5E5E5;
        border-right: none;
        border: none;
        box-shadow: none;
        .noUi-base{
            .noUi-connects{
                background: #E5E5E5;
                .noUi-connect {
                    background: #0B3F8D;
                    transform: translate(22%, 0px) scale(0.6, 1);
                }
            }
            .noUi-origin{
                .noUi-handle{
                    background: #FFFEFE;
                    border-radius: 4px;
                    width: 15px;
                    outline: none;
                    cursor: pointer;
                    height: 15px;
                    top: -5px;
                    box-shadow: -1px 2px 4px rgba(78, 78, 78, 0.2);
                    &:after, &:before{
                        display: none;
                    }
                }
                .noUi-handle-upper{
                    right: -1px;
                }
                .noUi-handle-lower{
                    right: -15px;
                }
            }
        }

    }
}
@media only screen and (max-width: 1366px){
    .yprice_container{
        .input_change{
            padding-bottom: 15px;
            .change{
                height: 38px;
            }
        }
    }
}
@media only screen and (max-width: 945px){
    .yprice_container{
        .input_change{
            padding-bottom: 12px;
            .change{
                height: 35px;
            }
        }
    }
}
@media only screen and (max-width: 425px){
    .yprice_container{
        width: 80%;
        margin: 0 auto;
        .input_change{
            justify-content: space-between;
            padding-bottom: 20px;
            .change{
                width: 110px;
                height: 40px;
                font-size: em(16);
            }
        }
    }
}
@media only screen and (max-width: 375px){
    .yprice_container{
        width: 90%;
    }
}







