@import '../../vars';

.ystatus{
    .status_item{
        margin-bottom: 35px;
        .count_number{
            font-family: $noto;
            font-weight: 600;
            font-size: em(30);
            text-align: center;
            color: #fff;
            margin-bottom: 15px;
        }
        .count_title{
            font-family: $aleg;
            font-weight: 500;
            font-size: em(18);
            line-height: 24px;
            text-align: center;
            color: #FFFFFF;
            &:last-child{
                margin: 0;
            }
        }
    }
}
