@charset "UTF-8";

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
}

header,
footer,
div,
section,
article,
aside,
main,
input,
button {
  box-sizing: border-box;
  outline: none;
}

h1.yb-main-title {
  font-family: "Fira Sans", sans-serif;
  margin: 0px;
  font-size: 1.625em;
  font-weight: 500;
  color: #2E2E2E;
}

span.yb-gradient {
  background: linear-gradient(180deg, #007880 0%, #5DCCDB 93.75%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yb-tm-box {
  background-color: #fff;
  box-shadow: -6px 6px 15px rgba(224, 224, 224, 0.9), 6px -6px 12px rgba(255, 255, 255, 0.9), -6px -6px 12px rgba(224, 224, 224, 0.2), 6px 6px 12px rgba(224, 224, 224, 0.2), inset 1px -1px 2px rgba(224, 224, 224, 0.5), inset -1px 1px 2px rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 25px 40px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
}

header,
footer,
div,
section,
article,
aside,
main,
input,
button {
  box-sizing: border-box;
  outline: none;
}

h1.yb-main-title {
  font-family: "Fira Sans", sans-serif;
  margin: 0px;
  font-size: 1.625em;
  font-weight: 500;
  color: #2E2E2E;
}

span.yb-gradient {
  background: linear-gradient(180deg, #007880 0%, #5DCCDB 93.75%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yb-tm-box {
  background-color: #fff;
  box-shadow: -6px 6px 15px rgba(224, 224, 224, 0.9), 6px -6px 12px rgba(255, 255, 255, 0.9), -6px -6px 12px rgba(224, 224, 224, 0.2), 6px 6px 12px rgba(224, 224, 224, 0.2), inset 1px -1px 2px rgba(224, 224, 224, 0.5), inset -1px 1px 2px rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 25px 40px;
}

.yinput {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /*Adaptivity*/
}

.yinput input {
  width: 100%;
  height: 100%;
  border-radius: 45px;
  background-color: #fff;
  border: none;
}

.yinput i {
  position: absolute;
  left: 30px;
  color: #C4C4C4;
}

.yinput.l {
  height: 45px;
}

.yinput.l i {
  font-size: 1.125em;
}

.yinput.l input {
  font-family: "Montserrat", sans-serif;
  font-size: 1.125em;
  font-weight: 400;
  padding: 10px 20px 10px 60px;
}

.yinput.l input::-moz-placeholder {
  color: #C4C4C4;
}

.yinput.l input:-ms-input-placeholder {
  color: #C4C4C4;
}

.yinput.l input::-ms-input-placeholder {
  color: #C4C4C4;
}

.yinput.l input::placeholder {
  color: #C4C4C4;
}

.yinput.m {
  height: 35px;
}

.yinput.m i {
  left: 20px;
  font-size: 1em;
}

.yinput.m input {
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  font-weight: 400;
  padding: 6px 15px 8px 45px;
  box-shadow: 0px 4px 4px rgba(82, 79, 255, 0.12), 0px -4px 4px rgba(82, 79, 255, 0.07);
}

.yinput.m input::-moz-placeholder {
  color: #C4C4C4;
}

.yinput.m input:-ms-input-placeholder {
  color: #C4C4C4;
}

.yinput.m input::-ms-input-placeholder {
  color: #C4C4C4;
}

.yinput.m input::placeholder {
  color: #C4C4C4;
}

.yavatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.09);
  cursor: pointer;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
}

header,
footer,
div,
section,
article,
aside,
main,
input,
button {
  box-sizing: border-box;
  outline: none;
}

h1.yb-main-title {
  font-family: "Fira Sans", sans-serif;
  margin: 0px;
  font-size: 1.625em;
  font-weight: 500;
  color: #2E2E2E;
}

span.yb-gradient {
  background: linear-gradient(180deg, #007880 0%, #5DCCDB 93.75%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yb-tm-box {
  background-color: #fff;
  box-shadow: -6px 6px 15px rgba(224, 224, 224, 0.9), 6px -6px 12px rgba(255, 255, 255, 0.9), -6px -6px 12px rgba(224, 224, 224, 0.2), 6px 6px 12px rgba(224, 224, 224, 0.2), inset 1px -1px 2px rgba(224, 224, 224, 0.5), inset -1px 1px 2px rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 25px 40px;
}

ul.ytabs {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 30px;
}

ul.ytabs li.ytab-item {
  position: relative;
  padding: 5px 25px 10px;
  margin-right: 10px;
}

ul.ytabs li.ytab-item a.item-link {
  font-weight: 500;
  text-decoration: none;
  color: #616161;
}

ul.ytabs li.ytab-item.active a.item-link {
  color: #524FFF;
  opacity: 0.65;
}

ul.ytabs li.ytab-item.active:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 2px;
  background: linear-gradient(180deg, #524FFF 0%, #908EFD 93.75%), #FFFFFF;
  box-shadow: 4px 4px 10px rgba(48, 0, 151, 0.21), -4px 4px 8px rgba(55, 16, 166, 0.22);
  border-radius: 9px;
}

ul.ytabs li.ytab-item:last-child {
  margin-right: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
}

header,
footer,
div,
section,
article,
aside,
main,
input,
button {
  box-sizing: border-box;
  outline: none;
}

h1.yb-main-title {
  font-family: "Fira Sans", sans-serif;
  margin: 0px;
  font-size: 1.625em;
  font-weight: 500;
  color: #2E2E2E;
}

span.yb-gradient {
  background: linear-gradient(180deg, #007880 0%, #5DCCDB 93.75%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yb-tm-box {
  background-color: #fff;
  box-shadow: -6px 6px 15px rgba(224, 224, 224, 0.9), 6px -6px 12px rgba(255, 255, 255, 0.9), -6px -6px 12px rgba(224, 224, 224, 0.2), 6px 6px 12px rgba(224, 224, 224, 0.2), inset 1px -1px 2px rgba(224, 224, 224, 0.5), inset -1px 1px 2px rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 25px 40px;
}

.ytable {
  width: 100%;
  background-color: #fff;
  padding: 25px 35px;
  border-radius: 45px;
}

.ytable header.ytable-header {
  display: flex;
  margin-bottom: 30px;
}

.ytable header.ytable-header .yinput {
  width: 100%;
}

.ytable header.ytable-header .yselector {
  margin-right: 15px;
  margin-left: 15px;
}

.ytable .ytable-cols-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(212, 215, 217, 0.9);
}

.ytable .ytable-cols-header .ytable-col {
  font-size: 1em;
  font-weight: 600;
  color: #616161;
  display: flex;
  align-items: center;
}

.ytable .ytable-cols-header .ytable-col.s {
  min-width: 60px;
  max-width: 60px;
  justify-content: center;
}

.ytable .ytable-cols-header .ytable-col.m {
  min-width: 160px;
  max-width: 160px;
}

.ytable .ytable-cols-header .ytable-col.l {
  min-width: 240px;
  max-width: 240px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
}

header,
footer,
div,
section,
article,
aside,
main,
input,
button {
  box-sizing: border-box;
  outline: none;
}

h1.yb-main-title {
  font-family: "Fira Sans", sans-serif;
  margin: 0px;
  font-size: 1.625em;
  font-weight: 500;
  color: #2E2E2E;
}

span.yb-gradient {
  background: linear-gradient(180deg, #007880 0%, #5DCCDB 93.75%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yb-tm-box {
  background-color: #fff;
  box-shadow: -6px 6px 15px rgba(224, 224, 224, 0.9), 6px -6px 12px rgba(255, 255, 255, 0.9), -6px -6px 12px rgba(224, 224, 224, 0.2), 6px 6px 12px rgba(224, 224, 224, 0.2), inset 1px -1px 2px rgba(224, 224, 224, 0.5), inset -1px 1px 2px rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 25px 40px;
}

.yselector {
  display: flex;
  flex-direction: column;
  position: relative;
  /*Adaptivity*/
}

.yselector .yselector-title {
  font-size: 1em;
  width: 100%;
  height: 100%;
  line-height: 0;
  font-weight: 500;
  border-radius: 45px;
  color: #524FFF;
  border: 2px solid #524FFF;
  background-color: #F5F4FF;
  box-shadow: 0px 4px 10px rgba(82, 79, 255, 0.22);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0px 12px 2px;
  box-sizing: border-box;
  cursor: pointer;
}

.yselector .yselector-title i {
  font-size: 12px;
  padding-top: 3px;
  color: #C4C4C4;
}

.yselector .yselector-title i.fa-chevron-up {
  color: #524FFF;
}

.yselector .yselector-title.active {
  background-color: #fff;
  box-shadow: none;
}

.yselector .yselector-menu {
  position: absolute;
  width: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(82, 79, 255, 0.12), 0px -4px 4px rgba(82, 79, 255, 0.07);
  overflow: hidden;
}

.yselector .yselector-menu li.menu-option {
  padding: 5px 12px 5px 15px;
  font-weight: 400;
  color: #616161;
  cursor: pointer;
  position: relative;
}

.yselector .yselector-menu li.menu-option:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 44%;
  height: 5px;
  width: 5px;
  border-radius: 50%;
}

.yselector .yselector-menu li.menu-option:hover,
.yselector .yselector-menu li.menu-option.active {
  color: #fff;
  background-color: #524FFF;
}

.yselector .yselector-menu li.menu-option.active:after {
  background-color: #fff;
}

.yselector.m {
  font-size: 1em;
  width: 150px;
  min-width: 150px;
  height: 35px;
}

.yselector.m .yselector-menu {
  top: 40px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
}

header,
footer,
div,
section,
article,
aside,
main,
input,
button {
  box-sizing: border-box;
  outline: none;
}

h1.yb-main-title {
  font-family: "Fira Sans", sans-serif;
  margin: 0px;
  font-size: 1.625em;
  font-weight: 500;
  color: #2E2E2E;
}

span.yb-gradient {
  background: linear-gradient(180deg, #007880 0%, #5DCCDB 93.75%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yb-tm-box {
  background-color: #fff;
  box-shadow: -6px 6px 15px rgba(224, 224, 224, 0.9), 6px -6px 12px rgba(255, 255, 255, 0.9), -6px -6px 12px rgba(224, 224, 224, 0.2), 6px 6px 12px rgba(224, 224, 224, 0.2), inset 1px -1px 2px rgba(224, 224, 224, 0.5), inset -1px 1px 2px rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 25px 40px;
}

.ybutton {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  line-height: 0;
  border-radius: 45px;
  padding-bottom: 2px;
  box-sizing: border-box;
  font-weight: 500;
  /*Colors*/
  /*Adaptivity*/
}

.ybutton i {
  padding-top: 3px;
  margin-right: 15px;
  font-size: 0.75em;
}

.ybutton.purple {
  background-color: #2603FF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-weight: 600;
}

.ybutton.m {
  font-size: 1em;
  width: 150px;
  min-width: 150px;
  height: 35px;
}

.ycheck {
  margin-bottom: 20px;
  padding: 0px 15px;
  width: 100%;
  /* стили при наведении курсора на checkbox */
  /* стили для активного состояния чекбокса (при нажатии на него) */
  /* стили для чекбокса, находящегося в фокусе */
  /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
  /* стили для чекбокса, находящегося в состоянии disabled */
}

.ycheck label.ycheck-label {
  font-size: 0.875em;
  line-height: 1.375em;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  color: #2E2E2E;
}

.ycheck #ycheck-box {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.ycheck #ycheck-box + label.ycheck-label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.ycheck #ycheck-box + label.ycheck-label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.ycheck #ycheck-box:checked + label.ycheck-label::before {
  border-color: #2603FF;
  background-color: #2603FF;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

.ycheck #ycheck-box:not(:disabled):not(:checked) + label.ycheck-label:hover::before {
  border-color: #2603FF;
}

.ycheck #ycheck-box:not(:disabled):active + label.ycheck-label::before {
  background-color: #2603FF;
  border-color: #2603FF;
}

.ycheck #ycheck-box:focus + label.ycheck-label::before {
  box-shadow: 0 0 0 0.2rem rgba(38, 3, 255, 0.25);
}

.ycheck #ycheck-box:focus:not(:checked) + label.ycheck-label::before {
  border-color: #2603FF;
}

.ycheck #ycheck-box:disabled + label.ycheck-label::before {
  background-color: #e9ecef;
}

.ycheck.error #ycheck-box:not(:disabled):not(:checked) + label.ycheck-label::before {
  border-color: #FF3434;
  box-shadow: 0 0 0 0.2rem rgba(255, 52, 52, 0.25);
}

.ybtn {
  border-radius: 32px;
  background-color: #2603FF;
  font-family: "Fira Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1em;
  color: #fff;
  padding: 12px 30px;
  border: none;
  cursor: pointer;
}

.ybtn.disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#admin-panel {
  display: flex;
  background-color: #F8FAFA;
  background: linear-gradient(138.74deg, #F3F4FF 0%, #F6F4FF 100%);
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

#admin-panel .yb-page {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

#admin-panel .yb-page .yb-navigation {
  background-color: #fff;
  width: 250px;
  height: 100%;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.09);
  border-radius: 0px 60px 60px 0px;
}

#admin-panel .yb-page .yb-navigation .yb-navigation-header {
  width: 100%;
  padding: 30px 20px;
  margin-bottom: 0px;
}

#admin-panel .yb-page .yb-navigation .yb-navigation-header img.yb-logo {
  width: 100px;
}

#admin-panel .yb-page .yb-navigation .yb-navigation-lists {
  width: 100%;
}

#admin-panel .yb-page .yb-navigation .yb-navigation-lists .ynav-list {
  list-style: none;
  position: relative;
  padding-left: 20px;
}

#admin-panel .yb-page .yb-navigation .yb-navigation-lists .ynav-list .ynav-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 3px;
}

#admin-panel .yb-page .yb-navigation .yb-navigation-lists .ynav-list .ynav-list-item a {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #616161;
  text-decoration: none;
  font-weight: 600;
  padding: 5px 5px;
  width: 100%;
}

#admin-panel .yb-page .yb-navigation .yb-navigation-lists .ynav-list .ynav-list-item a i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  font-size: 1.25em;
  color: #C4C4C4;
  margin-right: 8px;
}

#admin-panel .yb-page .yb-navigation .yb-navigation-lists .ynav-list .ynav-list-item a:hover {
  color: #524FFF;
}

#admin-panel .yb-page .yb-navigation .yb-navigation-lists .ynav-list .ynav-list-item a:hover i {
  color: #524FFF;
}

#admin-panel .yb-page .yb-navigation .yb-navigation-lists .ynav-list .ynav-list-item .ynav-list-toggle {
  min-width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  font-size: 12px;
  border-radius: 32px;
  color: #C4C4C4;
  cursor: pointer;
}

#admin-panel .yb-page .yb-navigation .yb-navigation-lists .ynav-list .ynav-list-item .ynav-list-toggle:hover {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
}

#admin-panel .yb-page .yb-navigation .yb-navigation-lists .ynav-list .ynav-list-item:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0px;
  height: 100%;
  width: 2px;
}

#admin-panel .yb-page .yb-navigation .yb-navigation-lists .ynav-list .ynav-list-item.active:after {
  background-color: #524FFF;
}

#admin-panel .yb-page .yb-navigation .yb-navigation-lists .ynav-list .ynav-list-item.active a {
  color: #524FFF;
}

#admin-panel .yb-page .yb-navigation .yb-navigation-lists .ynav-list .ynav-list-item.active a i {
  color: #524FFF;
}

#admin-panel .yb-page .yb-navigation .yb-navigation-lists .ynav-list:after {
  position: absolute;
  content: "";
  width: 2px;
  background-color: #524FFF;
  height: calc(100% - 32px);
  top: 32px;
  left: 35px;
}

#admin-panel .yb-page .yb-navigation .yb-navigation-lists .ynav-list.non-child .ynav-list-item a {
  font-size: 16px;
  font-weight: 500;
  padding: 5px 5px;
}

#admin-panel .yb-page .yb-navigation .yb-navigation-lists .ynav-list.non-child .ynav-list-item a i {
  width: 23px;
  font-size: 1.125em;
  margin-right: 8px;
}

#admin-panel .yb-page .yb-navigation .yb-navigation-lists .ynav-list.non-child:after {
  display: none;
}

#admin-panel .yb-page .yb-content {
  width: calc(100% - 250px);
  display: flex;
  flex-direction: column;
  padding: 25px 50px;
}

#admin-panel .yb-page .yb-content header.yb-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

#admin-panel .yb-page .yb-content header.yb-header .yinput {
  width: 85%;
}

#admin-panel .yb-page .yb-content header.yb-header .yb-smart-helpers {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#admin-panel .yb-page .yb-content header.yb-header .yb-smart-helpers .yavatar {
  margin-left: 20px;
}

#admin-panel .yb-page .yb-content .yb-admin-app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#admin-panel .yb-page .yb-content .yb-admin-app .app-list {
  width: 100%;
  height: 100%;
}

