html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
}

header,
footer,
div,
section,
article,
aside,
main,
input,
button {
  box-sizing: border-box;
  outline: none;
}

li,
a {
  list-style: none;
  outline: none;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

h1.yb-main-title {
  font-family: "Fira Sans", sans-serif;
  margin: 0px;
  font-size: 1.625em;
  font-weight: 500;
  color: #2E2E2E;
}

span.yb-gradient {
  background: linear-gradient(180deg, #007880 0%, #5DCCDB 93.75%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yb-tm-box {
  background-color: #fff;
  box-shadow: -6px 6px 15px rgba(224, 224, 224, 0.9), 6px -6px 12px rgba(255, 255, 255, 0.9), -6px -6px 12px rgba(224, 224, 224, 0.2), 6px 6px 12px rgba(224, 224, 224, 0.2), inset 1px -1px 2px rgba(224, 224, 224, 0.5), inset -1px 1px 2px rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 25px 40px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
}

header,
footer,
div,
section,
article,
aside,
main,
input,
button {
  box-sizing: border-box;
  outline: none;
}

li,
a {
  list-style: none;
  outline: none;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

h1.yb-main-title {
  font-family: "Fira Sans", sans-serif;
  margin: 0px;
  font-size: 1.625em;
  font-weight: 500;
  color: #2E2E2E;
}

span.yb-gradient {
  background: linear-gradient(180deg, #007880 0%, #5DCCDB 93.75%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yb-tm-box {
  background-color: #fff;
  box-shadow: -6px 6px 15px rgba(224, 224, 224, 0.9), 6px -6px 12px rgba(255, 255, 255, 0.9), -6px -6px 12px rgba(224, 224, 224, 0.2), 6px 6px 12px rgba(224, 224, 224, 0.2), inset 1px -1px 2px rgba(224, 224, 224, 0.5), inset -1px 1px 2px rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 25px 40px;
}

.ycats .yb-drop_down .cat_drop-down {
  display: flex;
  background: linear-gradient(0deg, #0B3F8D, #0B3F8D), #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 120, 128, 0.16);
  border-radius: 12px;
  font-family: "Alegreya Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.375em;
  line-height: 26px;
  text-align: center;
  width: 236px;
  height: 54px;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  color: #FFFFFF;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
}

header,
footer,
div,
section,
article,
aside,
main,
input,
button {
  box-sizing: border-box;
  outline: none;
}

li,
a {
  list-style: none;
  outline: none;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

h1.yb-main-title {
  font-family: "Fira Sans", sans-serif;
  margin: 0px;
  font-size: 1.625em;
  font-weight: 500;
  color: #2E2E2E;
}

span.yb-gradient {
  background: linear-gradient(180deg, #007880 0%, #5DCCDB 93.75%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yb-tm-box {
  background-color: #fff;
  box-shadow: -6px 6px 15px rgba(224, 224, 224, 0.9), 6px -6px 12px rgba(255, 255, 255, 0.9), -6px -6px 12px rgba(224, 224, 224, 0.2), 6px 6px 12px rgba(224, 224, 224, 0.2), inset 1px -1px 2px rgba(224, 224, 224, 0.5), inset -1px 1px 2px rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 25px 40px;
}

.ybutton {
  width: 260px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(0deg, #0B3F8D, #0B3F8D), #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 120, 128, 0.16);
  border-radius: 12px;
  font-family: "Alegreya Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.375em;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
}

header,
footer,
div,
section,
article,
aside,
main,
input,
button {
  box-sizing: border-box;
  outline: none;
}

li,
a {
  list-style: none;
  outline: none;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

h1.yb-main-title {
  font-family: "Fira Sans", sans-serif;
  margin: 0px;
  font-size: 1.625em;
  font-weight: 500;
  color: #2E2E2E;
}

span.yb-gradient {
  background: linear-gradient(180deg, #007880 0%, #5DCCDB 93.75%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yb-tm-box {
  background-color: #fff;
  box-shadow: -6px 6px 15px rgba(224, 224, 224, 0.9), 6px -6px 12px rgba(255, 255, 255, 0.9), -6px -6px 12px rgba(224, 224, 224, 0.2), 6px 6px 12px rgba(224, 224, 224, 0.2), inset 1px -1px 2px rgba(224, 224, 224, 0.5), inset -1px 1px 2px rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 25px 40px;
}

.ysearch {
  display: flex;
  align-items: center;
  position: relative;
}

.ysearch .search {
  width: 530px;
  height: 50px;
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  border-radius: 5px;
  font-family: "Alegreya Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25em;
  line-height: 25px;
  text-transform: capitalize;
  color: #CDCDCD;
  padding: 13px 0px 13px 30px;
}

.ysearch .fas {
  position: absolute;
  right: 15px;
  font-size: 1.5625em;
  color: rgba(34, 34, 34, 0.59);
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
}

header,
footer,
div,
section,
article,
aside,
main,
input,
button {
  box-sizing: border-box;
  outline: none;
}

li,
a {
  list-style: none;
  outline: none;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

h1.yb-main-title {
  font-family: "Fira Sans", sans-serif;
  margin: 0px;
  font-size: 1.625em;
  font-weight: 500;
  color: #2E2E2E;
}

span.yb-gradient {
  background: linear-gradient(180deg, #007880 0%, #5DCCDB 93.75%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yb-tm-box {
  background-color: #fff;
  box-shadow: -6px 6px 15px rgba(224, 224, 224, 0.9), 6px -6px 12px rgba(255, 255, 255, 0.9), -6px -6px 12px rgba(224, 224, 224, 0.2), 6px 6px 12px rgba(224, 224, 224, 0.2), inset 1px -1px 2px rgba(224, 224, 224, 0.5), inset -1px 1px 2px rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 25px 40px;
}

.ylocations {
  display: flex;
  align-items: center;
  position: relative;
}

.ylocations i {
  color: #0B3F8D;
  font-size: 1.875em;
  position: relative;
  padding-right: 10px;
}

.ylocations .dropdown-input {
  width: 100%;
  font-family: "Alegreya Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25em;
  line-height: 24px;
  border: none;
  outline: none;
  color: rgba(34, 34, 34, 0.79);
}

.autocomplete {
  position: relative;
  width: 130px;
}

.autocomplete-results {
  font-family: "Alegreya Sans", sans-serif;
  background: linear-gradient(180deg, rgba(249, 249, 249, 0.5) 0%, rgba(255, 255, 255, 0.5) 105.93%), #F7F7F7;
  position: absolute;
  padding: 0;
  margin: 0;
  height: 180px;
  overflow: auto;
  width: 100%;
  left: 20px;
  top: 45px;
  z-index: 2;
}

.autocomplete-results .autocomplete-result {
  padding: 10px;
  text-align: left;
  cursor: pointer;
  color: rgba(34, 34, 34, 0.79);
}

.autocomplete-result.is-active,
.autocomplete-result:hover {
  background: linear-gradient(0deg, #0B3F8D, #0B3F8D), #FFFFFF;
  color: #FFFFFF;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
}

header,
footer,
div,
section,
article,
aside,
main,
input,
button {
  box-sizing: border-box;
  outline: none;
}

li,
a {
  list-style: none;
  outline: none;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

h1.yb-main-title {
  font-family: "Fira Sans", sans-serif;
  margin: 0px;
  font-size: 1.625em;
  font-weight: 500;
  color: #2E2E2E;
}

span.yb-gradient {
  background: linear-gradient(180deg, #007880 0%, #5DCCDB 93.75%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yb-tm-box {
  background-color: #fff;
  box-shadow: -6px 6px 15px rgba(224, 224, 224, 0.9), 6px -6px 12px rgba(255, 255, 255, 0.9), -6px -6px 12px rgba(224, 224, 224, 0.2), 6px 6px 12px rgba(224, 224, 224, 0.2), inset 1px -1px 2px rgba(224, 224, 224, 0.5), inset -1px 1px 2px rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 25px 40px;
}

.ymenu {
  display: flex;
  align-items: center;
}

.ymenu .ydots {
  padding-right: 20px;
}

.ymenu .ydots i {
  color: #0B3F8D;
  font-size: 2.5em;
}

.ymenu .users_icon {
  display: flex;
  align-items: center;
}

.ymenu .users_icon .favorite_items {
  padding-right: 20px;
}

.ymenu .users_icon .favorite_items i {
  font-size: 3.125em;
  color: #737373;
}

.ymenu .users_icon .user_room {
  width: 50px;
  height: 50px;
  border: 2px solid #737373;
  border-radius: 50%;
}

.ymenu .users_icon .user_room i {
  font-size: 1.875em;
  color: #737373;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
}

header,
footer,
div,
section,
article,
aside,
main,
input,
button {
  box-sizing: border-box;
  outline: none;
}

li,
a {
  list-style: none;
  outline: none;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

h1.yb-main-title {
  font-family: "Fira Sans", sans-serif;
  margin: 0px;
  font-size: 1.625em;
  font-weight: 500;
  color: #2E2E2E;
}

span.yb-gradient {
  background: linear-gradient(180deg, #007880 0%, #5DCCDB 93.75%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yb-tm-box {
  background-color: #fff;
  box-shadow: -6px 6px 15px rgba(224, 224, 224, 0.9), 6px -6px 12px rgba(255, 255, 255, 0.9), -6px -6px 12px rgba(224, 224, 224, 0.2), 6px 6px 12px rgba(224, 224, 224, 0.2), inset 1px -1px 2px rgba(224, 224, 224, 0.5), inset -1px 1px 2px rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 25px 40px;
}

.ybreguests {
  display: flex;
  position: relative;
  margin-top: 20px;
}

.ybreguests .yb-reguests-items {
  padding: 15px 0px 0px 20px;
  margin: 0;
}

.ybreguests .yb-reguests-items .reg_item {
  padding: 10px;
  text-align: start;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25em;
}

.ybreguests .yb-reguests-items .reg_item a {
  color: rgba(97, 97, 97, 0.79);
}

.ybreguests .yb-reguests-items .reg_item a:hover {
  color: #0C154A;
}

.ybreguests:after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 0px;
  border: 3px solid #EEEEEE;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
}

header,
footer,
div,
section,
article,
aside,
main,
input,
button {
  box-sizing: border-box;
  outline: none;
}

li,
a {
  list-style: none;
  outline: none;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

h1.yb-main-title {
  font-family: "Fira Sans", sans-serif;
  margin: 0px;
  font-size: 1.625em;
  font-weight: 500;
  color: #2E2E2E;
}

span.yb-gradient {
  background: linear-gradient(180deg, #007880 0%, #5DCCDB 93.75%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yb-tm-box {
  background-color: #fff;
  box-shadow: -6px 6px 15px rgba(224, 224, 224, 0.9), 6px -6px 12px rgba(255, 255, 255, 0.9), -6px -6px 12px rgba(224, 224, 224, 0.2), 6px 6px 12px rgba(224, 224, 224, 0.2), inset 1px -1px 2px rgba(224, 224, 224, 0.5), inset -1px 1px 2px rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 25px 40px;
}

.yb_ex-search .ex_search {
  position: relative;
  display: flex;
  align-items: center;
  font-family: "Alegreya Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.375em;
  line-height: 26px;
  text-align: center;
  padding: 0;
}

.yb_ex-search .ex_search .arrow {
  position: absolute;
  right: 21px;
  color: #0B3F8D;
  font-size: 2.5em;
  width: 50px;
}

.yb_ex-search .ex_search .eclipse {
  color: #FFFFFF;
  font-size: 3.125em;
  padding-left: 40px;
}

.yb_ex-search:after {
  content: "";
  width: 20px;
  height: 3px;
  color: #FFFFFF;
  position: absolute;
  background: #FFFFFF;
  top: 63px;
  right: 88px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
}

header,
footer,
div,
section,
article,
aside,
main,
input,
button {
  box-sizing: border-box;
  outline: none;
}

li,
a {
  list-style: none;
  outline: none;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

h1.yb-main-title {
  font-family: "Fira Sans", sans-serif;
  margin: 0px;
  font-size: 1.625em;
  font-weight: 500;
  color: #2E2E2E;
}

span.yb-gradient {
  background: linear-gradient(180deg, #007880 0%, #5DCCDB 93.75%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yb-tm-box {
  background-color: #fff;
  box-shadow: -6px 6px 15px rgba(224, 224, 224, 0.9), 6px -6px 12px rgba(255, 255, 255, 0.9), -6px -6px 12px rgba(224, 224, 224, 0.2), 6px 6px 12px rgba(224, 224, 224, 0.2), inset 1px -1px 2px rgba(224, 224, 224, 0.5), inset -1px 1px 2px rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 25px 40px;
}

.y-best_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 80px;
}

.y-best_top .top_title {
  position: relative;
}

.y-best_top .top_title .title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 2.5em;
  line-height: 63px;
  color: #111E6C;
}

.y-best_top .top_title .title:after {
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0px;
  position: absolute;
  border: 2px solid #111E6C;
}

.y-best_top .change_visible .change_view {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin: 10px;
}

.y-best_top .change_visible .change_view i {
  color: #C4C4C4;
  font-size: 2.5em;
}

.y-best_top .change_visible .change_view:focus {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12), 0px -4px 4px rgba(0, 0, 0, 0.08);
}

.y-best_top .change_visible .change_view:focus i {
  color: #111E6C;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
}

header,
footer,
div,
section,
article,
aside,
main,
input,
button {
  box-sizing: border-box;
  outline: none;
}

li,
a {
  list-style: none;
  outline: none;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

h1.yb-main-title {
  font-family: "Fira Sans", sans-serif;
  margin: 0px;
  font-size: 1.625em;
  font-weight: 500;
  color: #2E2E2E;
}

span.yb-gradient {
  background: linear-gradient(180deg, #007880 0%, #5DCCDB 93.75%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yb-tm-box {
  background-color: #fff;
  box-shadow: -6px 6px 15px rgba(224, 224, 224, 0.9), 6px -6px 12px rgba(255, 255, 255, 0.9), -6px -6px 12px rgba(224, 224, 224, 0.2), 6px 6px 12px rgba(224, 224, 224, 0.2), inset 1px -1px 2px rgba(224, 224, 224, 0.5), inset -1px 1px 2px rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 25px 40px;
}

.yb_count-status .status_items {
  margin-bottom: 10px;
}

.yb_count-status .status_items .count_number {
  max-width: 130px;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.75em;
  line-height: 52px;
  text-align: center;
  font-variant: small-caps;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.yb_count-status .status_items .count_title {
  max-width: 150px;
  font-family: "Alegreya Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.375em;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.yb_count-status .status_items .count_title:last-child {
  margin: 0;
}

.yb_count-status:last-child {
  margin-bottom: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
}

header,
footer,
div,
section,
article,
aside,
main,
input,
button {
  box-sizing: border-box;
  outline: none;
}

li,
a {
  list-style: none;
  outline: none;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

h1.yb-main-title {
  font-family: "Fira Sans", sans-serif;
  margin: 0px;
  font-size: 1.625em;
  font-weight: 500;
  color: #2E2E2E;
}

span.yb-gradient {
  background: linear-gradient(180deg, #007880 0%, #5DCCDB 93.75%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yb-tm-box {
  background-color: #fff;
  box-shadow: -6px 6px 15px rgba(224, 224, 224, 0.9), 6px -6px 12px rgba(255, 255, 255, 0.9), -6px -6px 12px rgba(224, 224, 224, 0.2), 6px 6px 12px rgba(224, 224, 224, 0.2), inset 1px -1px 2px rgba(224, 224, 224, 0.5), inset -1px 1px 2px rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 25px 40px;
}

.yb_form {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  width: 100%;
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
}

header,
footer,
div,
section,
article,
aside,
main,
input,
button {
  box-sizing: border-box;
  outline: none;
}

li,
a {
  list-style: none;
  outline: none;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

h1.yb-main-title {
  font-family: "Fira Sans", sans-serif;
  margin: 0px;
  font-size: 1.625em;
  font-weight: 500;
  color: #2E2E2E;
}

span.yb-gradient {
  background: linear-gradient(180deg, #007880 0%, #5DCCDB 93.75%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yb-tm-box {
  background-color: #fff;
  box-shadow: -6px 6px 15px rgba(224, 224, 224, 0.9), 6px -6px 12px rgba(255, 255, 255, 0.9), -6px -6px 12px rgba(224, 224, 224, 0.2), 6px 6px 12px rgba(224, 224, 224, 0.2), inset 1px -1px 2px rgba(224, 224, 224, 0.5), inset -1px 1px 2px rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 25px 40px;
}

.ybestoffer .y-best_items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.ybestoffer .y-best_items .offer_item {
  max-width: 500px;
  position: relative;
}

.ybestoffer .y-best_items .offer_item .yb-icon_check {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
}

.ybestoffer .y-best_items .offer_item .yb-icon_check .item_check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  border-radius: 50%;
  background: #111E6C;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
}

.ybestoffer .y-best_items .offer_item .yb-icon_check .new_item {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #FDC80C;
  color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.65);
}

.ybestoffer .y-best_items .offer_item .item_image {
  border-radius: 15px 15px 0px 0px;
  overflow: hidden;
  margin: 0;
  width: 100%;
}

.ybestoffer .y-best_items .offer_item .item_image img {
  width: 100%;
}

.ybestoffer .y-best_items .offer_item .item_desc {
  padding: 20px 80px 20px 20px;
  background: linear-gradient(159.72deg, #FFFFFF 0%, #FFFFFF 100%);
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 9px 23px rgba(0, 0, 0, 0.04), 0px 16px 77px rgba(0, 0, 0, 0.06);
  text-align: start;
  border-radius: 0px 0px 15px 15px;
}

.ybestoffer .y-best_items .offer_item .item_desc .item_name {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5em;
  line-height: 142.5%;
  color: #222222;
  margin: 0;
  margin-bottom: 10px;
}

.ybestoffer .y-best_items .offer_item .item_desc .sity-name_item {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(34, 34, 34, 0.74);
}

.ybestoffer .y-best_items .offer_item .item_desc .price_more {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: start;
  margin-top: 5px;
}

.ybestoffer .y-best_items .offer_item .item_desc .price_more .item_price {
  color: #2ECC71;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
}

.ybestoffer .y-best_items .offer_item .item_desc .price_more .show_more {
  display: flex;
  align-items: center;
  color: #111E6C;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.ybestoffer .y-best_items .offer_item .item_desc .price_more .show_more .arrow_right {
  margin-left: 10px;
}

.ybestoffer .show-items_dots {
  display: flex;
  justify-content: center;
}

.ybestoffer .show-items_dots .item_dots {
  display: flex;
}

.ybestoffer .show-items_dots .item_dots .dots {
  display: inline-block;
  margin: 0 10px;
}

.ybestoffer .show-items_dots .item_dots .dots .check_dot {
  width: 20px;
  height: 20px;
  background: #FCFCFC;
  border: 2px solid #111E6C;
  border-radius: 50%;
}

.ybestoffer .show-items_dots .item_dots .dots .check_dot:focus {
  background: #111E6C;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
}

header,
footer,
div,
section,
article,
aside,
main,
input,
button {
  box-sizing: border-box;
  outline: none;
}

li,
a {
  list-style: none;
  outline: none;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

h1.yb-main-title {
  font-family: "Fira Sans", sans-serif;
  margin: 0px;
  font-size: 1.625em;
  font-weight: 500;
  color: #2E2E2E;
}

span.yb-gradient {
  background: linear-gradient(180deg, #007880 0%, #5DCCDB 93.75%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yb-tm-box {
  background-color: #fff;
  box-shadow: -6px 6px 15px rgba(224, 224, 224, 0.9), 6px -6px 12px rgba(255, 255, 255, 0.9), -6px -6px 12px rgba(224, 224, 224, 0.2), 6px 6px 12px rgba(224, 224, 224, 0.2), inset 1px -1px 2px rgba(224, 224, 224, 0.5), inset -1px 1px 2px rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 25px 40px;
}

.ycatalog_block .y-cat-bottom {
  display: flex;
  border-radius: 35px;
  box-shadow: 28px 28px 113px rgba(220, 222, 222, 0.17), -28px -28px 56px rgba(255, 255, 255, 0.9), 23px 20px 35px rgba(220, 222, 222, 0.11), inset -1px -1px 2px #DCDEDE, inset 1px 1px 2px rgba(255, 255, 255, 0.3);
}

.ycatalog_block .y-cat-bottom .cat_categories {
  background: linear-gradient(151.07deg, #FEFFFF -17.9%, #E6E8E8 100%);
}

.ycatalog_block .y-cat-bottom .cat_categories .y-bt_title {
  padding: 80px 60px 0px 70px;
}

.ycatalog_block .y-cat-bottom .cat_categories .y-bt_title .title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3em;
  line-height: 56px;
  text-transform: capitalize;
  color: rgba(80, 83, 83, 0.92);
  margin: 0;
}

.ycatalog_block .y-cat-bottom .cat_categories .cat_list-items .list_items {
  text-align: start;
  padding: 0;
}

.ycatalog_block .y-cat-bottom .cat_categories .cat_list-items .list_items .cat_item {
  cursor: pointer;
  padding: 20px 60px 20px 70px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.25em;
  line-height: 24px;
  color: rgba(80, 83, 83, 0.92);
}

.ycatalog_block .y-cat-bottom .cat_categories .cat_list-items .list_items .cat_item:focus {
  color: #FFFFFF;
  background: linear-gradient(179.92deg, rgba(27, 27, 27, 0.63) -60.3%, rgba(27, 27, 27, 0.08) 103.54%), #0B3F8D;
  border-radius: 1px;
}

.ycatalog_block .y-cat-bottom .type_body-marks {
  width: 100%;
  border-radius: 0px 35px 0px 0px;
  overflow: hidden;
}

.ycatalog_block .y-cat-bottom .type_body-marks .car_body-type {
  background: linear-gradient(179.92deg, rgba(27, 27, 27, 0.63) -60.3%, rgba(27, 27, 27, 0.08) 103.54%), #0B3F8D;
}

.ycatalog_block .y-cat-bottom .type_body-marks .car_body-type .body-type_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px;
}

.ycatalog_block .y-cat-bottom .type_body-marks .car_body-type .body-type_top .white {
  color: #FFFFFF;
}

.ycatalog_block .y-cat-bottom .type_body-marks .car_body-type .body-type_top .type-top_title {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3em;
  line-height: 56px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.ycatalog_block .y-cat-bottom .type_body-marks .car_body-type .body-type_top .ex_search:after {
  content: "";
  width: 20px;
  height: 3px;
  position: absolute;
  background: #FFFFFF;
  top: 33px;
  right: 66px;
}

.ycatalog_block .y-cat-bottom .type_body-marks .car_body-type .yb-slide_type {
  display: flex;
  justify-content: space-around;
  padding: 0px 60px 60px 60px;
}

.ycatalog_block .y-cat-bottom .type_body-marks .car_body-type .yb-slide_type .yb_clide-body .slide {
  overflow: hidden;
  margin: 0;
  width: 100%;
}

.ycatalog_block .y-cat-bottom .type_body-marks .car_body-type .yb-slide_type .yb_clide-body .slide img {
  width: 100%;
}

.ycatalog_block .y-cat-bottom .type_body-marks .car_body-type .yb-slide_type .yb_clide-body .body_name {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 29px;
  color: #FFFFFF;
  font-size: 1.5em;
}

.ycatalog_block .y-cat-bottom .type_body-marks .car_body-type .yb-slide_type .yb_clide-body:nth-child(2) {
  font-size: 2.25em;
}

.ycatalog_block .y-cat-bottom .type_body-marks .yb-car_marks .car_marks-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 70px 40px 80px;
}

.ycatalog_block .y-cat-bottom .type_body-marks .yb-car_marks .car_marks-title .marks_title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  text-transform: capitalize;
  color: rgba(80, 83, 83, 0.92);
  margin: 0;
}

.ycatalog_block .y-cat-bottom .type_body-marks .yb-car_marks .car_marks-title .blue {
  color: #072F6A;
}

.ycatalog_block .y-cat-bottom .type_body-marks .yb-car_marks .car_marks-title .ex_search .arrow g {
  fill: #fff;
}

.ycatalog_block .y-cat-bottom .type_body-marks .yb-car_marks .car_marks-title .ex_search .eclipse {
  color: #072F6A;
}

.ycatalog_block .y-cat-bottom .type_body-marks .yb-car_marks .car_marks-title .ex_search:after {
  content: "";
  width: 20px;
  height: 3px;
  color: #FFFFFF;
  position: absolute;
  background: #072F6A;
  top: 34px;
  right: 66px;
}

.ycatalog_block .y-cat-bottom .type_body-marks .yb-car_marks .yb_list .yb_marks_list .marks-list_body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-flow: wrap;
  margin: 0;
  padding: 0px 70px 40px 80px;
}

.ycatalog_block .y-cat-bottom .type_body-marks .yb-car_marks .yb_list .yb_marks_list .marks-list_body .mark_list {
  max-width: 220px;
  max-height: 160px;
  display: flex;
  align-items: center;
  background: conic-gradient(from 89.31deg at -60.22% 59.22%, #FFFFFF 0deg, #FFFFFF 266.25deg, #EEEEEE 346.88deg, #FFFFFF 360deg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
  border-radius: 14px;
  margin: 20px;
}

.ycatalog_block .y-cat-bottom .type_body-marks .yb-car_marks .yb_list .yb_marks_list .marks-list_body .mark_list .marks {
  overflow: hidden;
  margin: 0;
  max-width: 130px;
  padding: 50px;
}

.ycatalog_block .y-cat-bottom .type_body-marks .yb-car_marks .yb_list .yb_marks_list .marks-list_body .mark_list .marks img {
  width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
}

header,
footer,
div,
section,
article,
aside,
main,
input,
button {
  box-sizing: border-box;
  outline: none;
}

li,
a {
  list-style: none;
  outline: none;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

h1.yb-main-title {
  font-family: "Fira Sans", sans-serif;
  margin: 0px;
  font-size: 1.625em;
  font-weight: 500;
  color: #2E2E2E;
}

span.yb-gradient {
  background: linear-gradient(180deg, #007880 0%, #5DCCDB 93.75%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yb-tm-box {
  background-color: #fff;
  box-shadow: -6px 6px 15px rgba(224, 224, 224, 0.9), 6px -6px 12px rgba(255, 255, 255, 0.9), -6px -6px 12px rgba(224, 224, 224, 0.2), 6px 6px 12px rgba(224, 224, 224, 0.2), inset 1px -1px 2px rgba(224, 224, 224, 0.5), inset -1px 1px 2px rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 25px 40px;
}

.favorite {
  position: absolute;
  z-index: 2;
  width: 68px;
  height: 68px;
  background: #FFFFFF;
  border-radius: 50%;
  bottom: 130px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  right: 60px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.favorite .heart_svg {
  width: 40px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
}

header,
footer,
div,
section,
article,
aside,
main,
input,
button {
  box-sizing: border-box;
  outline: none;
}

li,
a {
  list-style: none;
  outline: none;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

h1.yb-main-title {
  font-family: "Fira Sans", sans-serif;
  margin: 0px;
  font-size: 1.625em;
  font-weight: 500;
  color: #2E2E2E;
}

span.yb-gradient {
  background: linear-gradient(180deg, #007880 0%, #5DCCDB 93.75%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yb-tm-box {
  background-color: #fff;
  box-shadow: -6px 6px 15px rgba(224, 224, 224, 0.9), 6px -6px 12px rgba(255, 255, 255, 0.9), -6px -6px 12px rgba(224, 224, 224, 0.2), 6px 6px 12px rgba(224, 224, 224, 0.2), inset 1px -1px 2px rgba(224, 224, 224, 0.5), inset -1px 1px 2px rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 25px 40px;
}

.yanalitic .analitics_title {
  display: flex;
}

.yanalitic .analitics_title .title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 3.375em;
  line-height: 63px;
  text-transform: capitalize;
  color: #111E6C;
  position: relative;
  padding-bottom: 30px;
}

.yanalitic .analitics_title .title:after {
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0px;
  position: absolute;
  border: 2px solid #111E6C;
}

.yanalitic .yanalitics_nav .ynavigation {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}

.yanalitic .yanalitics_nav .ynavigation .nav_item {
  cursor: pointer;
  padding: 14px 33px 14px 33px;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 1.375em;
  line-height: 27px;
  text-align: center;
  color: rgba(97, 97, 97, 0.76);
}

.yanalitic .yanalitics_nav .ynavigation .nav_item:focus {
  border: 2px solid #072F6A;
  box-sizing: border-box;
  box-shadow: 0px 4px 10px rgba(82, 79, 255, 0.22);
  border-radius: 47px;
  color: #072F6A;
}

.yanalitic .analitics_content {
  display: flex;
  padding-top: 80px;
}

.yanalitic .analitics_content .analitics_desc {
  margin-top: 80px;
  text-align: start;
  max-width: 820px;
}

.yanalitic .analitics_content .analitics_desc .analitics_subtitle {
  margin: 0;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3.375em;
  line-height: 63px;
  text-transform: capitalize;
  color: rgba(27, 27, 27, 0.92);
}

.yanalitic .analitics_content .analitics_desc .subtitle_desc {
  margin: 0;
  width: 100%;
  white-space: pre-line;
  font-family: "Alegreya Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 34px;
  color: rgba(80, 83, 83, 0.54);
}

.yanalitic .analitics_content .analitics_desc .yverify_btn {
  background: linear-gradient(0deg, #072F6A, #072F6A), #FFFFFF;
  box-shadow: 0px 4px 4px rgba(7, 25, 48, 0.54);
  border-radius: 14px;
  font-family: "Alegreya Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 40px;
  padding: 17px 70px 17px 70px;
}

.yanalitic .analitics_content .analitics_prev {
  overflow: hidden;
  margin: 0;
  width: 100%;
}

.yanalitic .analitics_content .analitics_prev img {
  width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 22px;
}

header,
footer,
div,
section,
article,
aside,
main,
input,
button {
  box-sizing: border-box;
  outline: none;
}

li,
a {
  list-style: none;
  outline: none;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

h1.yb-main-title {
  font-family: "Fira Sans", sans-serif;
  margin: 0px;
  font-size: 1.625em;
  font-weight: 500;
  color: #2E2E2E;
}

span.yb-gradient {
  background: linear-gradient(180deg, #007880 0%, #5DCCDB 93.75%), #FFFFFF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.yb-tm-box {
  background-color: #fff;
  box-shadow: -6px 6px 15px rgba(224, 224, 224, 0.9), 6px -6px 12px rgba(255, 255, 255, 0.9), -6px -6px 12px rgba(224, 224, 224, 0.2), 6px 6px 12px rgba(224, 224, 224, 0.2), inset 1px -1px 2px rgba(224, 224, 224, 0.5), inset -1px 1px 2px rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  padding: 25px 40px;
}

.yb_auto_news .ynews_item .y_item-top {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.yb_auto_news .ynews_item .y_item-top .ynews_left {
  position: relative;
  border-radius: 17px;
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  margin-right: 30px;
}

.yb_auto_news .ynews_item .y_item-top .ynews_left .left_img {
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%;
}

.yb_auto_news .ynews_item .y_item-top .ynews_left .left_img img {
  width: 100%;
}

.yb_auto_news .ynews_item .y_item-top .ynews_right {
  position: relative;
  border-radius: 17px;
  overflow: hidden;
  max-width: 800px;
  max-height: 450px;
}

.yb_auto_news .ynews_item .y_item-top .ynews_right .right_img {
  position: relative;
  overflow: hidden;
  margin: 0;
  width: 100%;
}

.yb_auto_news .ynews_item .y_item-top .ynews_right .right_img img {
  width: 100%;
}

.yb_auto_news .ynews_item .y_item-top .news_decs {
  position: absolute;
  z-index: 2;
  bottom: 0;
}

.yb_auto_news .ynews_item .y_item-top .news_decs .title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5em;
  line-height: 29px;
  color: #FFFFFF;
}

.yb_auto_news .ynews_item .y_item-top .news_decs .desc {
  font-family: "Alegreya Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.yb_auto_news .ynews_item .y_item-top .news_decs .read_more {
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.yb_auto_news .ynews_item .y_item-bottom {
  display: flex;
  align-items: center;
  text-align: center;
}

#yb-site {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
  position: relative;
}

#yb-site header.yb-header {
  display: flex;
  justify-content: space-between;
  height: 100px;
  position: relative;
  align-items: center;
  padding: 0px 160px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

#yb-site header.yb-header .yb-header-left {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#yb-site header.yb-header .yb-header-left .yb-logo {
  height: 40px;
  margin-right: 40px;
}

#yb-site header.yb-header .yb-header-left .yb-logo img {
  height: 100%;
}

#yb-site header.yb-header .yb-header-right {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#yb-site header.yb-header .yb-header-right .yb-lang-switcher {
  display: flex;
  align-items: center;
}

#yb-site header.yb-header .yb-header-right .yb-lang-switcher .ylang {
  font-family: "Alegreya Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.125em;
  line-height: 22px;
  padding: 0;
  color: #C4C4C4;
}

#yb-site header.yb-header .yb-header-right .yb-lang-switcher .ylang:focus {
  color: rgba(34, 34, 34, 0.82);
}

#yb-site header.yb-header .yb-header-right .yb-lang-switcher .ylang:nth-child(1):after {
  content: "";
  width: 16px;
  height: 0px;
  border: 1px solid #C7C7C7;
  transform: rotate(90deg);
  margin: 10px;
}

#yb-site header.yb-header .yb-header-right .ylocations {
  width: 140px;
}

#yb-site .yb_content .yform {
  padding: 0px 160px 80px 160px;
}

#yb-site .yb_content .yform .yb_container {
  display: flex;
  align-items: center;
  background: linear-gradient(179.92deg, rgba(27, 27, 27, 0.63) -60.3%, rgba(27, 27, 27, 0.08) 103.54%), #0B3F8D;
  justify-content: space-between;
  border-radius: 11px;
  position: relative;
}

#yb-site .yb_content .yform .yb_container .yb-form_left {
  display: flex;
  height: 100%;
  width: 522px;
  background: linear-gradient(180deg, rgba(249, 249, 249, 0.5) 0%, rgba(255, 255, 255, 0.5) 105.93%), #F7F7F7;
  border-radius: 8px;
}

#yb-site .yb_content .yform .yb_container .yb-form_left .yb-block_reg {
  width: 100%;
}

#yb-site .yb_content .yform .yb_container .yb-form_left .yb-block_reg .form_title {
  position: relative;
  width: 100%;
  padding: 40px 0px 0px 30px;
  left: 0;
  display: flex;
}

#yb-site .yb_content .yform .yb_container .yb-form_left .yb-block_reg .form_title h3 {
  font-family: "Alegreya Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  color: #0B3F8D;
  margin: 0;
}

#yb-site .yb_content .yform .yb_container .yb-form_left .yb_select-form {
  position: absolute;
  margin: 40px 0px 0px 25%;
  width: 723px;
  height: 400px;
  background: linear-gradient(180deg, rgba(250, 250, 250, 0.3) 0%, rgba(237, 237, 237, 0.3) 100%), #FFFFFF;
  box-shadow: -6px 6px 15px rgba(224, 224, 224, 0.33), 6px -6px 12px rgba(255, 255, 255, 0.05), -6px -6px 12px rgba(224, 224, 224, 0.2), 6px 6px 12px rgba(224, 224, 224, 0.2), inset 1px -1px 2px rgba(224, 224, 224, 0.5), inset -1px 1px 2px rgba(255, 255, 255, 0.3);
  border-radius: 19px;
}

#yb-site .yb_content .yform .yb_container .yb-form_right {
  padding: 30px 20px 0px 0px;
}

#yb-site .yb_content .yform .yb_container .yb-form_right .white {
  color: #FFFFFF;
}

#yb-site .yb_content .yb_sticker {
  display: flex;
  justify-content: space-between;
  padding: 0px 160px 80px 160px;
}

#yb-site .yb_content .yb_sticker .yb_st-item {
  box-shadow: 3px 3px 8px rgba(27, 27, 27, 0.61);
  border-radius: 11px;
  max-width: 500px;
  max-height: 260px;
  position: relative;
  overflow: hidden;
}

#yb-site .yb_content .yb_sticker .yb_st-item .yb-st_logo {
  display: flex;
  align-items: center;
  position: absolute;
  padding: 20px;
  z-index: 2;
}

#yb-site .yb_content .yb_sticker .yb_st-item .yb-st_logo .brand_title {
  color: #FFFFFF;
  font-size: 1.125em;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  margin-right: 10px;
  line-height: 34px;
}

#yb-site .yb_content .yb_sticker .yb_st-item .yb-st_logo .brand_title:last-child {
  margin-left: 10px;
}

#yb-site .yb_content .yb_sticker .yb_st-item .yb-st_logo img {
  width: 35px;
}

#yb-site .yb_content .yb_sticker .yb_st-item .background_style {
  position: absolute;
  width: 100%;
  height: 100%;
}

#yb-site .yb_content .yb_sticker .yb_st-item img {
  width: 100%;
  height: 100%;
  margin: 0;
}

#yb-site .yb_content .yb_sticker .yb_st-item .yb-st_title {
  position: absolute;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  bottom: 0;
  font-size: 1.75em;
  line-height: 34px;
  margin: 0;
  padding: 20px;
}

#yb-site .yb_content .yb_sticker .yb_st-item:nth-child(1) .yb-st_title {
  color: #FFFFFF;
}

#yb-site .yb_content .yb_sticker .yb_st-item:nth-child(2) .yb-st_title {
  color: #1B1B1B;
}

#yb-site .yb_content .yb_sticker .yb_st-item:nth-child(3) .yb-st_title {
  color: #FFFFFF;
}

#yb-site .yb_content .best_offers {
  padding: 0px 160px 80px 160px;
  background: linear-gradient(179.87deg, rgba(255, 255, 255, 0.97) -67.8%, rgba(255, 255, 255, 0.94) 103.31%), #697C8C;
}

#yb-site .yb_content .ycatalog {
  padding: 0px 160px 80px 160px;
}

#yb-site .yb_content .yanalytics {
  padding: 0px 160px 80px 160px;
}

#yb-site .yb_content .ynews {
  padding: 0px 160px 80px 160px;
}

