@import "resources/sass/vars";

.ybtn{
    border-radius: 32px;
    background-color: $blue;
    font-family: $fira;
    text-transform: uppercase;
    font-weight: 500;
    font-size: em(16);
    color: #fff;
    padding: 12px 30px;
    border: none;
    cursor: pointer;

    &.disabled{
        opacity: 0.3;
        cursor: not-allowed;
    }
}
