@import "resources/sass/vars";

.ybtn{
    border-radius: 10px;
    background-color: $yboard;
    background: linear-gradient(180deg, #007880 0%, #5DCCDB 93.75%), #FFFFFF;
    font-family: $fira;
    font-weight: 500;
    font-size: em(16);
    color: #fff;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
}
