@import "resources/sass/vars";

.ycheck{
    margin-bottom: 20px;
    padding: 0px 15px;
    width: 100%;
    label.ycheck-label{
        font-size: em(14);
        line-height: em(22);
        font-family: $noto;
        font-weight: 400;
        color: $grey;
        //text-align: justify;
    }
    #ycheck-box{
        position: absolute;
        z-index: -1;
        opacity: 0;
    }

    #ycheck-box+label.ycheck-label {
        display: inline-flex;
        align-items: center;
        user-select: none;
    }
    #ycheck-box+label.ycheck-label::before {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #adb5bd;
        border-radius: 0.25em;
        margin-right: 15px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
    }
    #ycheck-box:checked+label.ycheck-label::before {
        border-color: $yboard;
        background-color: $yboard;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
    }
    /* стили при наведении курсора на checkbox */
    #ycheck-box:not(:disabled):not(:checked)+label.ycheck-label:hover::before {
        border-color: $green;
    }
    /* стили для активного состояния чекбокса (при нажатии на него) */
    #ycheck-box:not(:disabled):active+label.ycheck-label::before {
        background-color: $green;
        border-color: $green;
    }
    /* стили для чекбокса, находящегося в фокусе */
    #ycheck-box:focus+label.ycheck-label::before {
        box-shadow: 0 0 0 0.2rem rgba(12, 130, 139, 0.25);
    }
    /* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
    #ycheck-box:focus:not(:checked)+label.ycheck-label::before {
        border-color: $green;
    }
    /* стили для чекбокса, находящегося в состоянии disabled */
    #ycheck-box:disabled+label.ycheck-label::before {
        background-color: #e9ecef;
    }
}
