@import 'clear';
@import '../vars';
@import './modules/ycats';
@import 'modules/ybutton';
@import './modules/ysearch';
@import 'modules/ylocation';
@import 'modules/ymenu';
@import 'modules/yreguests';
@import 'modules/yexpanded';
@import 'modules/topcontent';
@import 'modules/ystatus';
@import 'modules/yform';
@import 'modules/ycheckbox';
@import 'modules/yrangeslider';
@import 'modules/ybestoffers';
@import 'modules/ycatalog';
@import 'modules/yfavorite';
@import 'modules/yanalitics';
@import 'modules/ynews';

#yb-site{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    position: relative;

    header.yb-header{
        display: flex;
        justify-content: space-between;
        height: 100px;
        position: relative;
        align-items: center;
        padding: 0px 8.5% 0px 8.5%;
        margin-bottom: 20px;
        background-color: $body-bg;
        box-shadow: 0px 4px 4px $light-shadow;

        .yb-header-left{
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .yb-logo{
                height: 40px;
                margin-right: 40px;
                img{
                    height: 100%;
                }
            }
        }

        .yb-header-right{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .ylocation{
                display: flex;
                    i{
                        color: #0B3F8D;
                        font-size: em(30);
                        position: relative;
                        padding-right: 10px;
                    }
                .autocomplete-results{
                    font-family: $aleg;
                    background: linear-gradient(180deg, rgba(249, 249, 249, 0.5) 0%, rgba(255, 255, 255, 0.5) 105.93%), #F7F7F7;
                    position: absolute;
                    padding: 0;
                    margin: 0;
                    max-height: 180px;
                    overflow: auto;
                    width: 100%;
                    top: 45px;
                    z-index: 2;
                    scrollbar-width: none;
                    .autocomplete-result {
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        color: rgba(34, 34, 34, 0.79);
                    }
                    .autocomplete-result.is-active,
                    .autocomplete-result:hover {
                        background: linear-gradient(0deg, #0B3F8D, #0B3F8D), #FFFFFF;
                        color: #FFFFFF;
                    }
                    &::-webkit-scrollbar { width: 0px; }

                }
                .dropdown-input{
                    width: 100%;
                    font-family: $aleg;
                    font-style: normal;
                    font-weight: normal;
                    font-size: em(20);
                    line-height: 24px;
                    border: none;
                    outline: none;
                    color: rgba(34, 34, 34, 0.79);
                }
                .yb-lang-switcher{
                    display: flex;
                    align-items: center;
                    .ylang{
                        font-family: $aleg;
                        font-style: normal;
                        font-weight: 500;
                        font-size: em(18);
                        line-height: 22px;
                        padding: 0;
                        color: #C4C4C4;
                        &:focus{
                            color: rgba(34, 34, 34, 0.82);
                        }
                        &:nth-child(1):after{
                            content: '';
                            width: 16px;
                            height: 0px;
                            border: 1px solid #C7C7C7;
                            transform: rotate(90deg);
                            margin: 10px;
                        }
                    }
                }

            }
            .yb_user-menu{

            }
            .ylocations{
                width: 140px;
            }
        }
    }
    .yb_content{
        .yform{
            padding: 0px 8.5% 70px 8.5%;
            .yb_container{
                display: flex;
                background: linear-gradient(179.92deg, rgba(27, 27, 27, 0.63) -60.3%, rgba(27, 27, 27, 0.08) 103.54%), #0B3F8D;
                justify-content: space-between;
                border-radius: 11px;
                position: relative;
                .yb-form_left{
                    height: 100%;
                    max-width: 520px;
                    width: 100%;
                    position: relative;
                    background: linear-gradient(180deg, rgba(249, 249, 249, 0.5) 0%, rgba(255, 255, 255, 0.5) 105.93%), #F7F7F7;
                    border-radius: 8px;
                    padding: 38px 0px 0px 48px;
                        .form_title{
                            text-align: start;
                            font-family: $rale;
                            font-style: normal;
                            font-weight: 600;
                            font-size: 30px;
                            line-height: 35px;
                            color: $darkblue;
                            margin: 0;
                            padding-bottom: 20px;
                        }
                    .yline{
                        width: 100%;
                        height: 0px;
                        border: 3px solid #EEEEEE;
                        position: absolute;
                        left: 0;
                    }


                }

                .yb_select-form{
                    position: absolute;
                    left: 30%;
                    top: 46px;
                    max-width: 723px;
                    width: 100%;
                    background: linear-gradient(180deg, rgba(250, 250, 250, 0.3) 0%, rgba(237, 237, 237, 0.3) 100%), #FFFFFF;
                    box-shadow: -6px 6px 15px rgba(224, 224, 224, 0.33), 6px -6px 12px rgba(255, 255, 255, 0.05), -6px -6px 12px rgba(224, 224, 224, 0.2), 6px 6px 12px rgba(224, 224, 224, 0.2), inset 1px -1px 2px rgba(224, 224, 224, 0.5), inset -1px 1px 2px rgba(255, 255, 255, 0.3);
                    border-radius: 19px;
                }

                .yb-form_right{
                    padding: 30px 20px 0px 0px;
                    max-width: 340px;
                    width: 100%;
                            .white{
                                color: #FFFFFF;
                                width: 100%;
                                justify-content: space-between;
                                 .arrow{
                                     right: 16px;
                                 }
                                &:after{
                                    content: '';
                                    width: 20px;
                                    height: 3px;
                                    color: #FFFFFF;
                                    position: absolute;
                                    background: #FFFFFF;
                                    top: 26px;
                                    right: 52px;
                                }
                            }



                }
            }


        }
        .yb_sticker{
            display: flex;
            padding: 0px 160px 80px 160px;
            justify-content: space-between;
            .yb_st-item{
                box-shadow: 3px 3px 8px rgba(27, 27, 27, 0.61);
                border-radius: 11px;
                max-width: 500px;
                max-height: 260px;
                position: relative;
                overflow: hidden;
                margin-right: 20px;
                .yb-st_logo{
                    display: flex;
                    align-items: center;
                    position: absolute;
                    padding: 20px;
                    z-index: 2;
                    .brand_title{
                        color: #FFFFFF;
                        font-size: em(18);
                        font-family: $aleg;
                        font-style: normal;
                        font-weight: 500;
                        margin-right: 10px;
                        line-height: 34px;
                        &:last-child{
                            margin-left: 10px;
                        }
                    }
                    img{
                        width: 35px;
                    }
                }
                .background_style{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
                img{
                    width: 100%;
                    height: 100%;
                    margin: 0;
                }

                .yb-st_title{
                    position: absolute;
                    font-family: $aleg;
                    font-style: normal;
                    font-weight: 600;
                    bottom: 0;
                    font-size: em(28);
                    line-height: 34px;
                    margin: 0;
                    padding: 20px;
                }

                &:nth-child(1){
                    .yb-st_title{
                        color: #FFFFFF;
                    }
                }
                &:nth-child(2){
                    .yb-st_title{
                        color: #1B1B1B;
                    }
                }
                &:nth-child(3){
                    .yb-st_title{
                        color: #FFFFFF;
                    }
                }
                &:last-child{
                    margin-right: 0px;
                }
            }
        }
        .best_offers{
            padding: 0px 160px 80px 160px;
            background: linear-gradient(179.87deg, rgba(255, 255, 255, 0.97) -67.8%, rgba(255, 255, 255, 0.94) 103.31%), #697C8C;
        }
        .ycatalog{
            padding: 0px 160px 80px 160px;
        }
        .yanalytics{
            padding: 0px 160px 80px 160px;
        }
        .ynews{
            padding: 0px 160px 80px 160px;
        }
    }
    .yfooter_content{
        background: rgba(1, 21, 51, 0.92);
        box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.06);
        padding: 60px 120px 60px 120px;
        .yrepeat_footer{
                    display: flex;
                    justify-content: space-between;
                        .logo_social{
                            padding-top: 50px;
                            .yb_logo_white{
                                display: flex;
                                img{
                                    width: 100px;
                                }
                            }
                            .social_yb{
                                .in_social{
                                    font-family: $rale;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: em(28);
                                    line-height: 35px;
                                    color: #FFFFFF;
                                }
                                .social_link{
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    .social_logo{
                                        padding: 30px 20px 0px 0px;
                                        img{
                                            width: 40px;
                                        }
                                        &:last-child{
                                            padding: 30px 20px 0px 0px;
                                        }
                                    }
                                }
                            }
                        }
                    .yrepeat_catalog{
                        text-align: center;
                        .yrepeat_title{
                            margin: 0;
                            display: flex;
                            font-family: $rale;
                            font-style: normal;
                            font-weight: bold;
                            font-size: em(26);
                            line-height: 32px;
                            text-transform: capitalize;
                            color: #FFFFFF;
                        }
                        .yrepeat_list{
                            padding: 0;
                            margin: 0;
                            margin-top: 15px;
                            .item_repeat{
                                text-align: start;
                                padding-bottom: 4px;
                                a{
                                    font-family: $aleg;
                                    font-style: normal;
                                    font-weight: bold;
                                    font-size: em(20);
                                    line-height: 28px;
                                    color: #FFFFFF;
                                }
                                &:last-child{
                                    padding-bottom: 0px;
                                }
                            }
                        }
                    }
                    .ysite_step{
                        .yrepeat_title{
                            margin: 0;
                            display: flex;
                            font-family: $rale;
                            font-style: normal;
                            font-weight: bold;
                            font-size: em(26);
                            line-height: 32px;
                            text-transform: capitalize;
                            color: #FFFFFF;
                        }
                        .site_step-list{
                            padding: 0;
                            margin: 0;
                            margin-top: 15px;
                            .step_list{
                                text-align: start;
                                padding-bottom: 4px;
                                .step{
                                    font-family: $aleg;
                                    font-style: normal;
                                    font-weight: bold;
                                    font-size: em(22);
                                    line-height: 38px;
                                    letter-spacing: -0.04em;
                                    color: #FFFFFF;
                                }
                            }
                        }
                    }
            }
        }
    @media only screen and (max-width: 1600px){
        header.yb-header{
            padding: 0px 5.5% 0px 5.5%;
                .search{
                    width: 400px;
                }
        }
        .yb_content{
            .yform, .yb_sticker, .best_offers, .ycatalog, .yanalytics, .ynews {
                padding: 0px 5.5% 60px 5.5%;
                    .yb_container{
                        .yb-form_left{
                        max-width: 450px;
                    }
                        .yb_select-form{
                            left: 20%;
                        }
                }
                .yb_st-item{
                    max-width: 460px;
                }
                .ybestoffer{
                    .favorite{
                        right: 40px;
                        width: 60px;
                        height: 60px;
                    }
                    .item_desc{
                        padding: 20px 50px 20px 20px;
                    }
                }
                .marks-list_body{
                    padding: 0px 70px 40px 80px;
                    .mark_list{
                        margin: 8px;
                        .marks{
                            padding: 35px;
                        }
                    }
                }
                .ynews_item{
                    .ynews_left, .ynews_right{
                        max-width: 700px;
                    }
                    .bottom_item-news{
                        max-width: 500px;
                        .news_decs{
                            padding: 0px 20px 20px 20px;
                        }
                    }
                }

            }
        }
        .yfooter_content{
            padding: 60px 50px 60px 50px;
            .social_link{
                flex-direction: column;
                .social_logo{
                    padding: 20px 20px 0px 0px;
                }
            }
        }
    }
    @media only screen and (max-width: 1440px){
        header.yb-header{
            padding: 0px 4.5% 0px 4.5%;
            .search{
                width: 300px;
            }
        }
        .yb_content{
            .yform, .yb_sticker, .best_offers, .ycatalog, .yanalytics, .ynews {
                padding: 0px 4.5% 60px 4.5%;
                .yb_container{
                    .yb-form_left{
                        max-width: 400px;
                    }
                    .yb_select-form{
                        max-width: 670px;
                    }
                }
                .yb_st-item{
                    max-width: 420px;
                }
                .ybestoffer{
                    .offer_item{
                        margin-right: 20px;
                    }
                    .favorite{
                        right: 20px;
                        width: 55px;
                        height: 55px;
                    }
                    .item_desc{
                        padding: 20px 50px 20px 20px;
                    }
                }
                .marks-list_body{
                    padding: 0px 35px 40px 35px;
                    .mark_list{
                        margin: 8px;
                        .marks{
                            padding: 35px;
                        }
                    }
                }
                .nav_item{
                    padding: 14px 20px 14px 20px;
                }
                .analitics_desc{
                    max-width: 580px;
                }
                .ynews_item{
                    display: flex;
                    flex-flow: wrap;
                    justify-content: center;
                    .y_item-top{
                        display: block;
                        .ynews_left{
                            margin-bottom: 15px;
                        }
                    }
                    .y_item-bottom{
                        display: block;
                        .bottom_item-news{
                            max-width: 475px;
                            margin-bottom: 10px;
                            .news_decs{
                                padding: 0px 10px 20px 10px;
                                    .title{
                                        font-size: em(20);
                                        margin-block-end: 0.60em;
                                    }
                                .desc{
                                    font-size: em(16);
                                }
                            }
                            &:last-child{
                                margin-bottom: 0px;
                            }
                        }
                    }
                }

            }
        }
    }
    @media only screen and (max-width: 1366px){
        .yb_content{
            .yform, .yb_sticker, .best_offers, .ycatalog, .yanalytics, .ynews {
                padding: 0px 3.5% 60px 3.5%;
                .yb_container{
                    .yb-form_left{
                        max-width: 380px;
                    }
                    .yb-form_right{
                        max-width: 310px;
                    }
                    .yb_select-form{
                        max-width: 650px;
                    }
                }
                .yb_st-item{
                    max-width: 395px;
                }
                .ybestoffer{
                    .offer_item{
                        margin-right: 20px;
                    }
                    .favorite{
                        right: 20px;
                        width: 55px;
                        height: 55px;
                    }
                    .item_desc{
                        padding: 20px 35px 20px 20px;
                    }
                }
                .marks-list_body{
                    padding: 0px 20px 40px 20px;
                    .mark_list{
                        margin: 8px;
                        .marks{
                            padding: 30px;
                            img{
                                width: 100px;
                                height: 80px;
                            }
                        }
                    }
                }
                .nav_item{
                    padding: 14px 20px 14px 20px;
                }
                .analitics_desc{
                    max-width: 540px;
                }
            }
        }
    }
    @media only screen and (max-width: 1330px){
        header.yb-header{
            padding: 0px 3.5% 0px 3.5%;
            .search{
                width: 250px;
            }
        }
        .yb_content{
            .yform, .yb_sticker, .best_offers, .ycatalog, .yanalytics, .ynews {
                padding: 0px 3.5% 60px 3.5%;
                .yb_container{
                    .yb-form_left{
                        max-width: 400px;
                    }
                    .yb-form_right{
                        max-width: 310px;
                    }
                    .yb_select-form{
                        max-width: 650px;
                    }
                }
                .yb_st-item{
                    max-width: 395px;
                }
                .ybestoffer{
                    .offer_item{
                        margin-right: 20px;
                    }
                    .favorite{
                        right: 20px;
                        width: 55px;
                        height: 55px;
                    }
                    .item_desc{
                        padding: 20px 35px 20px 20px;
                    }
                }
                .marks-list_body{
                    padding: 0px 20px 40px 20px;
                    .mark_list{
                        margin: 8px;
                        .marks{
                            padding: 30px;
                            img{
                                width: 100px;
                                height: 80px;
                            }
                        }
                    }
                }
                .nav_item{
                    padding: 14px 20px 14px 20px;
                }
                .analitics_desc{
                    max-width: 540px;
                }
            }
        }
    }
}

