@import 'clear';
@import '../vars';
@import './modules/ycats';
@import 'modules/ybutton';
@import './modules/ysearch';
@import 'modules/ylocation';
@import 'modules/ymenu';
@import 'modules/yreguests';
@import 'modules/yexpanded';
@import 'modules/topcontent';
@import 'modules/ystatus';
@import 'modules/yform';
@import 'modules/ybestoffers';
@import 'modules/ycatalog';
@import 'modules/yfavorite';
@import 'modules/yanalitics';
@import 'modules/ynews';

#yb-site{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
    position: relative;

    header.yb-header{
        display: flex;
        justify-content: space-between;
        height: 100px;
        position: relative;
        align-items: center;
        padding: 0px 160px;
        margin-bottom: 20px;
        background-color: $body-bg;
        box-shadow: 0px 4px 4px $light-shadow;

        .yb-header-left{
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .yb-logo{
                height: 40px;
                margin-right: 40px;
                img{
                    height: 100%;
                }
            }
        }

        .yb-header-right{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            .ylocation{
                display: flex;
                    i{
                        color: #0B3F8D;
                        font-size: em(30);
                        position: relative;
                        padding-right: 10px;
                    }
                .autocomplete-results{
                    font-family: $aleg;
                    background: linear-gradient(180deg, rgba(249, 249, 249, 0.5) 0%, rgba(255, 255, 255, 0.5) 105.93%), #F7F7F7;
                    position: absolute;
                    padding: 0;
                    margin: 0;
                    height: 180px;
                    overflow: auto;
                    width: 100%;
                    top: 45px;
                    z-index: 2;
                    .autocomplete-result {
                        padding: 10px;
                        text-align: left;
                        cursor: pointer;
                        color: rgba(34, 34, 34, 0.79);
                    }
                    .autocomplete-result.is-active,
                    .autocomplete-result:hover {
                        background: linear-gradient(0deg, #0B3F8D, #0B3F8D), #FFFFFF;
                        color: #FFFFFF;
                    }

                }
                .dropdown-input{
                    width: 100%;
                    font-family: $aleg;
                    font-style: normal;
                    font-weight: normal;
                    font-size: em(20);
                    line-height: 24px;
                    border: none;
                    outline: none;
                    color: rgba(34, 34, 34, 0.79);
                }

            }
            .yb-lang-switcher{
                display: flex;
                align-items: center;
                    .ylang{
                        font-family: $aleg;
                        font-style: normal;
                        font-weight: 500;
                        font-size: em(18);
                        line-height: 22px;
                        padding: 0;
                        color: #C4C4C4;
                        &:focus{
                            color: rgba(34, 34, 34, 0.82);
                        }
                        &:nth-child(1):after{
                            content: '';
                            width: 16px;
                            height: 0px;
                            border: 1px solid #C7C7C7;
                            transform: rotate(90deg);
                            margin: 10px;
                        }
                    }
            }
            .yb_user-menu{

            }
            .ylocations{
                width: 140px;
            }
        }
    }
    .yb_content{
        .yform{
            padding: 0px 160px 80px 160px;
            .yb_container{
                display: flex;
                align-items: center;
                background: linear-gradient(179.92deg, rgba(27, 27, 27, 0.63) -60.3%, rgba(27, 27, 27, 0.08) 103.54%), #0B3F8D;
                justify-content: space-between;
                border-radius: 11px;
                position: relative;
                .yb-form_left{
                    display: flex;
                    height: 100%;
                    width: 522px;
                    background: linear-gradient(180deg, rgba(249, 249, 249, 0.5) 0%, rgba(255, 255, 255, 0.5) 105.93%), #F7F7F7;
                    border-radius: 8px;
                    .yb-block_reg{
                        width: 100%;
                        .form_title{
                            position: relative;
                            width: 100%;
                            padding: 40px 0px 0px 30px;
                            left: 0;
                            display: flex;
                            h3{
                                font-family: $aleg;
                                font-style: normal;
                                font-weight: 600;
                                font-size: 30px;
                                line-height: 35px;
                                color: $darkblue;
                                margin: 0;
                            }

                        }
                    }

                    .yb_select-form{
                        position: absolute;
                        margin: 40px 0px 0px 25%;
                        width: 723px;
                        background: linear-gradient(180deg, rgba(250, 250, 250, 0.3) 0%, rgba(237, 237, 237, 0.3) 100%), #FFFFFF;
                        box-shadow: -6px 6px 15px rgba(224, 224, 224, 0.33), 6px -6px 12px rgba(255, 255, 255, 0.05), -6px -6px 12px rgba(224, 224, 224, 0.2), 6px 6px 12px rgba(224, 224, 224, 0.2), inset 1px -1px 2px rgba(224, 224, 224, 0.5), inset -1px 1px 2px rgba(255, 255, 255, 0.3);
                        border-radius: 19px;
                    }
                }

                .yb-form_right{
                    padding: 30px 20px 0px 0px;
                        .white{
                            color: #FFFFFF;
                        }

                }
            }


        }
        .yb_sticker{
            display: flex;
            justify-content: space-between;
            padding: 0px 160px 80px 160px;
            .yb_st-item{
                box-shadow: 3px 3px 8px rgba(27, 27, 27, 0.61);
                border-radius: 11px;
                max-width: 500px;
                max-height: 260px;
                position: relative;
                overflow: hidden;
                .yb-st_logo{
                    display: flex;
                    align-items: center;
                    position: absolute;
                    padding: 20px;
                    z-index: 2;
                    .brand_title{
                        color: #FFFFFF;
                        font-size: em(18);
                        font-family: $mont;
                        font-style: normal;
                        font-weight: 500;
                        margin-right: 10px;
                        line-height: 34px;
                        &:last-child{
                            margin-left: 10px;
                        }
                    }
                    img{
                        width: 35px;
                    }
                }
                .background_style{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                }
                img{
                    width: 100%;
                    height: 100%;
                    margin: 0;
                }

                .yb-st_title{
                    position: absolute;
                    font-family: $mont;
                    font-style: normal;
                    font-weight: 600;
                    bottom: 0;
                    font-size: em(28);
                    line-height: 34px;
                    margin: 0;
                    padding: 20px;
                }

                &:nth-child(1){
                    .yb-st_title{
                        color: #FFFFFF;
                    }
                }
                &:nth-child(2){
                    .yb-st_title{
                        color: #1B1B1B;
                    }
                }
                &:nth-child(3){
                    .yb-st_title{
                        color: #FFFFFF;
                    }
                }
            }
        }
        .best_offers{
            padding: 0px 160px 80px 160px;
            background: linear-gradient(179.87deg, rgba(255, 255, 255, 0.97) -67.8%, rgba(255, 255, 255, 0.94) 103.31%), #697C8C;
        }
        .ycatalog{
            padding: 0px 160px 80px 160px;
        }
        .yanalytics{
            padding: 0px 160px 80px 160px;
        }
        .ynews{
            padding: 0px 160px 80px 160px;
        }
    }
}

