@import '../../../vars';

.ymenu{
    position: relative;
    .ymenu-visual{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        height: 35px;
        width: 200px;
        padding: 0px 15px;
        border-radius: 8px;
        background-color: $darkblue;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

        .vis-l{
            display: flex;
            align-items: center;
            font-size: em(18);
            font-weight: 500;
            font-family: $aleg;
            .vis-burger{
                width: 20px;
                height: 18px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                margin-right: 5px;
                margin-bottom: 1px;
                span{
                    display: flex;
                    width: 90%;
                    height: 2px;
                    background-color: #fff;
                    border-radius: 16px;
                    position: relative;
                }
            }
        }

        .vis-r{
            margin-top: 1px;
            font-size: em(12);
        }
    }
    .ydrop-menu_vis{
        width: 1090px;
        position: absolute;
        background: #FFFFFF;
        box-shadow: 0px 1px 6px rgba(255, 255, 255, 0.35), 3px -2px 4px rgba(11, 63, 141, 0.4), -2px 3px 5px rgba(11, 63, 141, 0.54);
        border-radius: 8px;
        top: 50px;
        display: flex;
        .yb_menu-collumn{
            .y-menu-collumn_items{
                padding: 0;
                margin: 0;
                padding: 25px 15px 25px 0;
                position: relative;
                margin-left: 20px;
                .y-collumn_item{
                    font-family: $aleg;
                    font-weight: bold;
                    font-size: em(18);
                    line-height: 22px;
                    padding: 0 10px 0 15px;
                    color: $darkblue;
                    height: 30px;
                    overflow: hidden;
                    margin-bottom: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    i{
                        color: rgba(91, 91, 91, 0.54);
                        margin-left: 30px;
                    }
                    &.active{
                        border-radius: 8px;
                        color: #FFFFFF;
                        background: $darkblue;
                        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.21);
                        i{
                            color: #FFFFFF;
                            margin-left: 30px;
                        }
                    }
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
                &:after{
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 100%;
                    content: '';
                    width: 1px;
                    background: #C7C7C7;;
                }
            }
        }
    }
}
