.root_3pJCL5sp_G {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #757575;
  font-size: 14px;
  line-height: 22px;
}
.root_3pJCL5sp_G:hover {
  color: #212121;
}
.icon_1-Q6VHu8cU {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  transition-property: background, color;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.name_3wFFtDjhZx {
  display: flex;
  flex-direction: column;
}
.label_2JJG6x4XWF {
  font-size: 10px;
  line-height: 10px;
  color: #9e9e9e;
}

.root_2cbSeCZ3rH {
  text-align: center;
  margin-bottom: 24px;
}

.qrContainer_uR8O1yW3VS {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.qrMargin_jUb5OSXPjY {
  margin: 16px auto 0 auto !important;
}
.qr_2jcgCco19h {
  display: block;
}
.qrHint_27mO0iGCEf {
  font-size: 14px;
  line-height: 22px;
  text-align: center;
  margin-top: 8px;
}
.download_3_jAZUf8ms {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.downloadMargin_1gbUg1IV9t {
  margin-top: 24px;
}

.root_1q0XXqsoYs {
  text-align: center;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 22px;
}
.logo_3Zl8ea57HA {
  display: flex;
  margin-left: 8px;
  width: 24px;
  height: 24px;
}

.forget_1DG4jnh-XU {
  padding-top: 8px;
}
.legal_2-CsrgcSEY {
  margin-right: 8px;
}

.root_3m9dI1hFaG {
  position: relative;
}
.root_3m9dI1hFaG [type="password"]::-webkit-credentials-auto-fill-button {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}
.switcher_1TxUwp1vK6 {
  position: absolute;
  right: 8px;
  display: flex;
  z-index: 999;
  opacity: 0.38;
  transition: opacity 450ms cubic-bezier(0.23, 1, 0.32, 1);
  cursor: pointer;
}
.switcher_1TxUwp1vK6:hover {
  opacity: 0.87;
}
.switcher_1TxUwp1vK6:active {
  opacity: 1;
}
.switcher_1TxUwp1vK6:hover {
  opacity: 0.87;
}

.root_3v9jhZAaRt {
  position: relative;
}
.edit_1MdbfczwRS {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.root_3Ov8noQMy4 {
  font-size: 12px;
  line-height: 20px;
}

.logo_ll5tBmSBnt {
  margin: 0 auto;
  height: 216px;
  position: relative;
}
.internal_1vHON6Zyhp {
  position: absolute;
  height: 112px;
  width: 112px;
  border-radius: 50%;
  top: calc(50% - 56px);
  left: calc(50% - 56px);
  padding: 6px 0 0 6px;
  animation: rotate-animation_yoS3lTkpd3 3s linear 0s infinite;
}
.internal_1vHON6Zyhp:after {
  content: '';
  display: block;
  background: white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.external_3SNd5gTey7 {
  position: absolute;
  height: 112px;
  width: 112px;
  border-radius: 50%;
  top: calc(50% - 56px);
  left: calc(50% - 56px);
  padding: 6px 0 0 6px;
  animation: rotate-animation_yoS3lTkpd3 3s linear 0s infinite;
  height: 152px;
  width: 152px;
  top: calc(50% - 76px);
  left: calc(50% - 76px);
  padding: 4px 0 0 4px;
  opacity: 0;
  animation: rotate-hide-animation_3onW7Zdo47 2s linear 0.5s infinite;
}
.external_3SNd5gTey7:after {
  content: '';
  display: block;
  background: white;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
.external_3SNd5gTey7:after {
  height: 144px;
  width: 144px;
  border-radius: 50%;
  animation: loader-animation_3SI_9XuK-M 2s linear 0.5s infinite;
}
.img_ZDwsFzOqXo {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 22px);
}
.number_2_olMDM88a {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #8BC34A;
  text-align: center;
  margin-bottom: 4px;
}
.label_2I_8Ym-WaI {
  font-size: 14px;
  text-align: center;
  line-height: 22px;
  color: #757575;
}
.hint_1tHJS30xIW {
  font-size: 14px;
  line-height: 22px;
  color: #757575;
  text-align: center;
  margin: 8px 0 24px;
}
@keyframes rotate-animation_yoS3lTkpd3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-hide-animation_3onW7Zdo47 {
  0% {
    transform: rotate(0deg);
    opacity: 0;
    height: 152px;
    width: 152px;
    top: calc(50% - 76px);
    left: calc(50% - 76px);
  }
  50% {
    transform: rotate(180deg);
    opacity: 0.5;
    height: 112px;
    width: 112px;
    top: calc(50% - 56px);
    left: calc(50% - 56px);
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
    height: 152px;
    width: 152px;
    top: calc(50% - 76px);
    left: calc(50% - 76px);
  }
}
@keyframes loader-animation_3SI_9XuK-M {
  0%,
  100% {
    height: 144px;
    width: 144px;
  }
  50% {
    height: 100px;
    width: 100px;
  }
}

.frame_tH-IuO2DRi {
  position: relative;
  margin: 0 auto;
  min-height: 320px;
}

.pin_1I3XWMSpup {
  position: relative;
  left: -12px;
  width: 300px;
}

.tutorial_1Ml20IH-V5 {
  position: relative;
}
.steps_3Z2lSy25gb {
  font-size: 14px;
  line-height: 22px;
}
.zoom_R0Gp_JhkZE {
  position: absolute;
  bottom: 8px;
  right: 0;
  background: #8BC34A;
  border-radius: 50%;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.12);
  padding: 4px;
  display: flex;
}

@font-face {
  font-family: '"Open Sans", sans-serif';
  font-display: swap;
}
.root_3FNKa_CdMC {
  font: 16px/24px "Open Sans", sans-serif;
  color: #212121;
  min-height: 100%;
  position: relative;
  box-sizing: border-box;
}
.command_39ROqGPiOR {
  transition: opacity 1000ms cubic-bezier(0.23, 1, 0.32, 1) 300ms;
}
.commandAppear_3d_KhyKNRk {
  opacity: 0;
}
.commandAppearActive_2bd-h9s3yg {
  opacity: 1;
}
.controls_1wEZbqta2K {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.close_1E8uEfBNMU {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  display: flex;
}

.button_3b4gH69yDY {
  width: 80px;
  height: 40px;
  margin: 0 auto;
}
.qr_1o6uPJnC3s {
  width: 132px;
  height: 132px;
  margin: 0 auto;
  padding: 8px;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0 none;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: outside none none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button::-moz-focus-inner {
  border: 0 none;
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
h1 {
  font-size: 24px;
  line-height: 32px;
  color: #212121;
  margin: 0;
}
h2 {
  font-size: 22px;
  line-height: 30px;
  color: #212121;
  margin: 0;
}
h3 {
  font-size: 20px;
  line-height: 28px;
  color: #212121;
  font-weight: 600;
  margin: 0;
}
p {
  margin: 16px 0;
}
ul {
  list-style: outside;
  padding-left: 20px;
  margin: 8px 0;
}
b {
  font-weight: 600;
}
.clear {
  clear: both;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.center-text {
  text-align: center !important;
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.align-top {
  vertical-align: top !important;
}
.align-middle {
  vertical-align: middle !important;
}
.align-bottom {
  vertical-align: bottom !important;
}
.no-margin {
  margin: 0 !important;
}
.no-padding {
  padding: 0 !important;
}
.no-wrap {
  text-wrap: none;
  white-space: -moz-nowrap;
  white-space: nowrap;
  word-wrap: normal;
}
.inline {
  display: inline-block;
}
.hidden {
  display: none !important;
}
.no-scroll {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}
.margin-1 {
  margin: 8px !important;
}
.margin-left-1 {
  margin-left: 8px !important;
}
.margin-right-1 {
  margin-right: 8px !important;
}
.margin-top-1 {
  margin-top: 8px !important;
}
.margin-bottom-1 {
  margin-bottom: 8px !important;
}
.margin-2 {
  margin: 16px !important;
}
.margin-left-2 {
  margin-left: 16px !important;
}
.margin-right-2 {
  margin-right: 16px !important;
}
.margin-top-2 {
  margin-top: 16px !important;
}
.margin-bottom-2 {
  margin-bottom: 16px !important;
}
.margin-3 {
  margin: 24px !important;
}
.margin-left-3 {
  margin-left: 24px !important;
}
.margin-right-3 {
  margin-right: 24px !important;
}
.margin-top-3 {
  margin-top: 24px !important;
}
.margin-bottom-3 {
  margin-bottom: 24px !important;
}
.margin-4 {
  margin: 32px !important;
}
.margin-left-4 {
  margin-left: 32px !important;
}
.margin-right-4 {
  margin-right: 32px !important;
}
.margin-top-4 {
  margin-top: 32px !important;
}
.margin-bottom-4 {
  margin-bottom: 32px !important;
}
.w-short {
  width: 80px !important;
}
.w-middle {
  width: 160px !important;
}
.w-long {
  width: 240px !important;
}
.w-x-long {
  width: 320px !important;
}
.w-wide {
  width: 100% !important;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(/assets/11eae22eb2aa823fbf05abc4cf01c042.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(/assets/3ba3e8d1c1c5117f98e5244712781159.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(/assets/91d4f626af66a11b5baffdf2f97f6ddf.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(/assets/eaf5a09c563360f9c48288b539f20c23.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(/assets/f7e6611bfda6e33e30942dcf4ab7a7a8.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(/assets/bfae5c3ef80ec61ca609f93ccfabca4f.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(/assets/8200f3daceb453809e0575364d73ca1f.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(/assets/a7b3bd8469f4e8078ca4533034d41ab9.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(/assets/3e14c4fceaa0527b806d0774e4b3ed5c.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(/assets/42902f5bb63ac1dd86d3575696e9ef87.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(/assets/e39d1b025668a1cbc229a8c50406b81c.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(/assets/2cabc8f8bfbdbeb8928ab922f426a537.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(/assets/310db26833980fdf3643ba5e425c169d.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(/assets/358d3070946a90b4960cd111154fdc12.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(/assets/f98f9cf9e6d5ea92c204805862da3ebb.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(/assets/b1ed13e320ce8a20bcbc72d816a5b22c.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(/assets/68ee61370a77859b0b1f560e6243f486.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(/assets/783d8cf7c332574b69fb7950f29da2e5.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(/assets/0b330bb2f42abb9cefad6a3800e09d9b.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(/assets/ea10852dd6f3c0a059695a402e9f6bb1.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(/assets/a01def30f4398df303f818579d05f4ea.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/assets/16f9bf95250e916e1a16321bffb55955.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/assets/9350dabc58f4936e55d4c5bb0f339c4e.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/assets/33a099013ffbeb3593ad30f6e56de22d.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/assets/18855080007bf92264f446b0bbb89124.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/assets/41e78d712240b8543758caac960137e9.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/assets/baf9fda15919ebf7ef16c87bc345217a.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/assets/927f45f0c98e115c1f661f17d185771e.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html,
body {
  font: 16px/24px "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}

