@import '../vars';
@import '../auto/clear';
@import 'modules/yinput';
@import 'modules/yavatar';
@import 'modules/ytabs';
@import 'modules/ytable';
@import 'modules/yselector';
@import 'modules/ybutton';
@import '../MODULES/ycheck';
@import '../MODULES/ybutton';


html, body{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#admin-panel{
    display: flex;
    background-color: #F8FAFA;
    background: linear-gradient(138.74deg, #F3F4FF 0%, #F6F4FF 100%);
    height: 100%;
    width: 100%;
    font-family: $mont;
    .yb-page{
        display: flex;
        justify-content: space-between;
        height: 100%;
        width: 100%;

        .yb-navigation{
            background-color: #fff;
            width: 250px;
            height: 100%;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.09);
            border-radius: 0px 60px 60px 0px;

            .yb-navigation-header{
                width: 100%;
                padding: 30px 20px;
                margin-bottom: 0px;
                img.yb-logo{
                    width: 100px;
                }
            }

            .yb-navigation-lists{
                width: 100%;
                .ynav-list{
                    list-style: none;
                    position: relative;
                    padding-left: 20px;
                    .ynav-list-item{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        position: relative;
                        margin-bottom: 3px;
                        a{
                            display: flex;
                            align-items: center;
                            font-size: 16px;
                            color: $admin-grey;
                            text-decoration: none;
                            font-weight: 600;
                            padding: 5px 5px;
                            width: 100%;
                            i{
                                //padding: 8px 5px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                width: 25px;
                                font-size: em(20);
                                color: $admin-ashen;
                                margin-right: 8px;
                            }
                            &:hover{
                                color: $admin-purple;
                                i{
                                    color: $admin-purple;
                                }
                            }
                        }
                        .ynav-list-toggle{
                            min-width: 25px;
                            height: 25px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-right: 20px;
                            font-size: 12px;
                            border-radius: 32px;
                            color: $admin-ashen;
                            cursor: pointer;
                            &:hover{
                                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
                            }
                        }

                        &:after{
                            content: '';
                            position: absolute;
                            top: 0;
                            right: 0px;
                            height: 100%;
                            width: 2px;
                        }


                        &.active{
                            &:after{
                                background-color: $admin-purple;
                            }
                        }

                        &.active{
                            a{
                                color: $admin-purple;
                                i{
                                    color: $admin-purple;
                                }
                            }
                        }
                    }

                    &:after{
                        position: absolute;
                        content: '';
                        width: 2px;
                        background-color: $admin-purple;
                        height: calc(100% - 32px);
                        top: 32px;
                        left: 35px;
                    }
                    &.non-child{
                        .ynav-list-item{
                            a{
                                font-size: 16px;
                                font-weight: 500;
                                padding: 5px 5px;
                                i{
                                    width: 23px;
                                    font-size: em(18);
                                    margin-right: 8px;
                                }
                            }
                        }
                        &:after{
                            display: none;
                        }
                    }
                }
            }
        }

        .yb-content{
            width: calc(100% - 250px);
            display: flex;
            flex-direction: column;
            padding: 25px 50px;

            header.yb-header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 35px;

                .yinput{
                    width: 85%;
                }

                .yb-smart-helpers{
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    .yavatar{
                      margin-left: 20px;
                    }
                }
            }

            .yb-admin-app{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                .app-list{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
