@import '../../../vars';
@import './filter/form';
@import './filter/cards';

.filter{
    width: 100%;
    padding: 20px 0px 0px;
    h1.filter-title{
        font-family: $rale;
        font-weight: 500;
        font-size: em(36);
        line-height: 36px;
        color: rgba(0, 0, 0, 0.87);
        margin: 0;
        margin-bottom: 25px;
    }
    .filter-content-box{
        display: flex;
        justify-content: space-between;
        .filter-search{
            width: 245px;
            min-width: 245px;
            margin-right: 40px;
        }
        .filter-finding{
            width: calc(100% - 245px - 40px);
            max-width: 950px;
        }
    }
}



.yb-filter{
    width: 100%;
    .yb-filter_title{
        font-family: $rale;
        font-weight: 500;
        font-size: em(48);
        line-height: 56px;
        margin: 0 0 25px;
    }
    .filter-text{
        font-family: $rale;
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
        color: #000000;
        margin: 0;
        margin-bottom: 20px;
    }
    .yb-filter_visible{
        display: flex;
        justify-content: space-between;
        .yfilter_form{
            width: 25%;
            background: #FFFFFF;
            box-shadow: 1px 1px 3px rgba(11, 63, 141, 0.34);
            border-radius: 8px;
            padding: 14px 14px 20px 10px;
            max-height: 880px;
            overflow: scroll;
            overflow-x: hidden;
            -ms-overflow-style: none;  /* IE and Edge */
            scrollbar-width: none;  /* Firefox */
            &::-webkit-scrollbar{
                display: none;
                width: 0px;
            }

        }
        .yb-list_items{
            width: 73%;
        }
    }
}

@media only screen and (max-width: 945px){
    .filter{
        padding: 20px 15px 0;
        .filter-content-box{
            .filter-search{
                margin-right: 20px;
            }
            .filter-finding{
                width: calc(100% - 245px - 20px);
                max-width: 950px;
            }
        }
    }
}

@media only screen and (max-width: 768px){
    .filter{
        padding: 20px 0px 0;
        h1.filter-title{
            padding: 0 15px;
        }
        .filter-content-box{
            flex-direction: column;
            .filter-search,
            .filter-finding{
                padding: 0 15px;
                width: 100%;
                box-sizing: border-box;
            }
            .filter-search{
                margin: 0;
                .search-helper-station{
                    width: 100%;
                    height: 70px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}


@media only screen and (max-width: 420px){
    .filter{
        padding: 10px 0px 0;
        h1.filter-title{
            font-size: em(26);
            padding: 0 15px;
            margin-bottom: 10px;
        }
    }
}

@media only screen and (max-width: 300px){
    .filter{
        min-width: 300px;
    }
}


