@import '../../../vars';

.full-filter{
    width: 100%;
    .filter_search{
        background: #FFFFFF;
        box-shadow: 0px 4px 64px rgba(105, 105, 105, 0.19);
        border-radius: 12px;
        width: 100%;
        padding: 20px 25px 0px;
        position: relative;
        .ytitle-exp{
            font-family: $rale;
            font-weight: 500;
            font-size: em(36);
            line-height: 42px;
            color: rgba(0, 0, 0, 0.87);
            margin: 0;
            margin-bottom: 25px;
        }
        .filter_search_filter{
            display: flex;
            justify-content: space-between;
            width: 100%;

            .yexpanded_sidebar{
                display: flex;
                flex-direction: column;
                width: 23%;

                h2.yfilter-aside-title{
                    font-family: $aleg;
                    font-weight: 500;
                    font-size: em(20);
                    line-height: 26px;
                    color: $filtergray;
                    margin: 0 0 8px;
                }

                .ycheckbox .title_change{
                    font-size: em(16);
                    font-weight: 500;
                }

                .ysearch_type_btn{
                    width: 100%;
                    display: flex;
                    background-color: $box-bg;
                    margin-bottom: 15px;
                    overflow: hidden;
                    border-radius: 10px;
                    .change_type{
                        width: 100%;
                        height: 42px;
                        font-family: $aleg;
                        font-weight: 500;
                        font-size: em(15);
                        line-height: 18px;
                        &.active{
                            background: #0B3F8D;
                            color: #FFFEFE;
                        }
                    }
                }
                .ygroup-box{
                    margin-bottom: 15px;
                    .ygroup-col-box{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        margin-bottom: 10px;
                        .sidebar-title{
                            font-family: $aleg;
                            font-weight: 500;
                            font-size: em(16);
                            line-height: 22px;
                            color: $filtergray;
                            margin: 0 0 5px;
                        }

                    }


                    .yprice_filter-box,
                    .ycheckbox_options,
                    .ycolors_options,
                    .ysearch_options{
                        width: 100%;
                        background-color: $box-bg;
                        border-radius: 10px;
                        padding: 15px;
                        .yprice{
                            margin-bottom: 10px;
                        }
                    }
                    .ycolors_options{
                        padding: 15px 6px;

                    }
                }
            }

            .yexpanded_content{
                display: flex;
                flex-direction: column;
                width: 75%;
                h2.category-title{
                    font-family: $aleg;
                    line-height: em(22);
                    font-weight: 500;
                    font-size: em(20);
                    color: $darkblue;
                    margin: 0 0 15px;
                }
                .option-row{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 15px;
                    .option-box{
                        display: flex;
                        flex-direction: column;
                        h2.option-title{
                            font-family: $aleg;
                            line-height: em(22);
                            font-weight: 500;
                            font-size: em(18);
                            color: $filtergray;
                            margin: 0 0 8px;
                        }
                        &.full-width{
                            width: 100%;
                        }
                        &.mt{
                            margin-top: 15px;
                        }
                        &.mono-block{
                            width: 40%;
                        }
                        &.hide-list{
                            flex-direction: row;
                            flex-wrap: wrap;
                            .ycheck{
                                width: 33%;
                                margin-bottom: 15px;
                                margin-right: 0.33%;
                                &:nth-child(3n){
                                    margin-right: 0%;
                                }
                            }
                            .toggleHideKist{
                                font-family: $aleg;
                                font-weight: 500;
                                color: $titleblue;
                                span{
                                    text-decoration: underline;
                                }
                                span{
                                    cursor: pointer;
                                    &:hover{
                                        text-decoration: none;
                                    }
                                }
                            }
                        }
                    }
                    &.rbmy{
                        .option-box{
                            width: 24.2%;
                            .option-row{
                                justify-content: flex-start;
                                margin-bottom: 0;
                                .yselectsearch{
                                    width: calc(48% - 11px);
                                    &:first-child{
                                        margin-right: 2%;
                                    }
                                }
                                .delRbmy{
                                    width: 22px;
                                    i{
                                        color: $darkblue;
                                        font-size: em(22);
                                    }
                                }
                            }
                        }
                        &:last-child{
                            margin-bottom: 0;
                        }
                    }
                    .addRbmy{
                        margin-bottom: 15px;
                        font-size: em(16);
                        cursor: pointer;
                        font-family: $aleg;
                        font-weight: 500;
                        color: $titleblue;
                        text-decoration: underline;
                        &:hover{
                            text-decoration: none;
                        }
                    }
                    &.regions{
                        align-items: flex-start;
                        .option-box{
                            width: 24%;
                            h2.option-title{
                                margin-bottom: 15px;
                                .ycheck .ycheck-label{
                                    font-weight: 500;
                                    text-decoration: underline;
                                }
                            }
                            .regionsList{
                                .ycheck{
                                    margin-bottom: 10px;
                                }
                            }
                        }
                    }
                    &.techs{
                        flex-wrap: wrap;
                        margin-bottom: 0px;
                        .option-box{
                            width: 32.5%;
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
        .search-helper-station{
            height: 60px;
            .search-helper{
                height: inherit;
                width: calc(100% + 25px * 2);
                margin-left: -25px;
                border-top: 1px solid #E7E7E7;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 25px;
                .lhelp{
                    display: flex;
                    align-items: center;
                    .searched-transport{
                        font-family: $aleg;
                        font-size: em(18);
                        font-weight: 500;
                        color: $filtergray;
                        .counter{
                            margin-left: 5px;
                            font-size: 16px;
                            font-family: $noto;
                        }
                    }
                    .search-btn{
                        margin-left: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 200px;
                        height: 35px;
                        border-radius: 8px;
                        background: linear-gradient(0deg, #03347D, #03347D), #FFFFFF;
                        box-shadow: 0px 4px 4px rgba(7, 25, 48, 0.3);
                        font-size: em(18);
                        font-family: $aleg;
                        font-weight: 600;
                        color: #fff;

                    }
                }
                .rhelp{
                    .clear-filter{
                        cursor: pointer;
                        font-family: $aleg;
                        font-size: em(16);
                        color: #0B3F8D;
                        text-decoration: underline;
                    }
                }
                &.pin{
                    z-index: 2;
                    width: calc(100% - 17% *2);
                    position: fixed;
                    bottom: 0;
                    background-color: #fff;
                    box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
    hr{
        border-width: 0px;
        height: 1px;
        width: 100%;
        margin: 0px 0px 15px;
        background-color: #E7E7E7;
    }
}

@media only screen and (max-width: 1640px){
    .full-filter{
        .filter_search{
            .filter_search_filter{
                .yexpanded_sidebar{
                    h2.yfilter-aside-title{
                        font-size: em(16);
                        margin-bottom: 5px;
                    }
                    .ygroup-box{
                        .yprice_filter-box{
                            .yprice{
                                .change{
                                    width: 35.5%;
                                }
                                .ydropdown{
                                    width: 27%;
                                }
                            }
                        }
                    }
                }
                .yexpanded_content{
                    .option-row{
                        &.rbmy{
                            flex-wrap: wrap;
                            align-items: flex-end;
                            .option-box{
                                width: 22.2%;
                                &.years{
                                    width: 30%;
                                }
                                .option-title{
                                    font-size: em(16);
                                }
                            }
                        }
                        &.regions{
                            flex-wrap: wrap;
                            justify-content: flex-start;
                            .option-box{
                                width: 33%;
                                margin-right: 0.33%;
                                &:last-child{
                                    margin-right: 0;
                                    width: 100%;
                                    margin-top: 15px;
                                    .regionsList{
                                        display: flex;
                                        .ycheck{
                                            margin-right: 20px;
                                        }
                                    }
                                }
                            }
                        }
                        .option-box{
                            h2.option-title{
                                font-size: em(16);
                                margin-bottom: 5px;
                            }
                            .ychaccordion{
                                .accordion-checks{
                                    .ycheck{
                                        width: 49.5%;
                                        margin-right: 0.33%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1500px){
    .full-filter{
        .filter_search{
            .search-helper-station{
                .search-helper{
                    &.pin{
                        width: calc(100% - 10% *2);
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1366px){
    .full-filter{
        .filter_search{
            .search-helper-station{
                .search-helper{
                    &.pin{
                        width: calc(100% - 8% *2);
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1330px){
    .full-filter{
        .filter_search{
            .filter_search_filter{
                .yexpanded_sidebar{
                    width: 29%;
                }
                .yexpanded_content{
                    width: 69%;
                    .option-row{
                        .option-box{
                            &.hide-list{
                                .ycheck{
                                    width: 49.5%;
                                    &:nth-child(3n){
                                        margin-right: 0.33%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .search-helper-station{
                .search-helper{
                    &.pin{
                        width: calc(100% - 6% *2);
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1080px) {
    .full-filter{
        .filter_search{
            .filter_search_filter{
                .yexpanded_content{
                    .option-row{
                        &.rbmy{
                            .option-box{
                                width: 49%;
                                margin-bottom: 15px;
                                &:nth-child(-n+2){
                                    width: 49%;
                                    margin-bottom: 8px;
                                }

                                &.years,
                                &:nth-child(3){
                                    width: 49%;
                                }
                            }
                        }
                        .option-box{
                            &.hide-list{
                                .ycheck{
                                    width: 49.5%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 1024px){
    .full-filter{
        .filter_search{
            .search-helper-station{
                .search-helper{
                    &.pin{
                        width: calc(100% - 3% *2);
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 945px){
    .full-filter{
        .filter_search{
            border-radius: 0px;
            .filter_search_filter{
                .yexpanded_sidebar{
                    width: 35%;
                }
                .yexpanded_content{
                    width: 62%;
                    .option-row{
                        .option-box{
                            &.hide-list{
                                .ycheck{
                                    width: 100%;
                                }
                            }
                        }

                        &.regions{
                            .option-box{
                                width: 49.5%;
                                &:nth-child(-n+2){
                                    margin-bottom: 15px;
                                }
                                &:last-child{
                                    width: 49.5%;
                                    margin-top: 0px;
                                    .regionsList{
                                        display: block;
                                    }
                                }
                            }
                        }
                        &.techs{
                            .option-box{
                                width: 49%;
                                margin-right: 0.33%;
                                margin-bottom: 15px;
                            }
                        }
                    }
                }
            }
            .search-helper-station{
                .search-helper{
                    &.pin{
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px){
    .full-filter{
        .filter_search{
            .filter_search_filter{
                flex-direction: column;
                .ysearch_type_btn{
                    width: 100%;
                    display: flex;
                    background-color: $box-bg;
                    margin-bottom: 15px;
                    overflow: hidden;
                    border-radius: 10px;
                    .change_type{
                        width: 100%;
                        height: 42px;
                        font-family: $aleg;
                        font-weight: 500;
                        font-size: em(18);
                        line-height: 18px;
                        &.active{
                            background: #0B3F8D;
                            color: #FFFEFE;
                        }
                    }
                }
                .option-row{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    h2.option-title{
                        font-family: $aleg;
                        line-height: em(22);
                        font-weight: 500;
                        font-size: em(22);
                        color: $filtergray;
                        margin: 0 0 8px;
                    }
                }

            }
            .search-helper-station{
                .search-helper{
                    &.pin{
                        width: 100%;
                    }
                }
            }
        }
    }
}
